<!-- <div class="well container">
  <form [formGroup]="myFormGroup" (ngSubmit)="submit(myFormGroup)" submitted=true enctype="multipart/form data"
    action="/" style="width: 100%;">

    <div class="row">
      <div class="form-group" class="col-xs-2"></div>

      <button type="submit" class="btn btn-primary">
        send
      </button>
    </div> -->
<!-- <div class="form-group" class="col-xs-5">

      <button type="button" (click)="save()" class="btn btn-primary">
        Save
      </button>
      <button type="button" (click)="refreshAll()" class="btn btn-primary">
        Refresh
      </button>
      Total Count : {{totalCountOfLines}}
    </div> -->

<!-- <div class="form-group" class="col-xs-5">

      <button type="button" (click)="get()" class="btn btn-primary">
        Show Chat
      </button>
    </div>

  </form> -->
<!-- Arr -->

<!-- <input type="text" [(ngModel)]="numberr">
  <button type="button" (click)="numbers()" class="btn btn-primary">
    Add numbers
  </button>
  <div class="well">
    <input type="text" [(ngModel)]="numberr">
    <input type="number" [(ngModel)]="howMany">
    <button type="button" (click)="numbersAdv()" class="btn btn-primary">
      Adv numbers
    </button>
  </div>
  <div class="well">
    <input type="text" [(ngModel)]="numberString">
    <button type="button" (click)="numbersAdv2()" class="btn btn-primary">
      Adv2 numbers
    </button>
  </div>
  <div *ngFor="let i of arrayOfNumbers">
    {{i}}
  </div> -->
<!-- Arr -->
<!-- </div> -->

<!-- <div>
  <button (click)="pdf()">Click</button>
</div> -->

<!-- <div class="msg-overflow">
  <main class="msger-chat" *ngFor="let i of oldData" class="expansion-class">

    <div class="msg left-msg" *ngIf="i.Name==='Shubham'">

      <div class="msg-bubble">
        <div class="msg-info">

          <div class="msg-info-name">{{i.Name}}</div>


        </div>
        <div class="msg-text">
          {{i.Text}}
        </div>
      </div>

    </div>


    <div class="msg right-msg" *ngIf="i.Name==='Anuja'">

      <div class="msg-bubble">
        <div class="msg-info">
          <div class="msg-info-name">{{i.Name}}</div>


        </div>
        <div class="msg-text">
          {{i.Text}}
        </div>
      </div>

    </div>
  </main>
</div> -->