button{
    border-radius: 100px;
}

.table-header{
  background-color: orange;
  color: white;
  font-weight: bold;
}

.table-wrapper-scroll-y {
  display: block;
  max-height: 350px;
  overflow-y: auto;
}
