<nav class="navbar navbar-inverse" style="margin-bottom: 0px;">

  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand">Nitin Roadways</a>
    </div>

    <ul class="nav navbar-nav">

      <li class="dropdown">
          <a>Welcome {{username}}</a>
      </li>

      <li class="dropdown">
        <a (click)="logout()">Logout
      </a>
    </li>
    </ul>
  </div>
</nav>

<div class="well">
  <form [formGroup]="myFormGroup" submitted=true
    enctype="multipart/form data" action="/">

   <div class="form-group row" >

        <div class="col-xs-2">
          <label for="qr"> Enter All QR codes to Track </label>
        </div>

        <div class="col-xs-3">
          <input type="number" class="form-control" formControlName="qr">
          <button class="btn btn-success" (click)="addlrno()">Add</button>
        </div>

        <div class="col-xs-3">
          <table class="table table-bordered">
            <tr>
              <th>Sr</th>
              <th>QR</th>
              <th>Delete</th>
            </tr>
            <tr *ngFor="let i of qrs;let j = index;">
              <td>{{j+1}}</td>
              <td>{{i}}</td>
              <td><button class="btn btn-danger" (click)="deleteQR(i,j)">Delete</button></td>
            </tr>
          </table>
        </div>

      </div>


    <div class="row">
      <div class="form-group" class="col-xs-3">
        <button class="btn btn-primary" (click)="find()" [disabled]='!myFormGroup.valid'>
          <i class="material-icons">send</i>
        </button>
      </div>
      </div>

  
  </form>



</div>

<div class="well" *ngIf="data">

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Sr</th>
        <th>Loading Date</th>
        <th>Truck No</th>
        <th>QR</th>
        <th>Destination</th>
        <th>LRNO</th>
        <th>Vehicle Status</th>
        <th>Vehicle Travel Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of qrdata;let j=index;">
        <td>{{j+1}}</td>
        <td>{{i.loadingDate}}</td>
        <td>{{i.truckno}}</td>
        <td>
          <ul *ngFor="let q of i.qr;">
            <li>{{q}}</li>
          </ul></td>
        <td>{{i.v1}}</td>
        <td>{{i.lrno}}</td>
        <td>
          <ul *ngFor="let q of i.currentVehicleStatusforLoading;">
            <li [ngStyle]="{'color': q.split('_')[1] }">{{q.split('_')[0]}}</li>
          </ul></td>
          <td>
            <ul *ngFor="let q of i.currentVehicleStatus;">
              <li>{{q.locationDate|date:'dd-MM-yyyy'}}-{{q.locations}}</li>
            </ul></td>
      </tr>
    </tbody>
  </table>
</div>
<!-- 
8736073593 -->

