<div class="well" style="width:100%;background-color: balck;color: wheat;" *ngIf="!show">

  <div class="form-group row">
    <div class="col-sm-5">
      <select class="form-control" [(ngModel)]="displayType" (change)="findOption()">
        <option *ngFor="let i of displayoptions;let j = index;" value={{i.value}}>{{i.viewvalue}}</option>
      </select>
    </div>
  </div>


  <div class="row" *ngIf="buttonOption=='2'">
    <span style="font-weight: bold;">{{createdDate|date:'dd-MM-yyyy'}}</span>
    <div *ngIf="yeardiv">
      <div class="col-sm-2" *ngFor="let i of years">
        <button mat-raised-button class="btn btn-warning" style="margin:1vh;" (click)="find2(i,'year')">{{i}}</button>
      </div>
    </div>
    <div *ngIf="monthdiv">
      <div class="col-sm-2" *ngFor="let i of actualMonths">
        <button mat-raised-button class="btn btn-warning"
          [ngStyle]="{'background-color': i.print ? '#5CB85C' : '#D9534F'}"
          (click)="find2(i,'month')">{{i.name}}</button>
      </div>
      <div class="col-sm-3">
        <button class="btn btn-danger" style="width:100%" (click)="back('year')">Back</button>
      </div>
    </div>
    <div *ngIf="daydiv">
      <div class="col-sm-3" *ngFor="let i of dayData" style="margin-bottom: 2vh;">
        <button class="btn btn-warning" style="width:100%" [ngStyle]="{'background-color': i.color}"
          (click)="find2(i,'day')" [disabled]="i.data=='NA'">{{i._id}} : {{i.data}}</button>
      </div>
      <div class="col-sm-3">
        <button class="btn btn-danger" style="width:100%" (click)="back('month')">Back</button>
      </div>
    </div>
  </div>


  <div class="row" *ngIf="buttonOption=='1'">
    <div class="row" *ngIf="printInfo">

      <div class="col-xs-3" align="center">
        <input type="date" [(ngModel)]="selectedDate">
      </div>

      <div class="col-xs-2" align="center">
        <button class="btn btn-warning" (click)="find()">Find</button>
      </div>
      <div class="col-sm-5">
        <select class="form-control">
          <option *ngFor="let jj of DuesT;">
            {{jj.date}}-{{jj.amt}},{{jj.pending}}->{{jj.reason}}->{{jj.truckno}}
          </option>
        </select>
      </div>
      <div class="col-xs-2" align="center" *ngIf="!duesButton">
        <button class="btn btn-warning" (click)="getDues()">Dues</button>
      </div>
      

      </div>
      <div class="row">
        <div class="col-xs-2" align="center">
          <button class="btn btn-danger" (click)="download(true)" *ngIf="showPDFButton">PDF</button>
        </div>
        <div class="col-xs-2" align="center">
          <button class="btn btn-danger" (click)="download(false)" *ngIf="showPDFButton">PDF-Mail</button>
        </div>
      <div class="col-xs-2" align="center">
        <button class="btn btn-danger" (click)="adminAccess()"*ngIf="showPDFButton">Admin</button>
      </div>
      <div class="col-xs-2" align="center">
        <button class="btn btn-danger" (click)="printUpdate()"*ngIf="showPDFButton"
          [ngStyle]="{'background-color': !printed ? 'red' : 'wheat' }" [disabled]="printed">Print</button>
      </div>
    </div>

    <div style="text-align: center">
      <h3>{{selectedDate|date:'dd-MM-yyyy'}}</h3>
      <table class="table table-bordered" style="width:100%" align="center">

        <thead class="table-header">
          <tr>
            <th>Srno</th>
            <th>Amount</th>
            <th>Comments</th>
            <th>Date</th>
            <th>Truckno</th>
            <th>AccountNo-IFSC</th>
            <th *ngIf="admin">Delete Admin</th>
            <th *ngIf="admin">Edit Admin</th>
          </tr>
        </thead>


        <tbody>
          <tr *ngFor="let i of balanceDate;let j = index"
            [ngStyle]="{'color': i.comments==='cancel' ? 'red' : 'wheat' }">
            <td (click)="tempDelete(j)">{{j+1}}</td>
            <td>
              <ul *ngFor="let k of i.truckData">
                <li>{{k.pochAmount}}+{{k.return_hamali}}={{k.total}}</li>
              </ul>              
            </td>
            <td>
              <ul *ngFor="let k of i.truckData">
                <li>{{k.parentAccNo}}:{{k.remark}}</li>
              </ul>              
            </td>
            <td>
              <ul *ngFor="let k of i.truckData">
                <li>{{k.date|date:'dd-MM-yyyy'}}</li>
              </ul>
            </td>

            <td>
              <ul *ngFor="let k of i.truckData;let o = index;">
                <li>{{k.truckno}} <input type="checkbox" [checked]="k.pay" id="m_{{j}}_{{o}}"><br>
                  <span style="color:red;">{{k.remark}}</span>
                  <br>
                  <select [(ngModel)]="dueChangeValue" (change)="dueChange()">
                    <option *ngFor="let jj of k.dues;let z = index;" value={{j}}_{{o}}_{{z}}_{{jj._id}}>
                      {{jj.date}}-{{jj.amt}},{{jj.pending}}->{{jj.reason}}
                    </option>
                  </select>
                  <button class="btn btn-danger" *ngIf="addDueDetailsTF" data-toggle="modal" data-target="#myModalDD">Due Details</button>
                </li>
              </ul>
            </td>

            
            <td>{{i.accountName}}<br>{{i.accountNumber}}-{{i.ifsc}}</td>
            <td>
              <button mat-raised-button type="button" (click)="deleteBHComplete(i,j)"
                class="btn-danger btn-sm btn-just-icon" *ngIf="admin">
                <i class="material-icons">delete_forever</i>
              </button>
            </td>
            <td>
              <button mat-raised-button (click)="showDatabyidEditForm(i,j)" *ngIf="admin"
                class="btn-primary btn-sm btn-just-icon">
                <i class="material-icons">edit</i>
              </button>
            </td>

          </tr>
        </tbody>
      </table>
      <div class="col-sm-3" *ngIf="adminA">
        <button class="btn btn-danger" style="width:100%" (click)="pay()">Pay</button>
      </div>
    </div>
    <div class="col-sm-3" *ngIf="daydiv">
      <button class="btn btn-danger" style="width:100%" (click)="back('day')">Back</button>
    </div>
  </div>
</div>


  <div class="well" *ngIf="buttonOption=='2'">  
    <div class="row">
      <h3>Update Actual Payment</h3>
     
      <div class="well"  *ngIf="actualPayment">
       
        <div class="row">
        <div class="col-sm-3">
          Select Poch Date To Procees :
          <input type="date" class="form-control" [(ngModel)]="selectedPochDate" (change)="fetchPendinActualPayments()">  
        </div> 
        <div class="col-sm-3">
          Select Actual Payment Date and Amount
          <input type="date" class="form-control" [(ngModel)]="selectedPaymentDate" (change)="paymentDateAmount()">  
          <input type="number" class="form-control" [(ngModel)]="selectedPaymentAmount" (change)="paymentDateAmount()"> 
        </div> 
        <div class="col-sm-2">
          <button class="btn btn-success" [disabled]="!showpaymentButton" (click)="sendDatatoUpdate()">Send</button>
        </div>
        <div class="col-sm-2">
          Appx Amount : <input [(ngModel)]="defaultAmt" disabled>
          <button class="btn btn-success" (click)="copyAmount()">Copy Amount</button>
        </div>
        <div class="col-sm-2">
          <select class="form-control" [(ngModel)]="statusOfPoch">
            <option>Okay</option>
            <option>Damage</option>
            <option>Shortage</option>
            <option>Diesel</option>
            <option>Loan</option>
            <option>Double Load</option>
            <option>Late</option>
            <option>To Pay</option>
          </select>
        </div>
      </div>
        
          <div class="row" *ngIf="paymentSettings">

            <h4>Selected Trucks for Payment</h4>
          <table class="table" style="width:100%" align="center" *ngIf="saveArrayData">

            <thead class="table-header">
                <tr>
                    <th>Srno</th>
                    <th>Truckno</th>
                    <th>Date</th>
                    <th>Party:Type:Place</th>
                    <th>Poch:Pgno</th>
                    <th>Option</th>
                </tr>
            </thead>
    
    
            <tbody>
                <tr *ngFor="let i of saveArray;let j = index">
                    <td>{{j+1}}</td>
                    <td>{{i.truckno}}</td>
                    <td>{{i.loadingDate|date:'dd-MM-yyyy'}}</td>
                    <td>{{i.party}}<br>{{i.place}}</td>
                    <td>{{i.pochDate|date:'dd-MM-yyyy'}}<br>{{i.pgno}}<br>{{i.BHAmount}}</td>
                    <td><button class="btn btn-danger" (click)="deletetosavearray(i,j)">Delete</button></td>
                </tr>
            </tbody>
        </table>  

            <h4>Select Trucks to update the payment Date</h4>
            <table class="table" style="width:100%" align="center">
              <thead class="table-header">
                  <tr>
                      <th>Srno</th>
                      <th>Truckno</th>
                      <th>Date</th>
                      <th>Party:Type:Place</th>
                      <th>Poch</th>
                      <th>Option</th>
                  </tr>
              </thead>
      
      
              <tbody>
                  <tr *ngFor="let i of fullpendingPayment;let j = index">
                      <td>{{j+1}}</td>
                      <td (click)="addtosavearray(i,j)">{{i.truckno}}</td>
                      <td>{{i.loadingDate|date:'dd-MM-yyyy'}}</td>
                      <td>{{i.party}}<br>{{i.place}}</td>
                      <td>{{i.pochDate|date:'dd-MM-yyyy'}}<br>{{i.BHAmount}}</td>
                      <td><button class="btn btn-warning" (click)="addtosavearray(i,j)">Add</button></td>
                  </tr>
              </tbody>
          </table>  

          </div>
      </div>
    </div>
    </div>
<!--  -->
    <!-- <div class="well" *ngIf="buttonOption=='2'">  
      <div class="row"> -->
        <!-- <h3>Update Actual Payment</h3>
       
        <div class="well"  *ngIf="actualPayment"> -->
         
          <!-- <div class="row">
          <div class="col-sm-3">
            Select Poch Date To Procees :
            <input type="date" class="form-control" [(ngModel)]="selectedPochDate" (change)="fetchPendinActualPayments()">  
          </div> 

       
          <div class="col-sm-3">
            Select Actual Payment Date and Amount
            <input type="date" class="form-control" [(ngModel)]="selectedPaymentDate" (change)="paymentDateAmount()">  
            <input type="number" class="form-control" [(ngModel)]="selectedPaymentAmount" (change)="paymentDateAmount()"> 
          </div> 
          <div class="col-sm-2">
            <button class="btn btn-success" [disabled]="!showpaymentButton" (click)="sendDatatoUpdate()">Send</button>
          </div>
          <div class="col-sm-2">
            Appx Amount : <input [(ngModel)]="defaultAmt" disabled>
            <button class="btn btn-success" (click)="copyAmount()">Copy Amount</button>
          </div>
          <div class="col-sm-2">
            <select class="form-control" [(ngModel)]="statusOfPoch">
              <option>Okay</option>
              <option>Damage</option>
              <option>Shortage</option>
              <option>Diesel</option>
              <option>Loan</option>
              <option>Double Load</option>
              <option>Late</option>
              <option>To Pay</option>
            </select>
          </div>
        </div> -->
          
            <!-- <div class="row">
  
              <h4>Selected Trucks for Payment</h4>

              <button class="btn btn-success" (click)="sendDatatoUpdate()">Send</button>

            <table class="table" style="width:100%" align="center" *ngIf="paymentSettings">
  
              <thead class="table-header">
                  <tr>
                      <th>Srno</th>
                      <th>Truckno</th>
                      <th>Date</th>
                      <th>Party:Type:Place</th>
                      <th>Poch:Pgno</th>
                      <th>Option</th>
                  </tr>
              </thead>
      
      
              <tbody>
                  <tr *ngFor="let i of fullpendingPayment;let j = index">
                      <td>{{j+1}}</td>
                      <td>{{i.truckno}}</td>
                      <td>{{i.loadingDate|date:'dd-MM-yyyy'}}</td>
                      <td>{{i.party}}<br>{{i.place}}</td>
                      <td>{{i.pochDate|date:'dd-MM-yyyy'}}<br>{{i.pgno}}<br>{{i.BHAmount}}</td>
                      <td> <input type="date" class="form-control" id="date_{{j}}" (change)="paymentDateAmount()">  
                      <input type="number" class="form-control" id="amt_{{j}}" (change)="paymentDateAmount()"> 
                      <select class="form-control" id="status_{{j}}" (change)="paymentDateAmount()">
                        <option value="Okay">Okay</option>
                        <option value="Damage">Damage</option>
                        <option value="Shortage">Shortage</option>
                        <option value="Diesel">Diesel</option>
                        <option value="Loan">Loan</option>
                        <option value="Double Load">Double Load</option>
                        <option value="Late">Late</option>
                        <option value="To Pay">To Pay</option>
                      </select></td>
                  </tr>
              </tbody>
          </table>  
  

  
            </div> -->
        <!-- </div> -->
      <!-- </div>
      </div> -->

    <div class="well" *ngIf="buttonOption=='3'">  
      <div class="row">
        <h3>Balance Message</h3>
        <div class="row">
          <div class="col-sm-3">
            <button class="btn btn-warning" (click)="fetchDonePayments()">Get Data</button>
          </div> 
        </div>
        <div class="well"  *ngIf="actualPaymentTable">
          <button class="btn btn-warning" (click)="downloadEmptyContacts()">Download Empty Contacts</button>
              <table class="table" style="width:100%" align="center">
                <thead class="table-header">
                  <tr>
                    <th>Srno</th>
                    <th>Loading Date</th>
                    <th>Truckno</th>
                    <th>Place</th>
                    <th>PochDate</th>
                    <th>Payment </th>
                    <th>Status</th>
                    <th>Media</th>
                    <th>Edit</th>
                  </tr>
                </thead>
        
                <tbody>
                    <tr *ngFor="let i of fullPaymentDone;let j = index">
                        <td>{{j+1}}</td>
                        <td>{{i.loadingDate|date:'dd-MM-yyyy'}}</td>
                        <td>{{i.truckno}}</td>
                        <td>{{i.vsname}}-<span *ngIf="i.vsname2!==undefined">{{i.vsname2}}-</span>{{i.typeOfLoad}}</td>
                        <td>{{i.pochDate|date:'dd-MM-yyyy'}}</td>
                        <td>{{i.actualPaymentDate|date:'dd-MM-yyyy'}}<br>{{i.actualPaymentAmount}}<br><span *ngIf="i.advanceArray[0]!==undefined">{{i.advanceArray[0]['advanceAmt']}}</span></td>
                        <td>{{i.statusOfPoch}}</td>
                        <td>
                          <ul *ngFor="let k of i.contact">
                            <li>
                              {{k}}
                              <button class="btn btn-success" style="border-radius: 33px;" *ngIf="!i.pmtMsgWA" (click)="sendMsg(k,'wa',i)"><span class="material-icons">whatsapp</span></button>
                              <button class="btn btn-success" style="border-radius: 33px;" *ngIf="!i.pmtMsgText" (click)="sendMsg(k,'txt',i)"><i class="material-icons">chat</i></button>
                            </li>
                          </ul>
                        </td>
                        <td>
                          <select class="form-control" [(ngModel)]="updateMsgType" *ngIf="i.contact.length>0">
                            <option value="pmtMsgText">Text</option>
                            <option value="pmtMsgWA">Whatsapp</option>
                            <option value="Both">Both</option>
                        </select>
                        <button class="btn btn-warning" *ngIf="i.contact.length>0" (click)="updatePaymentMsg(i,j)">Update</button>
                        <button class="btn btn-warning" *ngIf="i.contact.length==0" (click)="forse(i,j)">Force!</button>
                      </td>
                    </tr>
                </tbody>
            </table>  
        </div>
      </div>
      </div>

      <div class="well" *ngIf="buttonOption=='4'">  
        <div class="row">
          <h3>Advance Payment</h3>
         <button class="btn btn-warning" (click)="getTrucks()">Get Trucks</button>
          <div class="well"  *ngIf="advancePayment">
           
                <table class="table" style="width:100%" align="center">
                  <thead class="table-header">
                      <tr>
                          <th>Srno</th>
                          <th>Truckno</th>
                          <th>Amount</th>
                          <th>Date</th>
                          <th>Contact</th>
                          <th>Option</th>
                          <th>RC/Pan/DL</th>
                      </tr>
                  </thead>
          
          
                  <tbody>
                      <tr *ngFor="let i of alltrucks;let j = index">
                          <td>{{j+1}}</td>
                          <td>{{i.truckno}}</td>
                          <td><input type="number" id="advAmt_{{j}}"></td>
                          <td><input type="date" id="advDate_{{j}}"></td>
                          <td><input type="number" id="advContact_{{j}}" *ngIf="i.contact.length==0">
                          <ul *ngFor="let k of i.contact">
                            <li>{{k}}</li>
                          </ul>
                        </td>
                        <td><input type="number" id="advContactO_{{j}}" *ngIf="i.contactO.length==0">
                          <ul *ngFor="let k of i.contactO">
                            <li>{{k}}</li>
                          </ul>
                        </td>
                          <td><button class="btn btn-warning" (click)="advancePaymentDone(i,j)">Add</button></td>
                          <td>
                            <i class="material-icons" *ngIf="i.rc" style="color: green;">done</i>
                            <i class="material-icons" *ngIf="!i.rc" style="color: red;">close</i>
                            <i class="material-icons" *ngIf="i.pan" style="color: green;">done</i>
                            <i class="material-icons" *ngIf="!i.pan" style="color: red;">close</i>
                            <i class="material-icons" *ngIf="i.lc" style="color: green;">done</i>
                            <i class="material-icons" *ngIf="!i.lc" style="color: red;">close</i>
                          </td>
                      </tr>
                  </tbody>
              </table>  
    
          </div>
        </div>
        </div>

        <div class="well" *ngIf="buttonOption=='5'">  
          <div class="row">
            <h3>Balance Message</h3>
            <div class="row">
              <div class="col-sm-3">
                <button class="btn btn-warning" (click)="fetchDonePaymentsAdv()">Get Data</button>
              </div> 
            </div>
            <div class="well"  *ngIf="advancePaymenttoTruck">
              <button class="btn btn-warning" (click)="downloadEmptyContactsAdv()">Download Empty Contacts</button>
                  <table class="table" style="width:100%" align="center">
                    <thead class="table-header">
                      <tr>
                        <th>Srno</th>
                        <th>Truckno</th>
                        <th>Advance Amt</th>
                        <th>Advance Date</th>
                        <th>Contact</th>
                        <th>ContactOwner</th>
                        <th>Media</th>
                        <th>Edit</th>
                      </tr>
                    </thead>
            
                    <tbody>
                        <tr *ngFor="let i of fullAdvDone;let j = index">
                            <td>{{j+1}}</td>
                            <td>{{i.truckno}}</td>
                            <td>{{i.advanceAmt}}</td>
                            <td>{{i.advanceDate}}</td>
                            <td>
                              <ul *ngFor="let k of i.contact">
                                <li>
                                  {{k}}
                                  <button class="btn btn-success" style="border-radius: 33px;" (click)="sendMsgA(k,'wa',i)"><span class="material-icons">whatsapp</span></button>
                                  <button class="btn btn-success" style="border-radius: 33px;" (click)="sendMsgA(k,'txt',i)"><i class="material-icons">chat</i></button>
                                </li>
                              </ul>
                            </td>
                            <td>
                              <ul *ngFor="let m of i.contactO">
                                <li>
                                  {{k}}
                                  <button class="btn btn-success" style="border-radius: 33px;" (click)="sendMsgA(m,'wa',i)"><span class="material-icons">whatsapp</span></button>
                                  <button class="btn btn-success" style="border-radius: 33px;" (click)="sendMsgA(m,'txt',i)"><i class="material-icons">chat</i></button>
                                </li>
                              </ul>
                            </td>
                            <td>
                              <select class="form-control" [(ngModel)]="updateMsgTypeA" *ngIf="i.contact.length>0">
                                <option value="Text">Text</option>
                                <option value="Whatsapp">Whatsapp</option>
                            </select>
                            <button class="btn btn-warning" *ngIf="i.contact.length>0" (click)="updatePaymentMsgAdv(i,j)">Update</button>
                          </td>
                        </tr>
                    </tbody>
                </table>  
            </div>
          </div>
          </div>

          <div class="well" *ngIf="buttonOption=='6'">  
            <div class="row">
              <h3>Balance Message</h3>
              <div class="row">
                <div class="col-sm-3">
                  <!-- <button class="btn btn-warning" (click)="fetchLoadedTruck()">Get Data</button>
                  <button class="btn btn-warning" (click)="fetchparty()">Form-2</button> -->
                  <button class="btn btn-warning" (click)="fetchpasteAndSend()">Paste And Send</button>
                </div> 
              </div>
              <div class="well"  *ngIf="fetchLoadedTruckTF">
                    <table class="table" style="width:100%" align="center">
                      <thead class="table-header">
                        <tr>
                          <th>Srno</th>
                          <th>Truckno</th>
                          <th>Party</th>
                          <th>QR</th>
                          <th>Media</th>
                          <th>Edit</th>
                        </tr>
                      </thead>
              
                      <tbody>
                          <tr *ngFor="let i of currentLoadedParty;let j = index">
                              <td>{{j+1}}</td>
                              <td>
                                {{i.truckno}}
                                <input type="number" value={{i.contact}} id="contact_{{j}}">
                              </td>
                              <td>
                                  {{i.partyName}}
                                  <ul *ngFor="let kk of i.contactP"><li>{{kk}}<button class="btn btn-success" style="border-radius: 33px;" (click)="sendMsgP(kk,'wa',i,j,1)"><span class="material-icons">whatsapp</span></button></li></ul>
                              </td>
                              <td><input type="number" id="qr_{{j}}"></td>
                              <td><button class="btn btn-warning" *ngIf="i.contactP.length>0" (click)="updatePaymentMsgParty(i,j)">Update</button></td>
                          </tr>
                      </tbody>
                  </table>  
              </div>

              <div class="well"  *ngIf="fetchPartyTF">
                <div class="row">
                  <div class="col-sm-4">Truck No : <input type="text" id="truck_000" class="form-control"></div>
                  <!-- <div class="col-sm-4"><button class="btn btn-warning" (click)="getTruckDetails()">Get Details!</button></div> -->
                </div>  

                <div class="row">
                  <div class="col-sm-4">ContactD : <input type="number" id="contact_000" class="form-control"></div>
                </div>  

                <div class="row">
                  <div class="col-sm-4">Type of Load : 
                    <select class="form-control" [(ngModel)]="typeOfLoad">
                      <option value="Default">Default</option>
                      <option value="Pipe">Pipe</option>
                      <option value="Fittings">Fittings</option>
                      <option value="Other">Other</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-4">QR : <input type="number" [(ngModel)]="qr" class="form-control"></div>
                </div>  

                <div class="row">
                  <div class="col-sm-4">Location 1 : <input type="text" [(ngModel)]="dest1" class="form-control"></div>
                </div>  
                <div class="row">
                  <div class="col-sm-4">Location 2:<input type="text" [(ngModel)]="dest2" class="form-control"></div>
                </div>  
                
               
                <!-- <div class="row">
                  <div class="col-sm-4">
                    Party : 
                  <select id="partyName" class="form-control " [(ngModel)]="partyName" (change)="setPartyName()">
                    <option value="Default">Default</option>
                    <option *ngFor="let i of gstdetailslist;let j = index;" value={{i._id}}+{{j}}>{{i.name}}</option>
                  </select>
                </div>
                </div>  -->
                <div class="row">
                  <div class="col-sm-4">Party Contact : <input type="number" [(ngModel)]="contactP" class="form-control"></div>
                </div>  
                <div class="row">
                  <div class="col-sm-4">
                    <button class="btn btn-danger" (click)="Whatsapp()">Send</button>
                  </div>
                </div>  
                
              </div>

              <div class="well"  *ngIf="pasteAndSend">
                <div class="row">
                  <input type="text" class="col-sm-12 form-control" [(ngModel)]="pasteAndSendV">
                </div>  

                <div class="row">
                  <div class="col-sm-4">
                    <button class="btn btn-danger" (click)="Whatsapp2()">Send</button>
                  </div>
                </div>  

              </div>
            </div>
            </div>


            <div class="well" *ngIf="buttonOption=='7'">  
              <div class="row">
                <h3>Update Actual Payment</h3>
               
                <div class="well"  *ngIf="actualPayment">
                 
                  <div class="row">
                  <div class="col-sm-3">
                    <button class="btn btn-warning" (click)="fetchPendinAllActualPayments()">Click to Get All</button>
                  </div> 
                  <div class="col-sm-3">
                    Select Actual Payment Date and Amount
                    <input type="date" class="form-control" [(ngModel)]="selectedPaymentDate" (change)="paymentDateAmount()">  
                    <input type="number" class="form-control" [(ngModel)]="selectedPaymentAmount" (change)="paymentDateAmount()"> 
                  </div> 
                  <div class="col-sm-2">
                    <button class="btn btn-success" [disabled]="!showpaymentButton" (click)="sendDatatoUpdate()">Send</button>
                  </div>
                  <div class="col-sm-2">
                    Appx Amount : <input [(ngModel)]="defaultAmt" disabled>
                    <button class="btn btn-success" (click)="copyAmount()">Copy Amount</button>
                  </div>
                  <div class="col-sm-2">
                    <select class="form-control" [(ngModel)]="statusOfPoch">
                      <option>Okay</option>
                      <option>Damage</option>
                      <option>Shortage</option>
                      <option>Diesel</option>
                      <option>Loan</option>
                      <option>Double Load</option>
                      <option>Late</option>
                      <option>To Pay</option>
                    </select>
                  </div>
                </div>
                  
                    <div class="row" *ngIf="paymentSettings">
          
                      <h4>Selected Trucks for Payment</h4>
                    <table class="table" style="width:100%" align="center" *ngIf="saveArrayData">
          
                      <thead class="table-header">
                          <tr>
                              <th>Srno</th>
                              <th>Poch</th>
                              <th>Truckno</th>
                              <th>Date</th>
                              <th>Party:Type:Place</th>
                              <th>Option</th>
                          </tr>
                      </thead>
              
              
                      <tbody>
                          <tr *ngFor="let i of saveArray;let j = index">
                              <td>{{j+1}}</td>
                              <td>{{i.pochDate|date:'dd-MM-yyyy'}}<br>{{i.BHAmount}}</td>
                              <td>{{i.truckno}}</td>
                              <td>{{i.loadingDate|date:'dd-MM-yyyy'}}</td>
                              <td>{{i.party}}<br>{{i.place}}</td>
                              <td><button class="btn btn-danger" (click)="deletetosavearray(i,j)">Delete</button></td>
                          </tr>
                      </tbody>
                  </table>  
          
                      <h4>Select Trucks to update the payment Date</h4>
                      <table class="table" style="width:100%" align="center">
                        <thead class="table-header">
                            <tr>
                                <th>Srno</th>
                                <th>Poch</th>
                                <th>Truckno</th>
                                <th>Date</th>
                                <th>Party:Type:Place</th>
                                <th>Option</th>
                            </tr>
                        </thead>
                
                
                        <tbody>
                            <tr *ngFor="let i of fullpendingPayment;let j = index">
                                <td>{{j+1}}</td>
                                <td>{{i.pochDate|date:'dd-MM-yyyy'}}<br>{{i.BHAmount}}</td>
                                <td (click)="addtosavearray(i,j)">{{i.truckno}}</td>
                                <td>{{i.loadingDate|date:'dd-MM-yyyy'}}</td>
                                <td>{{i.party}}<br>{{i.place}}</td>
                                <td><button class="btn btn-warning" (click)="addtosavearray(i,j)">Add</button></td>
                            </tr>
                        </tbody>
                    </table>  
          
                    </div>
                </div>
              </div>
              </div>


<div *ngIf="show">
  <router-outlet></router-outlet>
</div>

<div class="modal fade" id="myModalDD" role="dialog">
  <div class="modal-dialog">
  

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Due Details</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          Date : <input type="date" class="form-control" [(ngModel)]="dueMDate">
        </div>

        <div class="row">
          Pending Amout : <label class="form-control">{{dueInfoPending}}</label>
        </div>

        <div class="row">
          Due to Take : <input type="number" class="form-control" [(ngModel)]="dueMAmt">
        </div>
       
      </div>

      <div class="modal-footer">
        <button class="btn btn-warning" (click)="storeDue()">Store</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>