<div class="well">



<div class="well">
  <div class="row">
    <div class="col-sm-3">
      <button class="btn btn-danger" (click)="getDoubts()">Get Doubts TB</button>
      </div>
      <div class="col-sm-3">
        <button class="btn btn-danger" (click)="getDoubtsOD()">Get Doubts OD</button>
    </div>
    <div class="col-sm-3">
      <select class="form-control" [(ngModel)]="displayType">
        <option *ngFor="let i of options;let j = index;" value={{i.value}}>{{i.viewValue}}</option>
      </select>
    </div>

    <div class="col-sm-3">
      <select class="form-control" [(ngModel)]="partyType">
        <option value="">All</option>
        <option value="NRCM">NRCM</option>
        <option value="NR">NR</option>
        <option value="SNL">SNL</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <button class="btn btn-danger" (click)="getData()">Get Places</button>
      </div>

      <div class="col-sm-3">
        <button class="btn btn-danger" (click)="findData()">Get Data!</button>
        </div>
  </div>
</div>
</div>

<div class="well" *ngIf="mainTable">
  <button class="btn btn-warning" (click)="updatetruckformat()">Update TD</button>
  <button class="btn btn-warning" (click)="updateAllOKAY()">All OK</button>

  <table class="table" >
    <thead>
      <tr>
        <th>Srno</th>
        <th>TruckNo</th>
        <th>Party Name</th>
        <th>Date</th>
        <th>{{buttonValue}}</th>
        <th>New-{{buttonValue}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ii of showData;let jj=index;">
        <td>{{jj+1}}-{{ii.partyType}}</td>
        <td>{{ii.datetruck.split('_')[1]}}</td>
        <td>{{ii.party}}</td>
        <td *ngIf="buttonOption==='2'">{{ii.typeOfLoad}}</td>
        <td>{{ii.loadingDate|date:'dd-MM-yyyy'}}</td>
        <td *ngIf="buttonOption==='1'">{{ii.lrno}}</td>
        <td *ngIf="buttonOption==='2'">{{ii.typeOfLoad}}</td>
        <td *ngIf="buttonOption==='3'">{{ii.place1}}</td>
        <td *ngIf="buttonOption==='4'">{{ii.place2}}</td>
        
        <td *ngIf="buttonOption==='1'"><input type="number" placeholder="1234" id="lrno_{{jj}}"></td>

        <td *ngIf="buttonOption==='2'">
          <select id="typeOfLoad_{{jj}}" class="form-control">
            <option selected disabled>Select</option>
            <option value='Pipe'>Pipe</option>
            <option value='Fittings'>Fittings</option>
            <option value='Other'>Other</option>
            <option value='Bundle'>Bundle</option>
            <option value='FX'>FX</option>
          </select>
        </td>

        <td *ngIf="buttonOption==='3'">
          <select id="placeName1_{{jj}}" class="form-control">
            <option selected disabled>Select</option>
            <option *ngFor="let i of places;let j = index;" value={{i._id}}>{{i.village_name}}</option>
          </select>
        </td>
        <td *ngIf="buttonOption==='4'">
          <select id="placeName2_{{jj}}" class="form-control">
            <option selected disabled>Select</option>
            <option *ngFor="let i of places;let j = index;" value={{i._id}}>{{i.village_name}}</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="well" *ngIf="mainTable2">
  <button class="btn btn-warning" (click)="updatetruckformat1()">Update OD</button>
  <table class="table" >
    
    <thead>
      <tr>
        <th>Srno</th>
        <th>TruckNo</th>
        <th>To Change</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ii of data;let jj=index;">
        <td>{{jj+1}}</td>
        <td>{{ii.truckno}}</td>
        <td><input type="text" placeholder="TN10 BR 1212" id="truck_{{jj}}"></td>


      </tr>
    </tbody>
  </table>
</div>



























