<div class="well container">

  <form [formGroup]="myFormGroup" (ngSubmit)="change(myFormGroup)" submitted=true enctype="multipart/form data"
    action="/" name="myform" id="myform">


    <!-- turnbookDate-->
    <div class="form-group row">

      <div class="col-xs-2">
        <label for="turnbookDate"> Turn Book Date</label>
      </div>

      <div class="col-xs-3">
        <input type="date" id="turnbookDate" class="form-control" formControlName="turnbookDate" disabled>
      </div>


    </div>
    <!--turnbookDate -->

    <!-- loadingDate-->
    <div class="form-group row">

      <div class="col-xs-2">
        <label for="loadingDate"> Loading Date</label>
      </div>

      <div class="col-xs-3">
        <input type="date" id="loadingDate" class="form-control" formControlName="loadingDate">
      </div>

      <div class="col-xs-1">
        <div [hidden]="myFormGroup.controls.loadingDate.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>

    </div>
    <!--loadingDate -->

    <!--Truckno-->
    <div class="form-group row">

      <div class="col-xs-2">
        <label for="truckNo"> Truckno </label>
      </div>

      <div class="col-xs-3">
        <input type="text" id="text" class="form-control" formControlName="truckno" disabled>
      </div>

    </div>
    <!--Truckno-->

    <!--Place-->
    <div class="form-group row">
      <div class="col-xs-2">
        <label for="place"> Place </label>
      </div>
      <div class="col-xs-3">

        <select id="place" class="form-control" formControlName="place" (change)="setPlaceName()">
          <option disabled value="{{placeid}}" selected>{{place}}</option>
          <option *ngFor="let own of villagelist;let j = index;" value="{{own._id}}+{{j}}">{{own.village_name}}</option>
        </select>
      </div>
      <div class="col-xs-1">
        <div [hidden]="myFormGroup.controls.place.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>
    <!--place-->

    <!--Place-->
    <div class="form-group row">
      <div class="col-xs-2">
        <label for="partyType"> Party Type </label>
      </div>
      <div class="col-xs-3">

        <select id="partyType" class="form-control" formControlName="partyType">
          <option>NRCM</option>
          <option>NR</option>
        </select>
      </div>
    </div>
    <!--place-->




    <!--NOP-->
    <div class="form-group row">

      <div class="col-xs-2">
        <label for="partyName"> Name of Party </label>
      </div>
      <div class="col-xs-3">
        <select id="partyName" class="form-control " formControlName="partyName" (change)="setPartyName()">
          <option selected disabled value={{partyid}}>{{party}}</option>
          <option *ngFor="let i of parties;let j = index;" value={{i._id}}+{{j}}>{{i.name}}</option>
        </select>
      </div>

      <div class="col-xs-1">
        <div [hidden]="myFormGroup.controls.partyName.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>
    <!--NOP-->
    <!--LRNO-->
    <div class="form-group row">

      <div class="col-xs-2">
        <label for="lrno"> LRNO </label>
      </div>

      <div class="col-xs-3">
        <input type="number" id="lrno" class="form-control" formControlName="lrno">
      </div>

    </div>
    <!--LRNO-->


    <!--Hire Amount-->
    <div class="form-group row" *ngIf="role==1||role==2">

      <div class="col-xs-1">
        <label for="hamt"> Hire Amount </label>
      </div>

      <div class="col-xs-6">
        <input type="number" class="form-control" formControlName="hamt" (change)="balance()" />

      </div>

      <div class="col-xs-1">
        <div [hidden]="myFormGroup.controls.hamt.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>

    </div>
    <!--HireAmount-->


    <!--Advance-->
    <div class="form-group row" *ngIf="role==1||role==2">

      <div class="col-xs-1">
        <label for="advance"> Advance </label>
      </div>

      <div class="col-xs-6">
        <input type="number" class="form-control" formControlName="advance" (change)="balance()" />

      </div>

      <div class="col-xs-1">
        <div [hidden]="myFormGroup.controls.advance.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>

    </div>
    <!--Advance-->

    <!--Balance-->
    <div class="form-group row" *ngIf="role==1||role==2">

      <div class="col-xs-1">
        <label for="balance"> balance </label>
      </div>

      <div class="col-xs-6">
        <input type="text" class="form-control" formControlName="balance" disabled />

      </div>

    </div>
    <!--Balaance-->

    <!-- DATE-->
    <div class="form-group row">

      <div class="col-xs-2">
        <label for="date"> Poch Date</label>
      </div>

      <div class="col-xs-3">
        <input type="date" id="pochDate" class="form-control" formControlName="pochDate">
      </div>

      <div class="col-xs-1">
        <div [hidden]="myFormGroup.controls.pochDate.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>

    </div>
    <!--DATE -->


    <!-- Check -->

    <div class="form-group row">

      <div class="col-xs-2">
        <label for="pochPayment"> Poch Payment </label>
      </div>

      <div class="col-xs-3">
        <input type="checkbox" id="pochPayment" class="form-control" formControlName="pochPayment" style="zoom:1.5">
      </div>

    </div>

    <!--  Check-->


    <div class="row">
      <div class="form-group" class="col-xs-2"></div>
      <div class="form-group" class="col-xs-1">
        <button type="submit" class="btn btn-primary" [disabled]='!myFormGroup.valid'>
          <i class="material-icons">send</i>
        </button>
      </div>
    </div>

  </form>



</div>