<div class="row">
  <div class="col-sm-4 col-xs-4">
      <select class="form-control" [(ngModel)]="fy">
          <option value='2025'>2025</option>
          <option value='2026' selected>2026</option>
  </select>
  </div>
  <div class="col-sm-4 col-xs-4">
    <select id="dest" class="form-control" [(ngModel)]="timeLog">
          <option value='01'>January</option>
            <option value='02'>February</option>
            <option value='03'>March</option>
            <option value='04'>April</option>
            <option value='05'>May</option>
            <option value='06'>June</option>
            <option value='07'>July</option>
            <option value='08'>August</option>
            <option value='09'>September</option>
            <option value='10'>October</option>
            <option value='11'>November</option>
            <option value='12'>December</option>
        </select>
  </div>
  <div class="col-sm-4 col-xs-4">
    <button style="width: 100%;border-radius: 1px;" class="btn btn-warning" (click)="fetchMain()">Find</button>
  </div>

        

</div>

<div class="well" *ngIf="mainData">
      <h3 style="text-align: center;color:wheat;">Details of {{timeLog}}-{{fy}}</h3>
      <div>
        <span style="background-color: green;height: 10px;width: 10px;display: block;">.</span>Payment Done
        <span style="background-color: orange;height: 10px;width: 10px;display: block;">.</span>POD Received, Payment Pending
        <span style="background-color: red;height: 10px;width: 10px;display: block;">.</span>POD Not Received.
      </div>
<div class="row" *ngFor="let i of alltrucks;let j = index">

        <div class="col-xs-6" style="background-color: orange;margin-bottom: 10px;color:black">
        
          <h3 style="text-align: center;color:black;">{{i.truckName}}</h3>
          <h5>{{i.loadingDate|date:'dd-MM-yy'}}->{{i.placeName}}</h5>

        </div>
        <div class="col-xs-6" style="background-color: orange;height: 82px;color:black">
          
          <button (click)="savePayment(i,j,'advanceArray')" data-toggle="modal" data-target="#myModalPay" style="border-radius: 0px;height: 82px;width: 50%;" [ngStyle]="{'background-color': i.advBalColor[1]}" class="btn btn-warning" (click)="fetchMain()">Advance</button>
          <button (click)="savePayment(i,j,'balanceArray')" data-toggle="modal" data-target="#myModalPay" style="border-radius: 0px;height: 82px;width: 50%;" [ngStyle]="{'background-color': i.advBalColor[0]}" class="btn btn-warning" (click)="fetchMain()">Balance</button>

        </div>

      </div>

    </div>



     <div class="modal fade" id="myModalPay" role="dialog">
              <div class="modal-dialog" style="width: 95%;">
              
            
                <div class="modal-content" style="background-color: black;color: wheat;">
                  <div class="modal-header">
                    <button style="color:black;" type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Payment Details for {{tempType}}</h4>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                    
                      <table>
                        <tr *ngFor="let i of advbalarray;let j=index;">
                          <th><button style="width: 100%;" class="btn btn-danger">{{i.date|date:'dd-MM-yyyy'}}->{{i.amount}}</button></th>
                          <th><button style="width: 100%;" class="btn btn-warning">{{i.reference}}</button></th>
                          <th><button style="width: 100%;" class="btn btn-success" (click)="bankRec(i)">
                              <i class="material-icons">file_download</i>
                          </button></th>
                        </tr>
                      </table>

                  </div>
                  </div>
                  <div class="modal-footer">
                    <button style="color:black;" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
                
              </div>
            </div>