<div class="well">
  <div class="header-head">
    <h1>Turn Book</h1>
    <button mat-raised-button class="btn-warning btn-sm btn-just-icon pull-right" routerLink="TurnBookAdd">
      <i class="material-icons">add</i>
    </button>
    <button mat-raised-button class="btn-danger btn-sm btn-just-icon pull-right"
      routerLink="TurnBookAddUpdateRequired">
      <i class="material-icons">add</i>
    </button>
    <button mat-raised-button class="btn-success btn-sm btn-just-icon pull-right" routerLink="TurnBookDispHandler">
      <i class="material-icons">desktop_windows</i>
    </button>
    <button mat-raised-button class="btn-success btn-sm btn-just-icon pull-right" (click)="reset()">
      <i class="material-icons">undo</i>
    </button>
  </div>
  <br />
  <div>
    <router-outlet></router-outlet>
  </div>
</div>