<div class="container-fluid ">
  <div class="row">

    <div class="form-group col-xs-2" align="center">

      <select class="form-control " [(ngModel)]="nofpid" (change)="find()">
        <option disabled>Select Name of Party</option>
        <option *ngFor="let mon of dailydatadetailsnamelist" value={{mon.name}}>{{mon.name}}</option>
      </select>

    </div>


  </div>


  <div *ngIf="!show && tabledata">
    <table class="table" style="width:100%" align="center">
      <thead>
        <tr class="table-header">
          <th>Srno</th>
          <th>Date</th>
          <th>Truck No</th>
          <th>Place</th>
          <th>Hire Amount</th>
          <th>Advance Amount</th>
          <th>Delete</th>
          <th>Update</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let i of dailydatadetails;let j = index">
          <td>{{j+1}}</td>
          <td>{{i.Date|date:'dd-MM-yyyy'}}</td>
          <td>{{i.TruckNo}}</td>
          <td>{{i.Dest}}</td>
          <td>{{i.hamt}}</td>
          <td>{{i.advamt}}</td>
          <td>
            <button mat-raised-button (click)="deleteDailyDataDetails(i._id)" class="btn btn-danger btn-sm btn-just-icon delete">
              <i class="material-icons">delete_forever</i>
            </button>
          </td>

          <td>
            <button mat-raised-button type="button" (click)="showDatabyid(i)" class="btn-primary btn-sm btn-just-icon edit">
              <i class="material-icons">edit</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>