<div class="row">
  <div class="col-sm-1">
    <button class="btn btn-success btn-block" routerLink="Advance_Normal">Display</button>
    <button class="btn btn-success btn-block" routerLink="Advance_Party_Display">Party</button>
    <button class="btn btn-success btn-block" routerLink="Advance_Truck">Truck</button>
    <button class="btn btn-success btn-block" routerLink="Advance_DateWise">Date</button>
    <button class="btn btn-success btn-block" routerLink="Advance_Count">Count</button>
  </div>
  <div class="col-sm-11">
    <router-outlet></router-outlet>
  </div>
</div>