<button class="btn btn-success" (click)="fetchBasic()">{{refreshButton}}</button>
<table class="table" style="width:100%" align="center" *ngIf="table">

  <thead class="table-header">
      <tr>
          <th>Srno</th>
          <th>Truckno</th>
          <th>Options</th>
      </tr>
  </thead>


  <tbody>
      <tr *ngFor="let i of data;let j = index">
          <td>{{j+1}}</td>
          <td>{{i.truckno}}</td>
          <td>
              <button mat-raised-button (click)="details(i,j)" data-toggle="modal" data-target="#myModal" class="btn-danger btn-sm btn-just-icon">
                  <i class="material-icons">edit</i>
              </button>
          </td>
      </tr>
  </tbody>
</table>


<div class="container">
  
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
  
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{selectedData.truckno}}</h4>
        </div>
        
        <div class="modal-body">
          <h2>Account Details</h2>
          <table class="table table-bordered">
            <tr>
            <th>Name</th>
            <th>Number</th>
            <th>IFSC</th>
            </tr>
            <tr *ngFor="let k of selectedData.accountDetails;">
              <td>{{selectedData.accountDetails[0]['accountName']}}</td>
              <td>{{selectedData.accountDetails[0]['accountNumber']}}</td>
              <td>{{selectedData.accountDetails[0]['ifsc']}}</td>
            </tr>
          </table>

        <div class="row">

        
                  <button mat-raised-button type="button" *ngIf="!selectedData.accountDetails[0]['acc12']" (click)="update('12')" class="btn-danger btn-sm btn-just-icon">
                    1
                  </button>
                  <button mat-raised-button type="button" *ngIf="!selectedData.accountDetails[0]['acc363']" (click)="update('363')" class="btn-warning btn-sm btn-just-icon">
                    3
                  </button>
                  <button mat-raised-button type="button" *ngIf="!selectedData.accountDetails[0]['acc65']" (click)="update('65')" class="btn-danger btn-sm btn-just-icon">
                    5
                  </button>
                </div>       
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>



