<div class="well">
  <div>
    <label>Months</label><br>
    <span class="material-icons" (click)="sub('month')" style="cursor: pointer;">
      remove
    </span>
    <span style="font-size: 3rem;margin-left: 1rem;margin-right: 1rem;">{{month}}</span>
    <span class="material-icons" (click)="add('month')" style="cursor: pointer;">
      add
    </span>
  </div>
  <hr>
  <div>
    <label>Year</label><br>
    <span class="material-icons" (click)="sub('year')" style="cursor: pointer;">
      remove
    </span>
    <span style="font-size: 3rem;margin-left: 1rem;margin-right: 1rem;">{{year}}</span>
    <span class="material-icons" (click)="add('year')" style="cursor: pointer;">
      add
    </span>
  </div>
</div>