<div class="well" *ngIf="!show">
  <table class="table display nowrap" style="width:100%" align="center" id="example">
    <thead>
      <tr class="table-header">
        <th>Srno</th>
        <th>Month Name</th>
        <td>Status</td>
        <th>Update</th>
      </tr>
    </thead>


    <tbody>
      <tr *ngFor="let i of monthnames;let j = index">
        <td>{{j+1}}</td>
        <td>{{i.monthName}}</td>
        <td>{{i.status}}</td>
        <td>
          <button mat-raised-button type="button" (click)="update(i)" class="btn-primary btn-sm btn-just-icon">
            <i class="material-icons">edit</i>
          </button>
        </td>

      </tr>
    </tbody>
  </table>
</div>