<div class="well">

    <h1>Here are some shortcuts for you</h1>

</div>


<div class="well">
    <div class="row" style="height: 10vh;">
        <button class="btn btn-warning col-sm-3 inheritedHeight" (click)="moveTo('partyAdd')">Payment Add</button>
        <button class="btn btn-warning col-sm-3 inheritedHeight" (click)="moveTo('partyDisplay')">Payment
            Display</button>
    </div>
</div>
<div class="well">
    <div class="row" style="height: 10vh;">
        <button class="btn btn-warning col-sm-3 inheritedHeight" (click)="moveTo('turnAdd')">TurnBook Add</button>
        <button class="btn btn-warning col-sm-3 inheritedHeight" (click)="moveTo('turnDisplay')">TurnBook
            Display</button>
    </div>
</div>
<div class="well">
    <div class="row" style="height: 10vh;">

        <button class="btn btn-warning col-sm-3 inheritedHeight" (click)="moveTo('truckdetails')">Truck Details</button>
    </div>
</div>
<div class="container">

    <div class="row">
        <h3>LR book Status</h3>
        <ul *ngFor="let i of arr;let j=index;">
          <li><b>{{i.location}}</b>:<b [ngStyle]="{'color': i.color}">{{i.value}}</b></li>
        </ul>
      </div>

      <div class="row">
        <h3>Dues</h3>
        <table class="table table-bordered" style="width:100%" align="center">

            <thead class="table-header">
                <tr>
                    <th>Srno</th>
                    <th>Truckno</th>
                    <th>Date</th>
                    <th>Reason</th>
                    <th>Amount</th>
                    <th>Pending</th>
                    <th>From</th>
                    <th>Info</th>
                    <th>Download</th>
                </tr>
            </thead>
          
          
            <tbody>
                <tr *ngFor="let i of dues;let j = index">
                    <td>{{j+1}}</td>
                    <td>{{i.truckno}}</td>
                    <td>{{i.date|date:'dd-MM-yyyy'}}</td>
                    <td>{{i.reason}}</td>
                    <td>{{i.amt}}</td>
                    <td>{{i.pending}}</td>
                    <td>{{i.from}}</td>
                    <td>
                      <span *ngFor="let k of i.info;let z = index;">
                        <ul>
                          <li>Amt Taken : {{k.dueAmtTaken}}</li>
                          <li>Date Taken : {{k.date}}</li>
                        </ul>
                      </span>            
          
                    </td>
                    <td><button class="btn btn-warning" (click)="generateDuesReportPDF(i)">Download</button></td>
                </tr>
            </tbody>
          </table>
      </div>

    </div>