<div style="background-color: black">

  <nav class="navbar navbar-inverse" style="background-color: black">
    <div class="container row">
      <div class="navbar-header">
        <a class="navbar-brand" (click)="adminP()"><b>Nitin Roadways FAST</b></a>
      </div>
    </div>

  </nav>


  <div class="row">
    <div class="col-sm-1" style="margin-left: 2vh;">
      <button class="btn btn-info" (click)="getWhichType('2',false)">Truck Data</button>
  </div>
  <div class="col-sm-1" style="margin-left: 2vh;" *ngIf="secretDoor">
    <button class="btn btn-info" (click)="getWhichType('3',false)">Other</button>
</div>
<div class="col-sm-1" style="margin-left: 2vh;" *ngIf="secretDoor">
  <button class="btn btn-info" (click)="getWhichType('4',false)">VillageParty</button>
</div>
<div class="col-sm-1" style="margin-left: 2vh;" *ngIf="secretDoor">
  <button class="btn btn-info" (click)="getWhichType('5',false)">Tentative</button>
</div>
<div class="col-sm-1" style="margin-left: 2vh;" *ngIf="secretDoor">
  <button class="btn btn-info" (click)="getWhichType('6',false)">Random</button>
</div>
<div class="col-sm-1" style="margin-left: 2vh;" *ngIf="secretDoor">
  <button class="btn btn-info" (click)="getTpt()">All Envelopes</button>
</div>
<div class="col-sm-1" style="margin-left: 2vh;" *ngIf="secretDoor">
  <button class="btn btn-info" (click)="getAmitDetails()">Amit Urse</button>
</div>
</div>

    <div *ngIf="whichType==='2'">
      <div class="well" style="background-color: black;border-color: black;">
      <div class="row">
        <div class="col-sm-3">
          <input type="text" class="form-control col-sm-3" [(ngModel)]='truckVar' placeholder="Truck No">
        </div>
        <div class="col-sm-3">
          <select class="form-control" *ngIf="wala11" id="partyType" [(ngModel)]="trucknoid11" (change)="find11UniqueTruck()" id="truckNoone11">
            <option>Default</option>
            <option *ngFor="let i of unique11turnbooklist;let j = index;" value={{i}}>{{i}}</option>
          </select>
        </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <button class="btn btn-warning col-sm-3"  style="width: 50%;" (click)="find('11')">Truck No</button>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-warning col-sm-3"  style="width: 50%;" (click)="find('11new')">LRNO</button>
          </div>

          <div class="col-sm-2">
            <button class="btn btn-warning col-sm-3"  style="width: 50%;" (click)="find('qr')">QR</button>
          </div>
            
          
        </div>

          
              <div class="col-sm-12">

            <table class="table" style="width:100%" align="center" *ngIf="byTruckName">
                  <thead align="center" style="font-weight: bold">
                    <tr class=table-header>
                      <th>Srno</th>
                      <th>Entry-Loading</th>
                      <th>TruckNo</th>
                      <th>Type-Party-Place</th>
                      <th>LRNO</th>
                      <th *ngIf="amount">Amount</th>
                      <th>Poch : Amt : Acc</th>
                      <th>Payment Details</th>
                    </tr>
                  </thead>
                  <tbody align="center">
                    <tr *ngFor="let i of turn11;let j = index">
                      <td>{{j+1}}</td>
                      <td>{{i.turnbookDate|date:'dd-MM-yyyy'}}<br>{{i.loadingDate|date:'dd-MM-yyyy'}}<br>{{i.billno}}</td>
                      <td>{{i.truckName['truckno']}}<br>
                      <button class="btn btn-warning" (click)="saveData(j)" data-toggle="modal" data-target="#myModalPan">Copy!</button></td>
                      <td>{{i.partyType}}-{{i.partyName.shortName}}-{{i.placeName.shortName}}<br><span *ngIf="i.placeName2!==undefined">{{i.placeName2.shortName}}</span>-{{i.typeOfLoad}}</td>
                      <td>{{i.lrno}}</td>
                      <td *ngIf="amount">{{i.hamt}}<br>{{i.rent}}</td>
                      <td [ngStyle]="{'background-color': i.colors[0]}" class="wadhiw">{{i.pochDate|date:'dd-MM-yyyy'}} <br>{{i.pochAmount}}:{{i.truckName.accountDetails[0].accountName}}<br>{{i.truckName.accountDetails[0].accountNumber}}</td>
                      <td [ngStyle]="{'background-color': i.colors[1]}"  class="wadhiw">
                        {{i.actualPaymentDate|date:'dd-MM-yyyy'}}<br>{{i.actualPaymentAmount}}<br>{{i.truckName['pan']}}</td>
                    </tr>
                  </tbody>
                </table>
          </div>
         

      </div>
      </div>

      <div *ngIf="whichType==='3'">
        <div class="well" style="background-color: black;border-color: black;">
          <select class="form-control">
            <option disabled>Select Option</option>
            <option value="By RC"></option>
            <option value=""></option>
          </select>
        <div class="row" style="background-color: black;border-color: black;">

          <div class="col-sm-3">
             <select class="form-control" [(ngModel)]="rc">
                <option>Default</option>
                <option value="AP">AP</option>
                <option value="MH">MH</option>
                <option value="KA">KA</option>
                <option value="TN">TN</option>
              </select>
          </div>

         <div class="col-sm-3">
          <select class="form-control" [(ngModel)]="load">
             <option>Default</option>
             <option value="Pipe">Pipe</option>
             <option value="Fittings">Fittings</option>
             <option value="Other">Other</option>
           </select>
       </div>

          <div class="col-sm-3">
            <button class="btn btn-warning col-sm-3" (click)="find4()">Find</button>
          </div>

        </div>
            
        <div class="col-sm-12">
  
              <table class="table" style="width:100%" align="center" *ngIf="table4">
                    <thead align="center" style="font-weight: bold">
                      <tr class=table-header>
                        <th>Srno</th>
                        <th>TruckNo</th>
                        <th>Type-Party-Place</th>
                        <th>LRNO</th>
                        <th>Amount</th>
                      </tr>
                    </thead>
                    <tbody align="center">
                      <tr *ngFor="let i of turn11;let j = index">
                        <td>{{j+1}}<br><i class="material-icons" *ngIf="i.complete" style="color: green;">
                          done
                          </i><i class="material-icons" *ngIf="!i.complete" style="color: red;">
                            close
                            </i></td>
                        <td>{{i.turnbookDate|date:'dd-MM-yyyy'}}<br>{{i.loadingDate|date:'dd-MM-yyyy'}}</td>
                        <td>{{i.partyType}}-{{i.partyName.shortName}}-{{i.placeName.shortName}}<br><span *ngIf="i.placeName2!==undefined">{{i.placeName2.shortName}}</span>-{{i.typeOfLoad}}</td>
                        <td>{{i.lrno}}</td>
                        <td>{{i.hamt}}<br>{{i.rent}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
           
  
        </div>
        </div>

        <div *ngIf="whichType==='4'">
          <div class="well" style="background-color: black;border-color: black;">
            <div class="form-group row" style="background-color: black;border-color: black;">
              <div class="col-xs-2">
                <label>Place</label>
                <select class="form-control" [(ngModel)]="placeidto">
                  <option selected>Select Place</option>
                  <option *ngFor="let i of places" value={{i._id}}>{{i.village_name}}</option>
                </select>
              </div>
              <div class="col-xs-1" style="cursor: pointer; margin-top: 3vh;">
                <i class="material-icons" (click)="getVillages()">autorenew</i>
              </div>
            

              <div class="col-xs-2">
                <label>Party</label>
                <select class="form-control" [(ngModel)]="partyidto">
                  <option selected>Select Place</option>
                  <option *ngFor="let i of parties" value={{i._id}}>{{i.name}}</option>
                </select>
              </div>
              <div class="col-xs-1" style="cursor: pointer; margin-top: 3vh;">
                <i class="material-icons" (click)="getparties()">autorenew</i>
              </div>

              <div class="col-xs-3">
                <label>From</label>
                <input type="date" class="form-control" [(ngModel)]="fromDate">
              </div>

              <div class="col-xs-3">
                <label>To</label>
                <input type="date" class="form-control" [(ngModel)]="toDate">
              </div>
                


            </div>
            <div class="row">
              <div class="col-sm-4">
                  <button class="btn btn-danger" (click)="getVPData()">Get</button>
                </div>
            </div>
              

            <div class="col-sm-12">

              <table class="table" style="width:100%" align="center">
                    <thead align="center" style="font-weight: bold">
                      <tr class=table-header>
                        <th>Srno</th>
                        <th>Loading</th>
                        <th>LRNO</th>
                        <th>Amount</th>
                        <th>Poch : Amt : Acc</th>
                        <th>Payment Details</th>
                      </tr>
                    </thead>
                    <tbody align="center">
                      <tr *ngFor="let i of turnbooklist;let j = index">
                        <td>{{j+1}}</td>
                        <td>{{i.loadingDate|date:'dd-MM-yyyy'}}=>{{i.datetruck}}</td>
                        <td>{{i.lrno}}</td>
                        <td>{{i.hamt}}<br>{{i.rent}}</td>
                        <td>{{i.pochDate|date:'dd-MM-yyyy'}} <br>{{i.pochAmount}}</td>
                        <td>{{i.actualPaymentDate|date:'dd-MM-yyyy'}}<br>{{i.actualPaymentAmount}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
             
    
          </div>
          </div>

          <div *ngIf="whichType==='5'">
            <div class="well"  style="background-color: black;border-color: black;">
            <div class="row"  style="background-color: black;border-color: black;">

    
              <div class="col-sm-3">
                <button class="btn btn-warning col-sm-3" (click)="find6()">Find</button>
              </div>
              <div class="col-sm-3">
                <button class="btn btn-warning col-sm-3" (click)="show(0)">0</button>
              </div>
              <div class="col-sm-3">
                <button class="btn btn-warning col-sm-3" (click)="show(1)">1</button>
              </div>
              <div class="col-sm-3">
                <button class="btn btn-warning col-sm-3" (click)="show(2950)">2950</button>
              </div>
    
            </div>
                
            <div class="col-sm-12">
      
                  <table class="table" style="width:100%" align="center">
                        <thead align="center" style="font-weight: bold">
                          <tr class=table-header>
                            <th>Srno</th>
                            <th>Date</th>
                            <th>TruckNo</th>
                            <th>Party</th>
                            <th>Place</th>
                            <th>Amount</th>
                          </tr>
                        </thead>
                        <tbody align="center">
                          <tr *ngFor="let i of data6;let j = index">
                            <td>{{j+1}}</td>
                            <td>{{i.loadingDate|date:'dd-MM-yyyy'}}</td>
                            <td>{{i.truckno}}</td>
                            <td>{{i.party}}</td>
                            <td>{{i.place}}</td>
                            <td><input type="number" id="tb_{{j}}" value={{i.tentativeBalance}}></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
               
                <button mat-raised-button type="button" (click)="setTB()" class="btn-success btn-sm btn-just-icon">
                  <i class="material-icons">arrow_forward</i>
                </button>
            </div>
            </div>

            <div *ngIf="whichType==='6'">
             
          
              <div class="well"  style="background-color: black;border-color: black;">
                <form [formGroup]="myFormGroupR" (ngSubmit)="generate(myFormGroupR)" submitted=true
                  enctype="multipart/form data" action="/">
              
                  <div class="form-group row">
                    <div class="col-xs-3">
                     Qty :  <input type="number" id="value" class="form-control" formControlName="qty">
                    </div>
                  </div>
          
                  <div class="form-group row">
                    <div class="col-xs-3">
                     From :  <input type="number" id="value" class="form-control" formControlName="from">
                    </div>
                  </div>
          
                  
              
                  <div class="form-group row">
                    <div class="col-xs-3">
                     To :  <input type="number" id="value" class="form-control" formControlName="to">
                    </div>
                  </div>
              
                          
              
                  <div class="row">
                    <div class="form-group" class="col-xs-2"></div>
                    <div class="form-group" class="col-xs-1">
                      <button type="submit" class="btn btn-primary" [disabled]='!myFormGroupR.valid'>
                        <i class="material-icons">send</i>
                      </button>
                    </div>
              
              
                  </div>
                </form>
              
              
              
              </div>
              <div class="well"  style="background-color: black;border-color: black;">
                <ul *ngFor="let i of randomarray;">
                  <li>{{i}}</li>
                </ul>
              </div>
              </div>
              
              <div *ngIf="whichType==='7'">
             
          
                <div class="well"  style="background-color: black;border-color: black;">
                
                  <textarea value={{dataT}} style="width: 200px;height: 500px;color: wheat;background-color: black;"></textarea>
                
                </div>
                </div>
                

            </div>

            <div class="modal fade" id="myModalPan" role="dialog">
              <div class="modal-dialog">
              
            
                <div class="modal-content" style="background-color: black;color: wheat;">
                  <div class="modal-header" style="background-color: black;color: wheat;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{truckNo}}</h4>
                  </div>
                  <div class="modal-body" style="background-color: black;color: wheat;">
                  
            
                    <div class="row">
                      <textarea value={{dataTT}} style="width: 200px;height: 500px;color: wheat;background-color: black;"></textarea>
                    </div>
            
                  </div>
            
                  <div class="modal-footer" style="background-color: black;color: wheat;">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                </div>
                
              </div>
            </div> 