<div>

  <nav class="navbar navbar-inverse">
    <div class="container row">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="NRCM_HOME"><b>Nitin Roadways FAST</b></a>
      </div>
    </div>

  </nav>


  <div class="row">
    <div class="col-sm-2">
        <button class="btn btn-info" (click)="getWhichType('1')">Rent</button>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-info" (click)="getWhichType('2')">Rent Add</button>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-info" (click)="getWhichType('3')">Truck Details</button>
  </div>
</div>

<div *ngIf="whichType==='1'">
    <div class="well">
    
        <table class="table" style="width:100%" align="center"  *ngIf="tableDate">
    
            <thead>
                <tr class="table-header">
                    <th>Srno</th>
                    <th>Location</th>
                    <th>Value</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of data;let j = index">
                    <td>{{j+1}}</td>
                    <td>{{i._id}}</td>
                    <td><ul *ngFor="let j of i.data">
                        <li>{{j}}</li>
                    </ul></td>
                    
                    
                    <td><button class="btn btn-danger" (click)="update(i)"><i class="material-icons" >send</i></button></td>        
                </tr>
            </tbody>
        </table>
    </div>
    </div>

    <div *ngIf="whichType==='2'">
        <div class="well">
            <form [formGroup]="myFormGroup" (ngSubmit)="store(myFormGroup)" submitted=true
              enctype="multipart/form data" action="/">
          
              <div class="form-group row">
                <div class="col-xs-3">
                  <select id="location" class="form-control" formControlName="location">
                    <option selected>Select Place</option>
                    <option *ngFor="let own of villagenamelist">{{own.village_name}}</option>
                  </select>
                </div>
              </div>  

              <div class="form-group row">
                <div class="col-xs-3">
                  <select id="typeOfLoad" class="form-control" formControlName="typeOfLoad">
                    <option selected>Select Type</option>
                    <option value="Pipe">Pipe</option>
                    <option value="Fittings">Fittings</option>
                  </select>
                </div>
              </div>  
          
              <div class="form-group row">
                <div class="col-xs-3">
                  <input type="number" id="value" class="form-control" formControlName="value" placeholder="Value">
                </div>
              </div>
          
                      
          
              <div class="row">
                <div class="form-group" class="col-xs-2"></div>
                <div class="form-group" class="col-xs-1">
                  <button type="submit" class="btn btn-primary" [disabled]='!myFormGroup.valid'>
                    <i class="material-icons">send</i>
                  </button>
                </div>
          
          
              </div>
            </form>
          
          
          
          </div>
    </div>

    <div *ngIf="whichType==='3'">
      <div class="well">
      <div class="row">
        <div class="col-sm-3">
          <input type="text" class="form-control col-sm-3" [(ngModel)]='truckVar' placeholder="Truck No">
        </div>
        <div class="col-sm-3">
          <button class="btn btn-warning col-sm-3" (click)="find()">Find</button>
        </div>
        <div class="col-sm-3">
        
            <select class="form-control" id="partyType" [(ngModel)]="trucknoid11" (change)="find11UniqueTruck()" id="truckNoone11">
              <option>Default</option>
              <option *ngFor="let i of unique11turnbooklist;let j = index;" value={{i}}>{{i}}</option>
            </select>
          
        </div>
      </div>
          
              <div class="col-sm-12">

            <table class="table" style="width:100%" align="center" *ngIf="byTruckName">
                  <thead align="center" style="font-weight: bold">
                    <tr class=table-header>
                      <th>Srno</th>
                      <th>Entry-Loading</th>
                      <th>Type-Party-Place</th>
                      <th>LRNO</th>
                      <th>Amount</th>
                      <th>Poch : Amt : Acc</th>
                      <th>Payment Details</th>
                    </tr>
                  </thead>
                  <tbody align="center">
                    <tr *ngFor="let i of turn11;let j = index">
                      <td>{{j+1}}<br><i class="material-icons" *ngIf="i.complete" style="color: green;">
                        done
                        </i><i class="material-icons" *ngIf="!i.complete" style="color: red;">
                          close
                          </i></td>
                      <td>{{i.turnbookDate|date:'dd-MM-yyyy'}}<br>{{i.loadingDate|date:'dd-MM-yyyy'}}</td>
                      <td>{{i.partyType}}-{{i.partyName.shortName}}-{{i.placeName.shortName}}<br><span *ngIf="i.placeName2!==undefined">{{i.placeName2.shortName}}</span>-{{i.typeOfLoad}}</td>
                      <td>{{i.lrno}}</td>
                      <td>{{i.hamt}}<br>{{i.rent}}</td>
                      <td [ngStyle]="{'background-color': i.colors[0]}">{{i.pochDate|date:'dd-MM-yyyy'}} <br>{{i.pochAmount}}:{{i.truckName.accountDetails[0].accountName}}<br>{{i.truckName.accountDetails[0].accountNumber}}</td>
                      <td [ngStyle]="{'background-color': i.colors[1]}">{{i.actualPaymentDate|date:'dd-MM-yyyy'}}<br>{{i.actualPaymentAmount}}<br>{{i.statusOfPoch}}</td>
                    </tr>
                  </tbody>
                </table>
          </div>
         

      </div>
      </div>