body
{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}

.wid{
width: 100%;;
}

.backgroundWhite{
    background-color: black;
    color: wheat;
}
.fonthead{
    font-weight: 700;
    font-family: monospace;
}
.fontbody{
    font-family: monospace;
}


.blue-title {
    color:blue;
  }

  .red-title {
    color:red;
  }

  .imgClass{
    width: 100%;
    height: 100%;
  }


  /* PRIMARY
3B71CA
59, 113, 202
49,94,168

SUCCESS
14A44D
20, 164, 77)

DANGER
DC4C64
220, 76, 100

WARBING
E4A11B
228, 161, 27
191,115,16

YELLOW
255,193,7
189,143,5 */