<div class="well">
  <form [formGroup]="myFormGroup" (ngSubmit)="store(myFormGroup)" submitted=true
    enctype="multipart/form data" action="/">


    <div class="form-group row">
      <div class="col-xs-3">
        <input type="date" class="form-control" formControlName="date">
      </div>
    </div>


    <div class="form-group row">
      <div class="col-xs-3">
        <input type="text" id="truckno" class="form-control" formControlName="truckno" placeholder="TN11 TN 1111">
      </div>
      <div class="col-xs-2">
        <div [hidden]="myFormGroup.controls.truckno.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        <input type="number" id="amt" class="form-control" formControlName="amt">
      </div>
      <div class="col-xs-2">
        <div [hidden]="myFormGroup.controls.amt.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>


    <div class="form-group row">
      <div class="col-xs-3">
        <input type="text" id="reason" class="form-control" formControlName="reason" placeholder="Reason">
      </div>
      <div class="col-xs-2">
        <div [hidden]="myFormGroup.controls.reason.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>


    <div class="form-group row">
      <div class="col-xs-3">
        <select id="from" class="form-control" formControlName="from">
          <option selected disabled>Select Type</option>
          <option value="Truck">Truck</option>
          <option value="Owner">Owner</option>
        </select>
      </div>
    </div>


    <div class="row">
      <div class="form-group" class="col-xs-2"></div>
      <div class="form-group" class="col-xs-1">
        <button type="submit" class="btn btn-primary" [disabled]='!myFormGroup.valid'>
          <i class="material-icons">send</i>
        </button>
      </div>
    </div>
  </form>
</div>

<table class="table" style="width:100%" align="center" *ngIf="showdues">

  <thead class="table-header">
      <tr>
          <th>Srno</th>
          <th>Truckno</th>
          <th>Date</th>
          <th>Reason</th>
          <th>Amount</th>
          <th>Options</th>
      </tr>
  </thead>


  <tbody>
      <tr *ngFor="let i of dues;let j = index">
          <td>{{j+1}}</td>
          <td>{{i.truckno}}</td>
          <td>{{i.date}}</td>
          <td>{{i.reason}}</td>
          <td>{{i.amt}}</td>
          <td>
              <button mat-raised-button (click)="delete(i._id,j)" class="btn-danger btn-sm btn-just-icon">
                  <i class="material-icons">delete_forever</i>
              </button>
          </td>
      </tr>
  </tbody>
</table>