<div class="well container">

  <br />
  <div class="row">
    <div class="col-lg-12">
      <button mat-raised-button (click)="leftRight('back')" class="btn btn-danger btn-sm btn-just-icon delete">
        Back
      </button><button mat-raised-button (click)="leftRight('ahead')"
        class="btn btn-primary btn-sm btn-just-icon delete">
        Ahead
      </button>

      <!-- DATE-->
      <div class="form-group row">
        <div class="col-xs-3">
          <input type="date" id="date" class="form-control" [(ngModel)]="dateFromUI">
        </div>
        <button mat-raised-button (click)="leftRight('realDate')" class="btn btn-primary btn-sm btn-just-icon delete">
          Find
        </button>

      </div>
      <!--DATE -->

      <h3>{{today}}</h3>

      <table class="table" style="width:100%" align="center">
        <thead align="center" style="font-weight: bold">
          <tr class=table-header>
            <th>Srno</th>
            <th>Date</th>
            <th>Truck No</th>
            <th>Party</th>
            <th>Check</th>
            <th>Delete</th>
            <th>Update</th>
          </tr>
        </thead>

        <tbody align="center">
          <tr *ngFor="let i of turnbooklist;let j = index">
            <td>{{j+1}}</td>
            <td>{{i.date}}</td>
            <td>{{i.truckNo}}</td>
            <td>{{i.partyName}}</td>
            <td *ngIf="i.check">
              <i class="material-icons checkboxGreen">done</i>
            </td>
            <td *ngIf="!i.check">
              <i class="material-icons checkboxRed">clear</i>
            </td>
            <td>
              <button mat-raised-button (click)="deleteTurnBookDetails(i._id)"
                class="btn btn-danger btn-sm btn-just-icon delete">
                <i class="material-icons">delete_forever</i>
              </button>
            </td>
            <td>
              <button mat-raised-button type="button" (click)="showDatabyid(i)"
                class="btn-primary btn-sm btn-just-icon edit">
                <i class="material-icons">edit</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
<div *ngIf="show">

  <!-- <router-outlet></router-outlet> -->
</div>