<div class="well container">

  <br />
  <div class="row">
    <div class="col-lg-12">
      <!-- DATE-->
      <div class="form-group row">
        <div class="col-sm-5">
          <select class="form-control" id="partyType" [(ngModel)]="trucknoid" (change)="findOption()" id="truckNoone">
            <option *ngFor="let i of displayoptions;let j = index;" value={{i.value}}>{{i.viewvalue}}</option>
          </select>
        </div>
        <div class="col-sm-7" *ngIf="buttonOption!=='1'">
          <input type="date" class="form-control" [(ngModel)]="dynDate">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <button mat-raised-button (click)="find()" class="btn btn-primary" style="width: 100%;margin-top: 10px;">
            {{buttonValue}}
          </button>
        </div>
        <div class="col-sm-4"></div>
      </div>
      <!--DATE -->

      <h3>{{today}}</h3>

      <table class="table" style="width:100%" align="center">
        <thead align="center" style="font-weight: bold">
          <tr class=table-header>
            <th>Srno</th>
            <th>Date</th>
            <th>Loading Date</th>
            <th>Truck No</th>
            <th>Place</th>
            <th>Party</th>
            <th *ngIf="role==1||role==2">Delete</th>
            <th>Cancel</th>
            <th>Edit</th>
          </tr>
        </thead>

        <tbody align="center">
          <tr *ngFor="let i of turnbooklist;let j = index"
            [ngStyle]="{'color': i.ownerDetails[0].personalDetails==='' ||i.ownerDetails[0].accountDetails.length===0 ? 'red' : 'black' }">
            <td>{{j+1}}</td>
            <td>{{i.turnbookDate|date:'dd-MM-yyyy'}}</td>
            <td>{{i.loadingDate|date:'dd-MM-yyyy'}}</td>
            <td>{{i.ownerDetails[0].truckno}}
              <button class="btn btn-warning" type="button" (click)="edit(i.ownerDetails[0])" class="btn-primary"
                *ngIf="i.ownerDetails[0].personalDetails==='' ||i.ownerDetails[0].accountDetails.length===0">
                <i class="material-icons">edit</i>
              </button>
            </td>
            <td *ngIf="i.villageDetails[0]!==undefined">{{i.villageDetails[0].village_name}}</td>
            <td *ngIf="i.villageDetails[0]==undefined"></td>
            <td>{{i.partyType}}</td>
            <td>
              <button mat-raised-button (click)="delete(i,j)" *ngIf="role==1||role==2"
                class="btn-danger btn-sm btn-just-icon">
                <i class="material-icons">delete_forever</i>
              </button>
            </td>
            <td>
              <button mat-raised-button type="button" (click)="showDatabyid2(i)"
                class="btn-warning btn-sm btn-just-icon">
                <i class="material-icons">delete</i>
              </button>
            </td>
            <td>
              <button mat-raised-button type="button" (click)="showDatabyid(i)"
                class="btn-primary btn-sm btn-just-icon">
                <i class="material-icons">edit</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
<div *ngIf="show">

  <!-- <router-outlet></router-outlet> -->
</div>