<div class="col-sm-4">
  <button class="btn btn-danger" (click)="find()">
    Get Tickets
  </button>
</div>
<table class="table" style="width:100%" align="center" *ngIf="table">
  <thead align="center" style="font-weight: bold">
    <tr class=table-header>
      <th>Srno</th>
      <th>TruckNo</th>
        <th>Name</th>
        <th>Pan</th>
        <th>Accounthetails</th>
        <th>Contact</th>
        <th>Type</th>
        <th>Documents</th>
        <th>Length</th>
        <th>Weight</th>
        <th>Transport</th>
        <th>Option</th>
    </tr>
  </thead>

  <tbody align="center">
    <tr *ngFor="let i of tickets;let j = index">
      <td>{{j+1}}</td>

        <td>{{i.truck.truckno}}</td>
        <td>{{i.truck.oname}}</td>
        <td>{{i.truck.pan}}-
           <i class="material-icons" *ngIf="i.truck.P" style="color: green;">
            done
            </i><i class="material-icons" *ngIf="!i.truck.P" style="color: red;">
              close
              </i>
        </td>
        <td><table>
          <tr>
            <th>Sr</th>
            <th>Name</th>
            <th>No</th>
            <th>IFSC</th>
          </tr>
          <tr>
            <td>1</td>
            <td>{{i.truck.accountDetails[0]['accountName']}}</td>
            <td>{{i.truck.accountDetails[0]['accountNumber']}}</td>
            <td>{{i.truck.accountDetails[0]['ifsc']}}</td>
          </tr>
        </table></td>
        <td>
          <ul>
            <li *ngFor="let k of i.truck.contact">{{k}}</li>
          </ul>
        </td>
        <td>{{i.truck.typeOfVehicle}}</td>
        <td>
          <ul>
            <li>RC : <i class="material-icons" *ngIf="i.truck.r" style="color: green;">
                done
                </i><i class="material-icons" *ngIf="!i.truck.r" style="color: red;">
                  close
                  </i></li>
            <li>LC : <i class="material-icons" *ngIf="i.truck.d" style="color: green;">
                done
                </i><i class="material-icons" *ngIf="!i.truck.d" style="color: red;">
                  close
                  </i></li>
            </ul>
        </td>
        <td>{{i.truck.hbl}}</td>
        <td>{{i.truck.weight}}</td>
        <td>{{i.truck.tptName}}</td>
        <td>
          <ul>
            <li><button class="btn btn-danger" (click)="update(i,j,'submit')">Okay</button></li>
            <li><button class="btn btn-danger" (click)="update(i,j,'return')">Bad</button></li>
            <li><button class="btn btn-danger" (click)="update(i,j,'anil')">Anil</button></li>
            <li><button class="btn btn-danger" (click)="showDatabyid(i)">Edit</button></li>
          </ul>
        </td>
    </tr>
  </tbody>
</table>
<div *ngIf="!table"><h3>{{msg}}</h3></div>
