<div class="well">
  <div class="header-head">
    <h1>Balance Hire</h1>
    <button mat-raised-button class="btn-danger btn-sm btn-just-icon pull-right" routerLink="BALANCE_HIRE_ADD" *ngIf="nrcmid===1">
      <i class="material-icons">bolt</i>
    </button>
    <button mat-raised-button class="btn-success btn-sm btn-just-icon pull-right" routerLink="BalanceHireDisp" *ngIf="nrcmid===1">
      <i class="material-icons">desktop_windows</i>
    </button>


    <button mat-raised-button class="btn-danger btn-sm btn-just-icon pull-right" routerLink="BALANCE_HIRE_ADDA">
      <i class="material-icons">add</i>
    </button>
    <button mat-raised-button class="btn-success btn-sm btn-just-icon pull-right" routerLink="BALANCE_HIRE_ADD" *ngIf="nrcmid===7">
      <i class="material-icons">desktop_windows</i>
    </button>
    
    
    
  </div>
  <br/>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>