<div class="well">
  <div class="header-head">
    <h1>Payments</h1>
    <button mat-raised-button class="btn-danger btn-sm btn-just-icon pull-right" routerLink="Add">
      <i class="material-icons">add</i>
    </button>
    <button mat-raised-button class="btn-success btn-sm btn-just-icon pull-right" routerLink="Display">
      <i class="material-icons">desktop_windows</i>
    </button>
    <button mat-raised-button class="btn-danger btn-sm btn-just-icon pull-right" routerLink="Payments">
      <i class="material-icons">edit</i>
    </button>
    <button mat-raised-button class="btn-danger btn-sm btn-just-icon pull-right" routerLink="PaymentPending">
      <i class="material-icons">go</i>
    </button>
  </div>
  <br />
  <div>
    <router-outlet></router-outlet>
  </div>
</div>