<div>
  <div class="well container">

    <form [formGroup]="myFormGroup" (ngSubmit)="storeBookingData1(myFormGroup)" submitted=true
      enctype="multipart/form data" action="/" name="myform" id="myform">
      <div class="row">
        <div class="col-sm-10">

          <!-- DATE-->
          <div class="form-group row">

            <div class="col-sm-1">
              <label for="loadingDate"> Date </label>
            </div>

            <div class="col-xs-2">
              <input type="date" class="form-control" id="loadingDate" formControlName="loadingDate">
            </div>

            <div [hidden]="myFormGroup.controls.loadingDate.valid" class="col-xs-1">
              <font color="red">
                <span class="glyphicon glyphicon-remove"></span>
              </font>
            </div>
          </div>
          <!--DATE -->
          <!--Place-->
          <div class="form-group row">

            <div class="col-xs-1">
              <label for="place"> Place </label>
            </div>

            <div class="col-xs-6">
              <select id="palce" class="form-control" formControlName="place">
                <option disabled selected>Select Place</option>
                <option *ngFor="let own of villagelist" value="{{own._id}}">{{own.village_name}}</option>
              </select>
            </div>

            <div class="col-xs-1">
              <div [hidden]="myFormGroup.controls.place.valid">
                <font color="red">
                  <span class="glyphicon glyphicon-remove"></span>
                </font>
              </div>
            </div>

          </div>
          <!--Place-->
          <!--Truckno-->
          <div class="form-group row">

            <div class="col-xs-1">
              <label for="truckno"> Truckno </label>
            </div>

            <div class="col-xs-6">
              <select id="truckno" class="form-control " formControlName="truckno" [(ngModel)]="trucknoid"
                (change)="findowner()">
                <option disabled selected>Select Truck Number</option>
                <option *ngFor="let own of ownerdetailslist;let j=index;" value={{own._id+j}}>{{own.truckno}}</option>
              </select>
            </div>

            <div class="col-xs-1">
              <div [hidden]="myFormGroup.controls.truckno.valid">
                <font color="red">
                  <span class="glyphicon glyphicon-remove"></span>
                </font>
              </div>
            </div>
          </div>
          <!--Truckno-->
          <!--NOP-->
          <div class="form-group row">

            <div class="col-xs-1">
              <label for="nop"> NOP </label>
            </div>
            <div class="col-xs-6">
              <select id="nop" class="form-control " formControlName="party" [(ngModel)]="nopid" (change)="findgst()">
                <option disabled selected>Select Name of The Party</option>
                <option *ngFor="let gst of gstdetailslist;let j = index;" value={{gst._id+j}}>
                  {{gst.name}}
                </option>
              </select>
            </div>
            <div class="col-xs-1">
              <div [hidden]="myFormGroup.controls.party.valid">
                <font color="red">
                  <span class="glyphicon glyphicon-remove"></span>
                </font>
              </div>
            </div>
          </div>
          <!--NOP-->

          <!--LRNO-->
          <div class="form-group row">

            <div class="col-xs-1">
              <label for="lrno"> LRNO </label>
            </div>

            <div class="col-xs-6">
              <input type="number" id="lrno" class="form-control" formControlName="lrno">
            </div>

            <div class="col-xs-2">
              <div [hidden]="myFormGroup.controls.lrno.valid">
                <font color="red">
                  <span class="glyphicon glyphicon-remove"></span>
                </font>
              </div>
            </div>

          </div>
          <!--LRNO-->
          <!--Hire Amount-->
          <div class="form-group row">

            <div class="col-xs-1">
              <label for="amount"> Hire Amount </label>
            </div>

            <div class="col-xs-6">
              <input type="text" list="cars" class="form-control" formControlName="amount" />
              <datalist id="cars">
                <option *ngFor="let i of hireExtendingMoney">{{i}}</option>
              </datalist>
            </div>

            <div class="col-xs-1">
              <div [hidden]="myFormGroup.controls.amount.valid">
                <font color="red">
                  <span class="glyphicon glyphicon-remove"></span>
                </font>
              </div>
            </div>

          </div>
          <!--HireAmount-->

          <div class="row">
            <div class="form-group" class="col-xs-2"></div>
            <div class="form-group" class="col-xs-1" *ngIf="!submitted">
              <button type="submit" class="btn btn-primary" [disabled]='!myFormGroup.valid'>
                <i class="material-icons">send</i>
              </button>
            </div>

            <div *ngIf="!submitted" class="col-xs-1">

              <button type="button" value="Reset Form" (click)="reset()" class="btn btn-danger">
                <i class="material-icons">undo</i>
              </button>
            </div>

            <div *ngIf="submitted" class="col-xs-1">
              <button type="button" value="Add More" (click)="reset()" class="btn btn-success">
                <i class="material-icons">add</i>
              </button>
            </div>

          </div>
        </div>
      </div>
    </form>
  </div>