<div class="well">

  <form [formGroup]="myFormGroup" (ngSubmit)="change(myFormGroup)" submitted=true enctype="multipart/form data" action="/">

    <div class="form-group row">
      <div class="col-xs-3">
        <input type="text" id="name" class="form-control" formControlName="name" placeholder="Name">
      </div>
      <div class="col-xs-2">
        <div [hidden]="myFormGroup.controls.name.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        <input type="text" id="gst" class="form-control" formControlName="gst" placeholder="GST No">
      </div>
      <div class="col-xs-2">
        <div [hidden]="myFormGroup.controls.gst.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        <input type="text" id="shortName" class="form-control" formControlName="shortName" placeholder="Short Name">
      </div>
      <div class="col-xs-2">
        <div [hidden]="myFormGroup.controls.shortName.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>




    <div class="form-group row">
      <div class="col-xs-3">
        <select id="dest" class="form-control" formControlName="dest">
          <option>{{dest}}</option>
          <option *ngFor="let own of villagenamelist">{{own.village_name}}</option>
        </select>
      </div>
      <div class="col-xs-3">
        <div [hidden]="myFormGroup.controls.dest.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        <select id="dest" class="form-control" formControlName="partyType">
          <option selected disabled>{{pT}}</option>
          <option value="NRCM">NRCM</option>
          <option value="NR">NR</option>
        </select>
      </div>
    </div>

    <!-- <div class="form-group row">
      <hr>
      <h3>Rent Details</h3>
      <div class="col-xs-6">
        <table class="table table-border">
          <tr>
            <th>Load Name</th>
            <th>Load Amount</th>
            <th>Load Advance</th>
            <th>Add</th>
          </tr>
          <tr>
            <td><input type="text" [(ngModel)]="loadSingle" [ngModelOptions]="{standalone: true}"></td>
            <td><input type="number" [(ngModel)]="loadAmount" [ngModelOptions]="{standalone: true}"></td>
            <td><input type="number" [(ngModel)]="loadAdvance" [ngModelOptions]="{standalone: true}"></td>
            <td><button type="button" (click)="addLoad()">Add</button></td>
          </tr>
          </table>
        
      </div>


      <div class="col-xs-6">
        <div *ngFor="let ii of load;let j=index;">
          <div *ngFor="let key of objectKeys(ii)">
            <h4><u>{{key}}</u>
              <span (click)="deleteLoad(i,j)">X</span>
          </h4>
            <span *ngFor="let key2 of objectKeys(ii[key])">
              {{key2}}:{{ii[key][key2]|json}}
            </span>
          </div>
        </div>

      </div>
    </div> -->

    <div class="form-group row">
      <div class="col-xs-3">
        <input type="number" class="form-control" formControlName="accNo">
      </div>
    </div>
<hr>
<h3>Address</h3>
    <div class="form-group row">
      <div class="col-xs-3">
        <input type="text" id="addr2" class="form-control" formControlName="addr1" placeholder="Address 1">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        <input type="text" id="addr3" class="form-control" formControlName="addr2" placeholder="Address 2">
      </div>
    </div>
<hr>
<h3>Cities</h3>
    <div class="form-group row">
      <div class="col-xs-3">
        <table class="table table-border">
          <tr>
            <th>Name</th>
            <th>Option</th>
          </tr>
          <tr>
            <td>
              <select [(ngModel)]="city" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let k of villagenamelist">{{k.village_name}}</option>
              </select></td>
            <td>
              <button type="button" (click)="addCity()">Add</button>
            </td>
          </tr>
        </table>
        

      </div>
      <div class="col-xs-3">
        <table class="table table-border">
          <tr>
          <th>Sr</th>
          <th>City</th>
          <th>Delete</th>
        </tr>
        <tr *ngFor="let i of cities;let j = index;">
          <td>{{j+1}}</td>
          <td>{{i}}</td>
          <td><button type="button" mat-raised-button (click)="deletecity(i,j)" class="btn-danger btn-sm btn-just-icon">
            <i class="material-icons">delete_forever</i>
        </button></td>
        </tr>
        </table>
      </div>
    </div>

<hr>
<h3>Contact : </h3>
    <div class="form-group row">
      <div class="col-xs-3">
        <table class="table table-border">
          <tr>
            <th>Email</th>
            <th>Option</th>
          </tr>
          <tr>
            <td>
              <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"></td>
            <td>
              <button type="button" (click)="addEmail()">Add</button>
            </td>
          </tr>
        </table>
        

      </div>
  
      <div class="col-xs-3">
      
        <table class="table table-border">
          <tr>
          <th>Sr</th>
          <th>Email</th>
          <th>Delete</th>
        </tr>
        <tr *ngFor="let i of Email;let j = index;">
          <td>{{j+1}}</td>
          <td>{{i}}</td>
          <td><button type="button" mat-raised-button (click)="deleteEmail(i,j)" class="btn-danger btn-sm btn-just-icon">
            <i class="material-icons">delete_forever</i>
        </button></td>
        </tr>
        </table>
      </div>
    </div>

        <!--  -->
        <div class="form-group row">
          <div class="col-xs-3">
            Contact - <input type="text" id="contact" class="form-control" formControlName="contact" placeholder="9876543211"
              [(ngModel)]="contactA">
          </div>
          <div class="col-xs-2">
            <button type="button" class="btn btn-primary" (click)="addMore()">
              <i class="material-icons">add</i>
            </button>
          </div>
          <div class="col-xs-3">
            <table>
              <tr>
                <th>Contact</th>
                <th>Delete</th>
              </tr>
              <tr *ngFor="let i of contactArray;let j = index;">
                <td>{{i}}</td>
                <td><button (click)="deleteArray(j,1)">Delete</button></td>
              </tr>
    
            </table>
          </div>
        </div>
        <!--  -->


    <div class="row">
      <div class="form-group" class="col-xs-2"></div>
      <div class="form-group" class="col-xs-1">
        <button type="submit" class="btn btn-primary" [disabled]='!myFormGroup.valid'>
          <i class="material-icons">send</i>
        </button>
      </div>

      <div *ngIf="!submitted" class="col-xs-1">

        <button type="button" value="Reset Form" onClick="this.form.reset()" class="btn btn-danger">
          <i class="material-icons">undo</i>
        </button>
      </div>

      <div *ngIf="submitted" class="col-xs-1">
        <button type="button" value="Add More" onClick="this.form.reset()" (click)="back()" class="btn btn-success">
          <i class="material-icons">add</i>
        </button>
      </div>

    </div>
  </form>
</div>