<div class="well">

  <form [formGroup]="myFormGroup" (ngSubmit)="change(myFormGroup)" submitted=true enctype="multipart/form data" action="/">

    <div class="form-group row">
      <div class="col-xs-3">
        Party Name : <input type="text" id="name" class="form-control" formControlName="name" placeholder="Name">
      </div>

      
  
        <div class="col-xs-3">
          <input type="checkbox" id="contact" class="form-control" formControlName="show">
      </div>

    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        GST No. : <input type="text" id="gst" class="form-control" formControlName="gst" placeholder="GST No">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        Short : <input type="text" id="shortName" class="form-control" formControlName="shortName" placeholder="Short Name">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        Party Type : <select id="dest" class="form-control" formControlName="partyType">
          <option selected disabled>{{pT}}</option>
          <option value="NRCM">NRCM</option>
          <option value="NR">NR</option>
          <option value="SNL">SNL</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        Parent Acc No : <input type="number" class="form-control" formControlName="accNo">
      </div>
    </div>
<hr>
<h3>Address</h3>
    <div class="form-group row">
      <div class="col-xs-3">
        <input type="text" id="addr2" class="form-control" formControlName="addr1" placeholder="Address 1">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        <input type="text" id="addr3" class="form-control" formControlName="addr2" placeholder="Address 2">
      </div>
    </div>
<hr>
<h3>Cities we deliver to : </h3>
    <div class="form-group row">
      <div class="col-xs-3">
        <table class="table table-border">
          <tr>
            <th>Name</th>
            <th>Option</th>
          </tr>
          <tr>
            <td>
              <select [(ngModel)]="city" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let k of villagenamelist">{{k.village_name}}</option>
              </select></td>
            <td>
              <button type="button" class="btn btn-success" (click)="addCity()">Add</button>
            </td>
          </tr>
        </table>
        

      </div>
      <div class="col-xs-3">
        <table class="table table-border">
          <tr>
          <th>Sr</th>
          <th>City</th>
          <th>Delete</th>
        </tr>
        <tr *ngFor="let i of cities;let j = index;">
          <td>{{j+1}}</td>
          <td>{{i}}</td>
          <td><button type="button" mat-raised-button (click)="deletecity(i,j)" class="btn-danger btn-sm btn-just-icon">
            <i class="material-icons">delete_forever</i>
        </button></td>
        </tr>
        </table>
      </div>
    </div>

<hr>
<h3>Contact : Email</h3>
    <div class="form-group row">
      <div class="col-xs-3">
        <input type="text" formControlName='Email'>
      </div>
    </div>
        <hr>
        <h3>Customer Flex Ids</h3>
            <div class="form-group row">
              
                <table class="table table-border">
                  <tr>
                    <th>Village</th>
                    <th>FlexId</th>
                    <th>Contact</th>
                  </tr>
                  <tr>
                    <td>
                      <select [(ngModel)]="village" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let k of villagenamelist">{{k.village_name}}</option>
                      </select></td>
                    <td>
                      <input type="number" [(ngModel)]="flexid" [ngModelOptions]="{standalone: true}">
                    </td>
                    <td>
                      <input type="number" [(ngModel)]="contactflex" [ngModelOptions]="{standalone: true}">
                    </td>
                      
                  </tr>
                </table>
                <button type="button" class="btn btn-success" (click)="addFlex()">Add</button>
        </div>
              
          
        <div class="form-group row">
              
                <table class="table table-border">
                  <tr>
                  <th>Sr</th>
                  <th>Village</th>
                  <th>FlexId</th>
                  <th>Contact</th>
                  <th>Delete</th>
                </tr>
                <tr *ngFor="let i of flexids;let j = index;">
                  <td>{{j+1}}</td>
                  <td>{{i.village}}</td>
                  <td>{{i.flexid}}</td>
                  <td>{{i.contact}}</td>
                  <td><button type="button" mat-raised-button (click)="deleteFlex(i,j)" class="btn-danger btn-sm btn-just-icon">
                    <i class="material-icons">delete_forever</i>
                </button></td>
                </tr>
                </table>
              </div>
            
        
                <!--  -->

    <div class="row">
      <div class="form-group" class="col-xs-2"></div>
      <div class="form-group" class="col-xs-1">
        <button type="submit" class="btn btn-primary" [disabled]='!myFormGroup.valid'>
          <i class="material-icons">send</i>
        </button>
      </div>

      <div *ngIf="!submitted" class="col-xs-1">

        <button type="button" value="Reset Form" onClick="this.form.reset()" class="btn btn-danger">
          <i class="material-icons">undo</i>
        </button>
      </div>

      <div *ngIf="submitted" class="col-xs-1">
        <button type="button" value="Add More" onClick="this.form.reset()" (click)="back()" class="btn btn-success">
          <i class="material-icons">add</i>
        </button>
      </div>

    </div>
  </form>
</div>