<div class="well">

  <form [formGroup]="myFormGroup" (ngSubmit)="change(myFormGroup)" submitted=true enctype="multipart/form data" action="/">

    <div class="form-group row">
      <div class="col-xs-3">
        <input type="text" id="name" class="form-control" formControlName="name" placeholder="Name">
      </div>
      <div class="col-xs-2">
        <div [hidden]="myFormGroup.controls.name.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        <input type="text" id="gst" class="form-control" formControlName="gst" placeholder="GST No">
      </div>
      <div class="col-xs-2">
        <div [hidden]="myFormGroup.controls.gst.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>




    <div class="form-group row">
      <div class="col-xs-3">
        <select id="dest" class="form-control" formControlName="dest">
          <option>{{dest}}</option>
          <option *ngFor="let own of villagenamelist">{{own.village_name}}</option>
        </select>
      </div>
      <div class="col-xs-3">
        <div [hidden]="myFormGroup.controls.dest.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        <input type="text" id="addr2" class="form-control" formControlName="addr1" placeholder="Address 1">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        <input type="text" id="addr3" class="form-control" formControlName="addr2" placeholder="Address 2">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        <select [(ngModel)]="city" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let k of villagenamelist">{{k.village_name}}</option>
        </select>
        <button type="button" (click)="addCity()">Add</button>
      </div>
      <div class="col-xs-3">
        <table>
          <tr>
          <th>Sr</th>
          <th>City</th>
          <th>Delete</th>
        </tr>
        <tr *ngFor="let i of cities;let j = index;">
          <td>{{j+1}}</td>
          <td>{{i}}</td>
          <td><button type="button" mat-raised-button (click)="deletecity(i,j)" class="btn-danger btn-sm btn-just-icon">
            <i class="material-icons">delete_forever</i>
        </button></td>
        </tr>
        </table>
      </div>
    </div>


    <div class="row">
      <div class="form-group" class="col-xs-2"></div>
      <div class="form-group" class="col-xs-1">
        <button type="submit" class="btn btn-primary" [disabled]='!myFormGroup.valid'>
          <i class="material-icons">send</i>
        </button>
      </div>

      <div *ngIf="!submitted" class="col-xs-1">

        <button type="button" value="Reset Form" onClick="this.form.reset()" class="btn btn-danger">
          <i class="material-icons">undo</i>
        </button>
      </div>

      <div *ngIf="submitted" class="col-xs-1">
        <button type="button" value="Add More" onClick="this.form.reset()" (click)="back()" class="btn btn-success">
          <i class="material-icons">add</i>
        </button>
      </div>

    </div>
  </form>



</div>