<div class="well" *ngIf="!showTable">
  <form [formGroup]="myFormGroup" (ngSubmit)="storeGstDetailsData(myFormGroup)" enctype="multipart/form data"
    action="/">
    <!-- DATE-->
    <div class="form-group row">

      <div class="col-sm-1">
        <label for="date"> Date </label>
      </div>

      <div class="col-xs-6">
        <input type="date" class="form-control" formControlName="date">
      </div>

      <div [hidden]="myFormGroup.controls.date.valid" class="col-xs-1">
        <font color="red">
          <span class="glyphicon glyphicon-remove"></span>
        </font>
      </div>
    </div>
    <!--DATE -->
    <!--Hire Amount-->
    <div class="form-group row">

      <div class="col-xs-1">
        <label for="amount"> Amount </label>
      </div>

      <div class="col-xs-6">
        <input type="text" class="form-control" formControlName="amount" />
      </div>

      <div class="col-xs-1">
        <div [hidden]="myFormGroup.controls.amount.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>

    </div>
    <!--HireAmount-->

    <div class="row">
      <div class="form-group" class="col-xs-2"></div>
      <div class="form-group" class="col-xs-1">
        <button type="submit" class="btn btn-primary" [disabled]='!myFormGroup.valid'>
          <i class="material-icons">send</i>
        </button>
      </div>


      <button type="button" value="Reset Form" (click)="Proceed()" class="btn btn-danger">
        Proceed
      </button>


    </div>
  </form>
</div>

<div *ngIf="showTable">
  <hr />
  <button (click)="resetArray()" class="btn btn-danger">Reset Array</button>
  <button (click)="downloadExcel()" class="btn btn-warning">Check Excel</button>
  <button class="btn btn-info" data-toggle="modal" data-target="#myModalMail">Send Mail</button>
  <h2>Balance Follow</h2>
  <h3><label>(B/F) : </label>{{mainArray[0].BFDetails.BF}}</h3><br>
  <h3><label>(B/F) Message :</label>{{mainArray[0].BFDetails.BFMsg}}</h3>
  <button mat-raised-button (click)="delete(0,'balance')" class="btn-danger btn-sm btn-just-icon">
    <i class="material-icons">delete_forever</i>
  </button>
  <button mat-raised-button type="button" data-toggle="modal" data-target="#myModalB" (click)="update(0,'balance')"
    class="btn-primary btn-sm btn-just-icon">
    <i class="material-icons">edit</i>
  </button>
  <hr />
  <h2>Account Details</h2>
  <table class="table" style="width:100%" align="center">
    <thead class="table-header">
      <tr>
        <th>Srno</th>
        <th>Date</th>
        <th>Particulars</th>
        <th>Truck Number</th>
        <th>LRNO</th>
        <th>Amount</th>
        <th>Delete</th>
        <th>Update</th>
      </tr>
    </thead>


    <tbody>
      <tr *ngFor="let i of mainArray[1].AccountDetails;let j = index">
        <td>{{j+1}}</td>
        <td>{{i.date}}</td>
        <td>{{i.particulars}}</td>
        <td>{{i.truckNo}}</td>
        <td>{{i.lrno}}</td>
        <td>{{i.amount}}</td>
        <td>
          <button mat-raised-button (click)="delete(j,'account')" class="btn-danger btn-sm btn-just-icon">
            <i class="material-icons">delete_forever</i>
          </button>
        </td>
        <td>
          <button mat-raised-button type="button" data-toggle="modal" data-target="#myModalA"
            (click)="update(j,'account')" class="btn-primary btn-sm btn-just-icon">
            <i class="material-icons">edit</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <hr />
  <h2>Payment Details</h2>
  <table class="table" style="width:100%" align="center">
    <thead class="table-header">
      <tr>
        <th>Srno</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Delete</th>
        <th>Update</th>
      </tr>
    </thead>


    <tbody>
      <tr *ngFor="let i of mainArray[2].PaymentDetails;let j = index">
        <td>{{j+1}}</td>
        <td>{{i.date}}</td>
        <td>{{i.amount}}</td>
        <td>
          <button mat-raised-button (click)="delete(j,'payment')" class="btn-danger btn-sm btn-just-icon">
            <i class="material-icons">delete_forever</i>
          </button>
        </td>
        <td>
          <button mat-raised-button type="button" data-toggle="modal" data-target="#myModalP"
            (click)="update(j,'payment')" class="btn-primary btn-sm btn-just-icon">
            <i class="material-icons">edit</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <div class="modal fade" id="myModalB" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Updating BalanceFollow</h4>
        </div>
        <div class="modal-body">
          <input type="number" value="{{balanceUpdateData.BF}}" #pBF>
          <input type="text" value="{{balanceUpdateData.BFMsg}}" #pBFMsg>
          <button class="btn btn-warning" (click)="finalUpdate('balance',pBF.value,pBFMsg.value)">Update</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="modal fade" id="myModalA" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Updating</h4>
        </div>
        <div class="modal-body">
          <input type="date" value="{{accountUpdateData.date}}" #pADate>
          <input type="text" value="{{accountUpdateData.particulars}}" #pAPart>
          <input type="text" value="{{accountUpdateData.dest}}" #pADest>
          <input type="text" value="{{accountUpdateData.truckNo}}" #pAtno>
          <input type="text" value="{{accountUpdateData.lrno}}" #pAlrno>
          <input type="text" value="{{accountUpdateData.amount}}" #pAAmount>
          <button class="btn btn-warning"
            (click)="finalUpdate('account',pADate.value,pAPart.value,pADest.value,pAtno.value,pAlrno.value,pAAmount.value)">Update</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="modal fade" id="myModalP" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Updating</h4>
        </div>
        <div class="modal-body">
          <input type="date" value="{{paymentUpdateData.date}}" #pDate>
          <input type="text" value="{{paymentUpdateData.amount}}" #pAmount>
          <button class="btn btn-warning" (click)="finalUpdate('payment',pDate.value,pAmount.value)">Update</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Mail -->
<!-- <div class="container">
  <div class="modal fade" id="myModalMail" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Sending Mail</h4>
        </div>
        <div class="modal-body">

          <div class="well">
            <form [formGroup]="myFormGroupE" (ngSubmit)="sendMail(myFormGroupE)" submittedO=true
              enctype="multipart/form data" action="/">



              <div class="form-group row">
                <div class="col-xs-8">
                  <label><b>
                      <h3>nitinroadways9@gmail.com</h3>
                    </b></label>
                </div>

              </div>

              <div class="form-group row">

                <div class="col-xs-1">
                  <label for="To"> To </label>
                </div>

                <div class="col-xs-6">
                  <select id="palce" class="form-control" formControlName="toReceive">
                    <option disabled selected>Select To</option>
                    <option *ngFor="let i of receivers" value={{i.value}}>{{i.viewValue}}</option>
                  </select>
                </div>

                <div class="col-xs-1">
                  <div [hidden]="myFormGroupE.controls.toReceive.valid">
                    <font color="red">
                      <span class="glyphicon glyphicon-remove"></span>
                    </font>
                  </div>
                </div>

              </div>


              <div class="form-group row">
                <div class="col-xs-8">
                  <input type="password" id="password" class="form-control" formControlName="password"
                    placeholder="Password">
                </div>
                <div class="col-xs-2">
                  <div [hidden]="myFormGroupE.controls.password.valid">
                    <font color="red">
                      <span class="glyphicon glyphicon-remove"></span>
                    </font>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group" class="col-xs-2"></div>
                <div class="form-group" class="col-xs-1">
                  <button type="submit" class="btn btn-primary" [disabled]='!myFormGroupE.valid'>
                    <i class="material-icons">send</i>
                  </button>
                </div>
              </div>
            </form>
          </div>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Mail -->