<nav class="navbar navbar-inverse">

  <div class="container row" style="width:100%;">
    <!-- <div class="col-sm-2 col-xs-2"> -->
    <!-- <div class="navbar-header"> -->
      
    <!-- </div> -->
<!-- </div> -->
<div class="col-sm-12 col-xs-12">
  <span class="navbar-brand" routerLink="NRCM_TPT_HOME">NRCM</span>
  <span class="navbar-brand" routerLink="LOADING_DETAILS"><i class="material-icons">directions_bus</i></span>
  <span class="navbar-brand" routerLink="PERSONAL_DETAILS"><i class="material-icons">settings</i></span>
  <span class="navbar-brand" (click)="logout()"><i class="material-icons">exit_to_app</i></span>

    </div>
  </div>

</nav>
<!-- 
<div> -->
  Welcome {{nameOfUser}}
  <router-outlet></router-outlet>
<!-- </div> -->