<nav class="navbar navbar-inverse">

  <div class="container row" style="width:100%;">
    <div class="col-sm-4">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="NRCM_TPT_HOME">NRCM</a>
    </div>
</div>
<div class="col-sm-6">
    <ul class="nav navbar-nav">

      <li class="dropdown">
        <a routerLink="TRUCK_DETAILS">Truck Details</a>
      </li>

       <li class="dropdown">
        <a routerLink="PERSONAL_DETAILS">Edit Personal Details</a>
      </li>
<!--
      <li class="dropdown">
        <a routerLink="PENDING_PAYMENT_DISPLAY">Pending Payment</a>
      </li>


      <li class="dropdown">
        <a routerLink="TICKET_HANDLER">Ticket</a>
      </li> -->

      <li class="dropdown">
        <a (click)="logout()">Logout
          <span class="caret"></span>
        </a>
      </li>

      <li class="time">
        {{todayDate|date:'dd-MM-yyyy'}}
      </li>
      <li style="    color: white;
      font-size: 20px;
      margin-top: 10px;
      margin-left: 15px;"></li>
    </ul>
    </div>
    <div class="col-sm-2">
      <span class="navbar-brand">Welcome {{nameOfUser}}</span>
    </div>
  </div>

</nav>
<!-- 
<div> -->
  <router-outlet></router-outlet>
<!-- </div> -->