<div class="well">
  <div class="row">
    <button mat-raised-button type="button" (click)="find()" 
        class="btn btn-primary btn-sm btn-just-icon delete">
        Get Data
      </button>
      <!--findNew-->
  </div>
  
  <div>
  
  
    <table class="table" style="width:100%" align="center" *ngIf="tableSelected">
      <thead align="center" style="font-weight: bold">
        <tr class=table-header>
          <th>Srno</th>
          <th>Loading Date</th>
          <th>Party</th>
          <th>LRNO</th>
          <th>Contact</th>
        </tr>
      </thead>
  
      <tbody align="center">
        <tr *ngFor="let i of turnbooklist;let j = index">
          <td>{{j+1}}</td>
          <td>{{i.loadingDate|date:'dd-MM-yyyy'}}<br>{{i.truckno}}</td>
          <td>{{i.party}}</td>
          <td>{{i.nrlrno}}</td>
          <td>D:{{i.contacttb}}<br>O:{{contactqr}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  