<div class="well">
  <form [formGroup]="myFormGroup" (ngSubmit)="change(myFormGroup)" submitted=true
    enctype="multipart/form data" action="/">

<!-- TPT Name -->
<div class="form-group row">
  <div class="col-xs-3">
    Transport Name - <input type="text" id="tptName" class="form-control" formControlName="tptName" placeholder="Transport Name">
  </div>
</div>
<!--TPT Name -->

<!-- Name -->
<div class="form-group row">
  <div class="col-xs-3">
    Owner Name - <input type="text" id="name" class="form-control" formControlName="name" placeholder="Transport Owner">
  </div>
</div>
<!-- Name -->
<!-- PAN -->
    <div class="form-group row">
      <div class="col-xs-3">
        PAN - <input type="text" id="pan" class="form-control" formControlName="pan" placeholder="Transport PAN">
      </div>
    </div>
    <!-- PAN -->

    <!-- PAN -->
    <div class="form-group row">
      <div class="col-xs-1">
        Pan - <input type="checkbox" id="P" class="form-control" formControlName="P">
      </div>
    </div>
    <!-- PAN -->

    <!-- email -->
    <div class="form-group row">
      <div class="col-xs-3">
        Email - <input type="text" id="email" class="form-control" formControlName="email" placeholder="Transport Email">
      </div>
    </div>
    <!-- email -->
    
<!-- Contact -->
    <div class="form-group row">
      <div class="col-xs-3">
        Contact : <input type="text" id="contact" class="form-control" [(ngModel)]="contactA"
          [ngModelOptions]="{standalone: true}" placeholder="9876543211">
        <button type="button" class="btn btn-primary" (click)="addMore()">Add</button>
      </div>
      <div class="col-xs-4">
        <ul *ngFor="let i of contactArray;let j =index;">
          <li>{{i}} <button type="button" mat-raised-button (click)="deleteOne(i,j)"
              class="btn-danger btn-sm btn-just-icon">
              <i class="material-icons">delete_forever</i>
            </button></li>
        </ul>
      </div>
    </div>
    <!-- Contact -->

    <!-- Address -->

    <div class="form-group row">
      <div class="col-xs-3">
        Address : 
        <input type="text" class="form-control" formControlName="addr1" placeholder="Address Line 1" id="a1">
        <input type="text" class="form-control" formControlName="addr2" placeholder="Address Line 2" id="a2">
        <input type="text" class="form-control" formControlName="addr3" placeholder="Address Line 3" id="a3">
      </div>
    </div>
<!-- Address -->

    <div class="row">
      <div class="form-group" class="col-xs-2"></div>
      <div class="form-group" class="col-xs-1">
        <button type="submit" class="btn btn-primary" [disabled]='!myFormGroup.valid'>
          <i class="material-icons">send</i>
        </button>
      </div>

      <div *ngIf="!submitted" class="col-xs-1">

        <button type="button" value="Reset Form" onClick="this.form.reset()" class="btn btn-danger">
          <i class="material-icons">undo</i>
        </button>
      </div>

      <div *ngIf="submitted" class="col-xs-1">
        <button type="button" value="Add More" onClick="this.form.reset()" (click)="back()" class="btn btn-success">
          <i class="material-icons">add</i>
        </button>
      </div>

    </div>
  </form>



</div>