<div class="well">

  <form [formGroup]="myFormGroup" (ngSubmit)="change(myFormGroup)" submitted=true enctype="multipart/form data"
    action="/">



    <div class="form-group row">
      <div class="col-xs-3">
        Truck No - <input type="text" id="truckno" class="form-control" formControlName="truckno" disabled>
      </div>
      <div class="col-xs-1">
        Type - <select [(ngModel)]='typeOfVehicle' class="form-control" formControlName="typeOfVehicle" >
          <option selected disabled>{{type}}</option>
          <option>Open</option>
          <option>Container</option>
          <option>Taurus</option>
        </select>
      </div>
      <div class="col-xs-3">
        Name - <input type="text" id="oname" class="form-control" formControlName="oname" placeholder="Name">
      </div>
      <div class="col-xs-3">
        Pan - <input type="text" id="pan" class="form-control" formControlName="pan" placeholder="ASDFG1234A">
      </div>
    </div>


    <div class="form-group row">
      

      <div class="col-xs-1">
        Policy - <input type="checkbox" id="p" class="form-control" formControlName="p">
      </div>
      <div class="col-xs-1">
        RC - <input type="checkbox" id="r" class="form-control" formControlName="r">
      </div>
      <div class="col-xs-1">
        DL - <input type="checkbox" id="d" class="form-control" formControlName="d">
      </div>
      <div class="col-xs-1">
        Fitness - <input type="checkbox" id="f" class="form-control" formControlName="f">
      </div>
      <div class="col-xs-1">
        Pan - <input type="checkbox" id="P" class="form-control" formControlName="P">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-2">
        RC Expiry- <input type="date" id="regCardExpiry" class="form-control" formControlName="regCardExpiry">
      </div>
      <div class="col-xs-2">
        Lic Expiry - <input type="date" id="drivingLicExpiry" class="form-control" formControlName="drivingLicExpiry">
      </div>
      <div class="col-xs-2">
        Policy Expiry -  <input type="date" id="policyExpiry" class="form-control" formControlName="policyExpiry">
      </div>
      <div class="col-xs-2">
        Fitness Expiry - <input type="date" id="fitnessExpiry" class="form-control" formControlName="fitnessExpiry">
      </div>
      <div class="col-xs-2">
        Height Breadth Length - <input type="text" id="hbl" class="form-control" formControlName="hbl" placeholder="20*8*8">
      </div>
      <div class="col-xs-2">
        (Max) Weight in Ton - <input type="number" id="weight" class="form-control" formControlName="weight" placeholder="Name">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        DoB - <input type="date" id="dob" class="form-control" formControlName="dob">
      </div>
      <div class="col-xs-3">
       Aadhar No -  <input type="number" id="aadhar" class="form-control" formControlName="aadhar">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        <input type="text" id="contact" class="form-control" [(ngModel)]="contactA"
          [ngModelOptions]="{standalone: true}" placeholder="9876543211">
        <button type="button" class="btn btn-primary" (click)="addMore()">Add</button>
      </div>
      <div class="col-xs-4">
        <ul *ngFor="let i of contactArray;let j =index;">
          <li>{{i}} <button type="button" mat-raised-button (click)="deleteOne(i,j)"
              class="btn-danger btn-sm btn-just-icon">
              <i class="material-icons">delete_forever</i>
            </button></li>
        </ul>
      </div>
    </div>
    <hr>


    <!-- Account details -->
    <div class="well">
    <div class="form-group row" *ngIf='role==1||role==2'>
      <div class="col-xs-3">
        <input type="text" id="accountName" class="form-control" formControlName="accountName" placeholder="ABC">
      </div>
      <div class="col-xs-3">
        <input type="number" id="accountNumber" class="form-control" formControlName="accountNumber"
          placeholder="325689741">
      </div>
      <div class="col-xs-3">
        <input type="text" id="bankName" class="form-control" formControlName="bankName" placeholder="Bank Name">
      </div>
      <div class="col-xs-3">
        <input type="text" id="ifsc" class="form-control" formControlName="ifsc" placeholder="IFSC">
      </div>

      <div class="form-group row" *ngIf='role==1||role==2'>
        <div class="col-sm-1">
          <button type="button" class="btn btn-danger" style="width: 100%;" (click)="addaccount()">Add</button>
        </div>
        <div class="col-sm-6">
          <table class="table table-bordered">
            <tr>
              <th>Srno</th>
              <th>Name</th>
              <th>Number</th>
              <th>Bank</th>
              <th>IFSC</th>
              <th>Delete</th>
            </tr>
            <tr *ngFor="let i of accountArray;let j = index;">
              <td>{{j+1}}</td>
              <td>{{i.accountName}}</td>
              <td>{{i.accountNumber}}</td>
              <td>{{i.bankName}}</td>
              <td>{{i.ifsc}}</td>
              <td (click)="deleteOneA(i,j)">Delete</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>
    <hr *ngIf='role==1||role==2'>
    <!-- Account Details -->
    <!-- Preference -->
    <div class="form-group row">
      <div class="col-xs-3">
        <select id="preferences" class="form-control" [(ngModel)]="pA" [ngModelOptions]="{standalone: true}">
          <option disabled selected>Select Village</option>
          <option *ngFor="let i of villagedetailslist;let j=index;" value={{i.village_name}}>{{i.village_name}}
          </option>
        </select>
        <button type="button" class="btn btn-primary" (click)="addMoreP()">Add</button>
      </div>
      <div class="col-xs-4">
        <ul *ngFor="let i of preferenceArray;let j =index;">
          <li>{{i}} <button type="button" mat-raised-button (click)="deleteOneP(i,j)"
              class="btn-danger btn-sm btn-just-icon">
              <i class="material-icons">delete_forever</i>
            </button></li>
        </ul>
      </div>
    </div>
    <!-- Preference -->

    <div class="row">
      <div class="form-group" class="col-xs-2"></div>
      <div class="form-group" class="col-xs-1">
        <button type="submit" class="btn btn-primary" [disabled]='!myFormGroup.valid'>
          <i class="material-icons">send</i>
        </button>
      </div>
    </div>
  </form>
</div>
