<div class="well">

  <form [formGroup]="myFormGroup" (ngSubmit)="change(myFormGroup)" submitted=true enctype="multipart/form data"
    action="/">



    <div class="form-group row">
      <div class="col-xs-3">
        <input type="text" id="truckno" class="form-control" formControlName="truckno" disabled>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        <input type="text" id="oname" class="form-control" formControlName="oname" placeholder="Name">
      </div>
      <div class="col-xs-2">
        <div [hidden]="myFormGroup.controls.oname.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        <input type="text" id="pan" class="form-control" formControlName="pan" placeholder="ASDFG1234A">
      </div>
      <div class="col-xs-2">
        <div [hidden]="myFormGroup.controls.pan.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>


    <div class="form-group row">
      <div class="col-xs-3">
        <input type="text" id="regCard" class="form-control" formControlName="regCard" placeholder="Registration Card">
      </div>
      <div class="col-xs-3">
        <input type="date" id="regCardExpiry" class="form-control" formControlName="regCardExpiry">
      </div>
    </div>


    <div class="form-group row">
      <div class="col-xs-3">
        <input type="text" id="drivingLic" class="form-control" formControlName="drivingLic" placeholder="DL Number">
      </div>
      <div class="col-xs-3">
        <input type="date" id="drivingLicExpiry" class="form-control" formControlName="drivingLicExpiry">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        <input type="text" id="policy" class="form-control" formControlName="policy" placeholder="Policy Number">
      </div>
      <div class="col-xs-3">
        <input type="date" id="policyExpiry" class="form-control" formControlName="policyExpiry">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xs-3">
        Date of Birth - 
      </div>
      <div class="col-xs-3">
        <input type="date" id="dob" class="form-control" formControlName="dob">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xs-3">
        Aadhar Number - 
      </div>
      <div class="col-xs-3">
        <input type="number" id="aadhar" class="form-control" formControlName="aadhar">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xs-3">
        <input type="text" id="engNo" class="form-control" formControlName="engNo" placeholder="Engine Number">
      </div>
      <div class="col-xs-3">
        <input type="text" id="chasisNo" class="form-control" formControlName="chasisNo" placeholder="Chasis Number">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        <input type="text" id="contact" class="form-control" [(ngModel)]="contactA"
          [ngModelOptions]="{standalone: true}" placeholder="9876543211">
        <button type="button" class="btn btn-primary" (click)="addMore()">Add</button>
      </div>
      <div class="col-xs-4">
        <ul *ngFor="let i of contactArray;let j =index;">
          <li>{{i}} <button type="button" mat-raised-button (click)="deleteOne(i,j)"
              class="btn-danger btn-sm btn-just-icon">
              <i class="material-icons">delete_forever</i>
            </button></li>
        </ul>
      </div>
    </div>
    <hr>


    <!-- Account details -->
    <div class="form-group row" *ngIf='role==1||role==2'>
      <div class="col-xs-3">
        <input type="text" id="accountName" class="form-control" formControlName="accountName" placeholder="ABC">
      </div>
      <div class="col-xs-2">
        <div [hidden]="myFormGroup.controls.accountName.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>

    <div class="form-group row" *ngIf='role==1||role==2'>
      <div class="col-xs-3">
        <input type="number" id="accountNumber" class="form-control" formControlName="accountNumber"
          placeholder="325689741">
      </div>
      <div class="col-xs-2">
        <div [hidden]="myFormGroup.controls.accountNumber.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>





    <div class="form-group row" *ngIf='role==1||role==2'>
      <div class="col-xs-3">
        <input type="text" id="bankName" class="form-control" formControlName="bankName" placeholder="Bank Name">
      </div>
      <div class="col-xs-2">
        <div [hidden]="myFormGroup.controls.bankName.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>

    <div class="form-group row" *ngIf='role==1||role==2'>
      <div class="col-xs-3">
        <input type="text" id="ifsc" class="form-control" formControlName="ifsc" placeholder="IFSC">
      </div>
      <div class="col-xs-2">
        <div [hidden]="myFormGroup.controls.ifsc.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>
    <!-- keep adding these data here -->

    <!-- TruckDate -->
    <div class="form-group row" *ngIf='role==1||role==2'>
      <div class="col-sm-1">
        <button type="button" (click)="addaccount()">Add</button>
      </div>
      <div class="col-sm-6">
        <table class="table table-bordered">
          <tr>
            <th>Srno</th>
            <th>Name</th>
            <th>Number</th>
            <th>Bank</th>
            <th>IFSC</th>
            <th>Delete</th>
          </tr>
          <tr *ngFor="let i of accountArray;let j = index;">
            <td>{{j+1}}</td>
            <td>{{i.accountName}}</td>
            <td>{{i.accountNumber}}</td>
            <td>{{i.bankName}}</td>
            <td>{{i.ifsc}}</td>
            <td (click)="deleteOneA(i,j)">Delete</td>
          </tr>
        </table>
      </div>

    </div>
    <hr *ngIf='role==1||role==2'>
    <!-- Account Details -->
    <!-- Preference -->
    <div class="form-group row">
      <div class="col-xs-3">
        <select id="preferences" class="form-control" [(ngModel)]="pA" [ngModelOptions]="{standalone: true}">
          <option disabled selected>Select Village</option>
          <option *ngFor="let i of villagedetailslist;let j=index;" value={{i.village_name}}>{{i.village_name}}
          </option>
        </select>
        <button type="button" class="btn btn-primary" (click)="addMoreP()">Add</button>
      </div>
      <div class="col-xs-4">
        <ul *ngFor="let i of preferenceArray;let j =index;">
          <li>{{i}} <button type="button" mat-raised-button (click)="deleteOneP(i,j)"
              class="btn-danger btn-sm btn-just-icon">
              <i class="material-icons">delete_forever</i>
            </button></li>
        </ul>
      </div>
    </div>
    <!-- Preference -->

    <div class="row">
      <div class="form-group" class="col-xs-2"></div>
      <div class="form-group" class="col-xs-1">
        <button type="submit" class="btn btn-primary" [disabled]='!myFormGroup.valid'>
          <i class="material-icons">send</i>
        </button>
      </div>

    </div>
  </form>





</div>