<div class="well container">

  <form [formGroup]="myFormGroup" (ngSubmit)="storeBookingCashExpenses(myFormGroup)" submitted=true enctype="multipart/form data"
    action="/" name="myform" id="myform">
    <div class="row">
      <div class="col-sm-10">

        <!-- DATE-->
        <div class="form-group row">
          <div class="col-xs-1">
            <label for="date"> Date </label>
          </div>
          <div class="col-xs-6">
            <input type="date" class="form-control" id="date" formControlName="date">
          </div>

        </div>
        <!--DATE -->

        <!--NOP-->
        <div class="form-group row">

          <div class="col-xs-1">
            <label for="nop"> NOP </label>
          </div>
          <div class="col-xs-6">
            <select id="nop" formControlName="nop" class="form-control">
              <option disabled selected>Select Name of The Party</option>
              <option *ngFor="let gst of gstdetailslist" value={{gst.name}}>{{gst.name}}...{{gst.dest}}</option>
            </select>
          </div>

          <div class="col-xs-1">
            <div [hidden]="myFormGroup.controls.nop.valid">
              <font color="red">
                <span class="glyphicon glyphicon-remove"></span>
              </font>
            </div>
          </div>

        </div>
        <!--NOP-->

        <!--Truckno-->
        <div class="form-group row">

          <div class="col-xs-1">
            <label for="truckNo"> Truckno </label>
          </div>

          <div class="col-xs-6">
            <select id="truckNo" class="form-control " formControlName="truckNo" [(ngModel)]="trucknoid">
              <option disabled selected>Select Truck Number</option>
              <option *ngFor="let own of ownerdetailslist">{{own.truckno}}</option>
            </select>
          </div>

          <div class="col-xs-1">
            <div [hidden]="myFormGroup.controls.truckNo.valid">
              <font color="red">
                <span class="glyphicon glyphicon-remove"></span>
              </font>
            </div>
          </div>

        </div>
        <!--Truckno-->

        <!--Place-->
        <div class="form-group row">

          <div class="col-xs-1">
            <label for="place"> Place </label>
          </div>

          <div class="col-xs-6">
            <select id="palce" class="form-control" formControlName="place">
              <option disabled selected>Select Place</option>
              <option *ngFor="let own of villagelist">{{own.village_name}}</option>
            </select>
          </div>

          <div class="col-xs-1">
            <div [hidden]="myFormGroup.controls.place.valid">
              <font color="red">
                <span class="glyphicon glyphicon-remove"></span>
              </font>
            </div>
          </div>

        </div>
        <!--Place-->

        <!--LRNO-->
        <div class="form-group row">

          <div class="col-xs-1">
            <label for="lrno"> LRNO </label>
          </div>

          <div class="col-xs-6">
            <input type="number" id="lrno" class="form-control" formControlName="lrno">
          </div>

          <div class="col-xs-2">
            <div [hidden]="myFormGroup.controls.lrno.valid">
              <font color="red">
                <span class="glyphicon glyphicon-remove"></span>
              </font>
            </div>
          </div>

        </div>
        <!--LRNO-->
        <!--Hire Amount-->
        <div class="form-group row">

          <div class="col-xs-1">
            <label for="hireAmount"> Hire Amount </label>
          </div>

          <div class="col-xs-6">
            <input type="text" list="cars" class="form-control" formControlName="hireAmount" />
            <datalist id="cars">
              <option *ngFor="let i of hireExtendingMoney">{{i}}</option>
            </datalist>
          </div>

          <div class="col-xs-1">
            <div [hidden]="myFormGroup.controls.hireAmount.valid">
              <font color="red">
                <span class="glyphicon glyphicon-remove"></span>
              </font>
            </div>
          </div>

        </div>
        <!--HireAmount-->

        <div class="row">
          <div class="form-group" class="col-xs-2"></div>
          <div class="form-group" class="col-xs-1">
            <button type="submit" class="btn btn-primary" [disabled]='!myFormGroup.valid'>
              <i class="material-icons">send</i>
            </button>
          </div>

          <div *ngIf="!submitted" class="col-xs-1">

            <button type="button" value="Reset Form" onClick="this.form.reset()" class="btn btn-danger">
              <i class="material-icons">undo</i>
            </button>
          </div>

          <div *ngIf="submitted" class="col-xs-1">
            <button type="button" value="Add More" onClick="this.form.reset()" (click)="back()" class="btn btn-success">
              <i class="material-icons">add</i>
            </button>
          </div>

        </div>
      </div>
    </div>
  </form>
</div>