button{
    border-radius: 100px;
}

.header-head{
    background-color: orange;
    color:white;
    padding: 1%;
        border-radius: 100px;
        text-align: center;
  }
  
  .wellNormal{
    background-color: black;
    border-color: black;
  }

  .wellbutton{
    color: white;
  background-color: black;
  }

  label,h3,thead,tbody{
    color: white;
  }

  select,input{
    background-color: black;
    color:white;
  }