button{
    border-radius: 100px;
}

/* .floatingBookingDiv{
     z-index: 1;
    position: relative;
    left: 1in;
    bottom: 0px;
    background-color: transparent;
    height: 0px;
    color: black;
    font-size: 4.8rem;
} */

