<div>
  <button class="btn btn-primary" (click)="refreshData()">
    <font color="white" tooltip="Refresh The Data">
      <span class="glyphicon glyphicon-refresh"></span>
    </font>
  </button>



  <div *ngIf="!togglemenu">
    <div class="well">
      <h1 style="text-align: center;">
        Duplicate LRNO found, Please check LR again, Thank you!
      </h1>
      <div class="row">
        <button class="btn btn-danger" style="width:100%" (click)="toggle()">Click to go Back</button>
      </div>
    </div>
  </div>

  <div class="well container" *ngIf="togglemenu">

    <form [formGroup]="myFormGroup" (ngSubmit)="storeBookingData(myFormGroup,day.value)" submitted=true
      enctype="multipart/form data" action="/" name="myform" id="myform">
      <div class="row">
        <div class="col-sm-10">
          <!-- IMPGST -->

          <!-- <div class="form-group row">

      <div class="col-xs-1">
        <label for="FromParty"> Important Party </label>
      </div>

      <div class="col-xs-6">
        <select id="FromParty" class="form-control " formControlName="FromParty" [(ngModel)]="impnopid" (change)="findimpgst()">
          <option disabled selected>Select Name of The Party</option>
          <option *ngFor="let gst of impgstdetailslist" value={{gst._id}}>{{gst.name}}...{{gst.dest}}</option>
        </select>
      </div>

      <div class="col-xs-1">
        <div [hidden]="myFormGroup.controls.FromParty.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>

      <div class="col-xs-4" align="center">
        <table>
          <tr>
            <th>GST Number</th>
            <th>Destination</th>
          </tr>
          <tr *ngFor="let i of impgstdetailslistid">
            <td>
              <input type="text" value="{{i.gst}}" #impgsttp disabled>
            </td>
            <td>
              <input type="text" value="{{i.dest}}" #impplace disabled>
            </td>
          </tr>
        </table>
      </div>

    </div> -->
          <!-- IMPGST -->
          <!-- DATE-->
          <div class="form-group row">

            <div class="col-sm-1">
              <label for="Date"> Date </label>
            </div>

            <div class="col-xs-2">
              <select class="form-control " #day id="Date" formControlName="Date">
                <option>Date</option>
                <option *ngFor="let day of days">{{day}}</option>
              </select>
            </div>

            <div class="form-group col-xs-2" align="center">
              {{m}}
            </div>

            <!-- <div class="form-group col-xs-2">
              <select class="form-control scrollable-menu" #year>
                <option>{{y}}</option>
                <option *ngFor="let years of yearNames">{{years}}</option>
              </select>
            </div> -->
            <div class="form-group col-xs-2" align="center">
              {{y}}
            </div>

            <div [hidden]="myFormGroup.controls.Date.valid" class="col-xs-1">
              <font color="red">
                <span class="glyphicon glyphicon-remove"></span>
              </font>
            </div>
            <!-- <div class="floatingBookingDiv">{{fullCount}}</div> -->
          </div>
          <!--DATE -->
          <!--Place-->
          <div class="form-group row">

            <div class="col-xs-1">
              <label for="place"> Place </label>
            </div>

            <div class="col-xs-6">
              <select id="palce" class="form-control" formControlName="place">
                <option disabled selected>Select Place</option>
                <!-- <option *ngFor="let own of villagelist" value="{{own.srno}}">{{own.village_name}}</option> -->
                <option *ngFor="let own of villagelist">{{own.village_name}}</option>
              </select>
            </div>

            <div class="col-xs-1">
              <div [hidden]="myFormGroup.controls.place.valid">
                <font color="red">
                  <span class="glyphicon glyphicon-remove"></span>
                </font>
              </div>
            </div>

          </div>
          <!--Place-->
          <a data-toggle="modal" data-target="#ownerModal">Add
            Truck</a>
          <!--Truckno-->
          <div class="form-group row">

            <div class="col-xs-1">
              <label for="truckno"> Truckno </label>
            </div>

            <div class="col-xs-6">
              <select id="truckno" class="form-control " formControlName="truckno" [(ngModel)]="trucknoid"
                (change)="findowner()">
                <option disabled selected>Select Truck Number</option>
                <option *ngFor="let own of ownerdetailslist;let j=index;" value={{own._id+j}}>{{own.truckno}}</option>
              </select>
            </div>

            <div class="col-xs-1">
              <div [hidden]="myFormGroup.controls.truckno.valid">
                <font color="red">
                  <span class="glyphicon glyphicon-remove"></span>
                </font>
              </div>
            </div>

            <div class="col-xs-4" align="center">
              <table>
                <tr>
                  <th>Owner Name </th>
                  <th>PAN </th>
                </tr>
                <tr *ngIf="ownerID">
                  <td>
                    <input type="text" value="{{ownerdetailslistid.oname}}" #ownname disabled>
                  </td>
                  <td>
                    <input type="text" value="{{ownerdetailslistid.pan}}" #panno disabled>
                </tr>
                <!-- <tr *ngFor="let i of ownerdetailslistid">
                  <td>
                    <input type="text" value="{{i.oname}}" #ownname disabled>
                  </td>
                  <td>
                    <input type="text" value="{{i.pan}}" #panno disabled>
                </tr> -->
              </table>
            </div>

          </div>
          <!--Truckno-->
          <!--NOP-->
          <div class="form-group row">

            <div class="col-xs-1">
              <label for="nop"> NOP </label>
            </div>
            <div class="col-xs-6">
              <select id="nop" class="form-control " formControlName="nop" [(ngModel)]="nopid" (change)="findgst()">
                <option disabled selected>Select Name of The Party</option>
                <option *ngFor="let gst of gstdetailslist;let j = index;" value={{gst._id+j}}>
                  {{gst.name}}...{{gst.dest}}
                </option>
              </select>
            </div>
            <!-- <div class="col-sm-1">{{current_count}}</div> -->

            <div class="col-xs-1">
              <div [hidden]="myFormGroup.controls.nop.valid">
                <font color="red">
                  <span class="glyphicon glyphicon-remove"></span>
                </font>
              </div>
            </div>

            <div class="col-xs-4" align="center">
              <table>
                <tr>
                  <th>GST Number</th>
                  <th>Destination</th>
                </tr>
                <!-- <tr *ngFor="let i of gstdetailslistid">
                  <td>
                    <input type="text" value="{{i.gst}}" #gsttp disabled>
                  </td>
                  <td>
                    <input type="text" value="{{i.dest}}" #place disabled>
                  </td>
                </tr> -->
                <tr *ngIf="gstID">
                  <td>
                    <input type="text" value="{{gstdetailslistid.gst}}" #gsttp disabled>
                  </td>
                  <td>
                    <input type="text" value="{{gstdetailslistid.dest}}" #place disabled>
                  </td>
                </tr>
              </table>
            </div>

          </div>
          <!--NOP-->

          <!--LRNO-->
          <div class="form-group row">

            <div class="col-xs-1">
              <label for="lrno"> LRNO </label>
            </div>

            <div class="col-xs-6">
              <input type="number" id="lrno" class="form-control" formControlName="lrno">
            </div>

            <div class="col-xs-2">
              <div [hidden]="myFormGroup.controls.lrno.valid">
                <font color="red">
                  <span class="glyphicon glyphicon-remove"></span>
                </font>
              </div>
            </div>

          </div>
          <!--LRNO-->
          <!--Hire Amount-->
          <div class="form-group row">

            <div class="col-xs-1">
              <label for="hamt"> Hire Amount </label>
            </div>

            <div class="col-xs-6">
              <input type="text" list="cars" class="form-control" formControlName="hamt" />
              <datalist id="cars">
                <option *ngFor="let i of hireExtendingMoney">{{i}}</option>
              </datalist>
            </div>

            <div class="col-xs-1">
              <div [hidden]="myFormGroup.controls.hamt.valid">
                <font color="red">
                  <span class="glyphicon glyphicon-remove"></span>
                </font>
              </div>
            </div>

          </div>
          <!--HireAmount-->
          <!--Amount-->
          <!-- <div class="form-group row">

          <div class="col-xs-1">
            <label for="amt"> Amount </label>
          </div>

          <div class="col-xs-6">
            <input type="number" id="amt" class="form-control" formControlName="amt">
          </div>

        </div> -->
          <!--Amount-->

          <div class="row">
            <div class="form-group" class="col-xs-2"></div>
            <div class="form-group" class="col-xs-1">
              <button type="submit" class="btn btn-primary" [disabled]='!myFormGroup.valid'>
                <i class="material-icons">send</i>
              </button>
            </div>

            <div *ngIf="!submitted" class="col-xs-1">

              <button type="button" value="Reset Form" (click)="reset()" class="btn btn-danger">
                <i class="material-icons">undo</i>
              </button>
            </div>

            <div *ngIf="submitted" class="col-xs-1">
              <button type="button" value="Add More" (click)="reset()" class="btn btn-success">
                <i class="material-icons">add</i>
              </button>
            </div>

          </div>
        </div>
        <div class="col-sm-2">
          <span class="fullCount">{{fullCount}}</span>
        </div>
      </div>
    </form>
  </div>


  <!-- Owber -->



  <div class="modal fade" id="ownerModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Owner Details</h4>
        </div>
        <div class="modal-body">

          <!--  -->
          <!--  -->

          <div class="well">

            <form [formGroup]="myFormGroupO" (ngSubmit)="storeOwnerDetailsData(myFormGroupO)" submittedO=true
              enctype="multipart/form data" action="/">



              <div class="form-group row">
                <div class="col-xs-8">


                  <input type="text" id="truckno" class="form-control" formControlName="truckno"
                    placeholder="TN02 AB 2045">
                </div>
                <div class="col-xs-2">
                  <div [hidden]="myFormGroupO.controls.truckno.valid">
                    <font color="red">
                      <span class="glyphicon glyphicon-remove"></span>
                    </font>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-xs-8">
                  <input type="text" id="oname" class="form-control" formControlName="oname" placeholder="Name">
                </div>
                <div class="col-xs-2">
                  <div [hidden]="myFormGroupO.controls.oname.valid">
                    <font color="red">
                      <span class="glyphicon glyphicon-remove"></span>
                    </font>
                  </div>
                </div>
              </div>




              <div class="form-group row">
                <div class="col-xs-8">
                  <input type="text" id="pan" class="form-control" formControlName="pan" placeholder="ASDFG1234A">
                </div>
                <div class="col-xs-2">
                  <div [hidden]="myFormGroupO.controls.pan.valid">
                    <font color="red">
                      <span class="glyphicon glyphicon-remove"></span>
                    </font>
                  </div>
                </div>
              </div>


              <div class="form-group row">
                <div class="col-xs-8">
                  <input type="text" id="mobileno" class="form-control" formControlName="mobileno"
                    [(ngModel)]="mobilenoauto" placeholder="9876543211">
                </div>
                <div class="col-xs-2">
                  <div [hidden]="myFormGroupO.controls.mobileno.valid">
                    <font color="red">
                      <span class="glyphicon glyphicon-remove"></span>
                    </font>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group" class="col-xs-2"></div>
                <div class="form-group" class="col-xs-1">
                  <button type="submit" class="btn btn-primary" [disabled]='!myFormGroupO.valid'>
                    <i class="material-icons">send</i>
                  </button>
                </div>
              </div>
            </form>
          </div>

          <!--  -->
          <!--  -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <!--  -->