<div class="well">
  <div class="col-sm-3">
    <button class="btn btn-success" (click)="changer(1)">Add QR</button></div>
  <div class="col-sm-3"><button class="btn btn-success" (click)="changer(2)">Track Loading Status</button></div>
  <div class="col-sm-3"><button class="btn btn-success" (click)="changer(3)">Send Message</button></div>
</div>


<div class="well" *ngIf="dataT===3">
  <div class="row">
    <div class="col-sm-4">
      <button class="btn btn-danger" (click)="getData(3)">Get Data</button>
    </div>
  </div>
  <div class="well">
  
  <div class="col-sm-8">
  <form [formGroup]="myFormGroup2" name="myform" id="myform">
    



    <div class="form-group row" >

      <div class="col-xs-2">
        <label for="truckNo"> Truckno </label>
      </div>

      <div class="form-group row">
        <div class="col-xs-3">
          TruckNo : <select id="dest" class="form-control" formControlName="tbid" (change)="getDataaa()">
            <option *ngFor="let own of dataDispatch" value={{own._id}}>{{own.truckno}}</option>
          </select>
        </div>
      </div>
    </div>


    <div class="form-group row" >

      <div class="col-xs-2">
        <label for="truckNo"> Loading Status </label>
      </div>

      <div class="form-group row">
        <div class="col-xs-3">
          Loading Status : <select id="dest" class="form-control" formControlName="status">
            <option value="Message Sent_blue">Message Sent</option>
          </select>
        </div>
      </div>
    </div>



    <div class="row">
      
      <div class="form-group" class="col-xs-3">
        <button class="btn btn-warning" (click)="submitLoadingStatus2()">Send to Set</button>
      </div>
    </div>

  </form>
</div>

</div>
<div class="well">
<table class="table table-bordered">
  <thead>
    <tr>
    <th>Sr</th>
    <th>TruckNo-Contact</th>
    <th>QR</th>
    <th>Message</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of dataDispatch;let j=index;">
      <td>{{j+1}}</td>
        <td>{{i.truckno}}
          <br>{{i.typeOfLoad}}
          <ul>
            <li *ngFor="let ii of i.contacttb">{{ii}}</li>
          </ul>
      </td>
      <td>{{i.p1}}-{{i.v1}}<br>
        <ul>
          <li *ngFor="let ii of i.qr">{{ii}}</li>
        </ul>
    </td>
      <td>
        <textarea value={{i.textMsg}} style="    width: 384px;height: 190px;color: wheat;background-color: black;"></textarea>
        <!-- <button class="btn btn-danger" (click)="copyAcc(i)">Copy</button>
        {{msg}} -->
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>



  <div class="well" *ngIf="dataT===2">
    <div class="row">
      <div class="col-sm-4">
        <button class="btn btn-danger" (click)="getData(2)">Get Data</button>
      </div>
    </div>
    <div class="well">
    
    <div class="col-sm-8">
    <form [formGroup]="myFormGroup1" name="myform" id="myform">
      



      <div class="form-group row" >

        <div class="col-xs-2">
          <label for="truckNo"> Truckno </label>
        </div>

        <div class="form-group row">
          <div class="col-xs-3">
            TruckNo : <select id="dest" class="form-control" formControlName="tbid" (change)="getDataaa()">
              <option *ngFor="let own of data" value={{own._id}}>{{own.truckno}}</option>
            </select>
          </div>
        </div>
      </div>


      <div class="form-group row" >

        <div class="col-xs-2">
          <label for="truckNo"> Loading Status </label>
        </div>

        <div class="form-group row">
          <div class="col-xs-3">
            Loading Status : <select id="dest" class="form-control" formControlName="status">
              <option value="In Parking_wheat">In Parking</option>
              <option value="Loading_yellow">Loading</option>
              <option value="Counting_purple">Counting</option>
              <option value="Waiting For Bill_blue">Waiting For Bill</option>
              <option value="Overweight_orange">Overweight</option>
              <option value="Additional Order Required_red">Additional Order Required</option>
              <option value="Waiting To Dispatch_orange">Waiting To Dispatch</option>
              <option value="Dispatched_green">Dispatched</option>
            </select>
          </div>
        </div>
      </div>



      <div class="row">
        
        <div class="form-group" class="col-xs-3">
          <button class="btn btn-warning" (click)="submitLoadingStatus()">Send to Set</button>
        </div>
      </div>

    </form>
  </div>
  <div class="col-sm-4">
    <table class="table table-bordered">
      <thead>
        <tr>
        <th>Sr</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of locationData;let j=index;">
          <td>{{j+1}}</td>
          <td [ngStyle]="{'color': i.split('_')[1] }">{{i.split('_')[0]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="well">
  <table class="table table-bordered">
    <thead>
      <tr>
      <th>Sr</th>
      <th>TruckNo-Contact</th>
      <th>Status</th>
      <th>QR</th>
      <th>Account</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of data;let j=index;">
        <td>{{j+1}}</td>
        <td [ngStyle]="{'color': i.pan}">{{i.truckno}}
            <ul>
              <li *ngFor="let ii of i.contacttb"><a href="tel:+91 {{ii}}">{{ii}}</a></li>
            </ul>
        </td>
        <td>
          <ul *ngFor="let ii of i.currentVehicleStatusforLoading">
            <li [ngStyle]="{'color': ii.split('_')[1] }">{{ii.split('_')[0]}}</li>
          </ul>
        </td>
        <td>{{i.party}}-{{i.v1}}-{{i.typeOfLoad}}
          <ul *ngFor="let ii of i.qr">
            <li>{{ii}}</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>{{i.account[0].accountName}}</li>
            <li>{{i.account[0].accountNumber}}</li>
            <li>{{i.account[0].ifsc}}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  </div>

  <div class="well" *ngIf="dataT===1">
    <div class="row">
      <div class="col-sm-4">
        <button class="btn btn-danger" (click)="getData(1)">Get Data</button>
      </div>
    </div>
    <form [formGroup]="myFormGroup" name="myform" id="myform">
      
      <div class="form-group row" >

        <div class="col-xs-2">
          <label for="truckNo"> Truckno </label>
        </div>

        <div class="form-group row">
          <div class="col-xs-3">
            TruckNo : <select id="dest" class="form-control" formControlName="tbid">
              <option *ngFor="let own of trucks" value={{own._id}}>{{own.datetruck.split('_')[1]}}</option>
            </select>
          </div>
        </div>
      </div>


      <div class="form-group row" >

        <div class="col-xs-2">
          <label for="qr"> QR </label>
        </div>

        <div class="col-xs-3">
          <input type="number" class="form-control" formControlName="qr">
          <button class="btn btn-success" (click)="addlrno()">Add</button>
        </div>

        <div class="col-xs-3">
          <table class="table table-bordered">
            <tr>
              <th>Sr</th>
              <th>QR</th>
              <th>Delete</th>
            </tr>
            <tr *ngFor="let i of qrs;let j = index;">
              <td>{{j+1}}</td>
              <td>{{i}}</td>
              <td><button class="btn btn-danger" (click)="deleteQR(i,j)">Delete</button></td>
            </tr>
          </table>
        </div>

      </div>

      <div class="form-group row" >

        <div class="col-xs-2">
          <label for="truckNo"> Party </label>
        </div>

        <div class="form-group row">
          <div class="col-xs-3">
            Party : <select id="dest" class="form-control" formControlName="pid">
              <option *ngFor="let own of partys" value={{own._id}}>{{own.name}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group row" >

        <div class="col-xs-2">
          <label for="truckNo"> Village </label>
        </div>

        <div class="form-group row">
          <div class="col-xs-3">
            Village : <select id="dest" class="form-control" formControlName="vid">
              <option *ngFor="let own of village" value={{own._id}}>{{own.village_name}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group row" >

        <div class="col-xs-2">
          <label for="truckNo"> Type Of Load </label>
        </div>

        <div class="form-group row">
          <div class="col-xs-3">
            Type Of Load : <select id="dest" class="form-control" formControlName="type">
              <option value="Pipe">Pipe</option>
              <option value="Fittings">Fittings</option>
              <option value="Ratanagiri">Ratanagiri</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group row" >

        <div class="col-xs-2">
          <label for="qr"> Contact </label>
        </div>

        <div class="col-xs-3">
          <input type="number" class="form-control" formControlName="contact">
          <button class="btn btn-success" (click)="addcontact()">Add</button>
        </div>

        <div class="col-xs-3">
          <table class="table table-bordered">
            <tr>
              <th>Sr</th>
              <th>Contact</th>
              <th>Delete</th>
            </tr>
            <tr *ngFor="let i of contacts;let j = index;">
              <td>{{j+1}}</td>
              <td>{{i}}</td>
              <td><button class="btn btn-danger" (click)="deleteContact(i,j)">Delete</button></td>
            </tr>
          </table>
        </div>

      </div>


      <div class="row">
        
        <div class="form-group" class="col-xs-3">
          <button class="btn btn-warning" (click)="submitAmt()">Send to Set</button>
        </div>
      </div>

    </form>
  </div>



  <!-- <div class="well" *ngIf="dataT===3">
  <div class="row">
    <div class="col-sm-4">
      <button class="btn btn-danger" (click)="getData(3)">Get Data</button>
    </div>
  </div>
  <div class="well">
  <div class="col-sm-8">
  <form [formGroup]="myFormGroup2" name="myform" id="myform">
    
    <div class="form-group row" >

      <div class="col-xs-2">
        <label for="truckNo"> Truckno </label>
      </div>

      <div class="form-group row">
        <div class="col-xs-3">
          TruckNo : <select id="dest" class="form-control" formControlName="tbid" (change)="getDataa()">
            <option *ngFor="let own of dataDispatch" value={{own._id}}>{{own.truckno}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group row" >

      <div class="col-xs-2">
        <label for="truckNo"> Date </label>
      </div>

      <div class="form-group row">
        <div class="col-xs-3">
          Date : <input type="date" formControlName="locDate">
        </div>
      </div>
    </div>


    <div class="form-group row" >

      <div class="col-xs-2">
        <label for="truckNo"> Location </label>
      </div>

      <div class="form-group row">
        <div class="col-xs-3">
          Location : <input type="location" formControlName="location">
        </div>
      </div>
    </div>



    <div class="row">
      
      <div class="form-group" class="col-xs-3">
        <button class="btn btn-warning" (click)="submitDispatchStatus()">Send to Set</button>
      </div>
    </div>

  </form>
</div>
<div class="col-sm-4">
  <table class="table table-bordered">
    <thead>
      <tr>
      <th>Sr</th>
      <th>Location</th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of locationData;let j=index;">
        <td>{{j+1}}</td>
        <td>{{i.locations}}</td>
        <td>{{i.locationDate|date:'dd-MM-yyyy'}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<div class="well">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Sr</th>
        <th>Truck No-Contacts</th>
        <th>Destination</th>
        <th>Locations</th>
        <th>Contact</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of dataDispatch;let j=index;">
        <td>{{j+1}}</td>
        <td>{{i.truckno}}
          <ul>
            <li *ngFor="let ii of i.contacttb"><a href="tel:+91 {{ii}}">{{ii}}</a></li>
          </ul>
        </td>
        <td>{{i.v1}}</td>
        <td>
          <ul *ngFor="let ii of i.currentVehicleStatus">
            <li>{{ii.locations}}-{{ii.locationDate|date:'dd-MM-yyyy'}}</li>
          </ul>
        </td>
        <td>
          <ul>
            <li *ngFor="let ii of i.contact"><a href="tel:+91 {{ii}}">{{ii}}</a></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div> -->