<div class="well">
  <div class="col-sm-3">
    <button class="btn btn-success" (click)="changer(1)">Add QR</button></div>
  <div class="col-sm-3"><button class="btn btn-success" (click)="changer(2)">Track Loading Status</button></div>
  <div class="col-sm-3"><button class="btn btn-success" (click)="changer(5)">Rent Sheet</button></div>
  <div class="col-sm-3"><button class="btn btn-success" (click)="changer(3)">Send Message</button></div>
  <div class="col-sm-3"><button class="btn btn-success" (click)="changer(4)">Search by QR/Truck</button></div>
</div>

<div class="well" *ngIf="dataT===4" style="background-color: black;border-color: black;">
    <div class="row">
      <div class="col-sm-3">
        <input type="text" class="form-control col-sm-3" [(ngModel)]='truckVar' placeholder="Truck No">
      </div>
      <div class="col-sm-3">
        <select class="form-control" *ngIf="wala11" id="partyType" [(ngModel)]="trucknoid11" (change)="find11UniqueTruck()" id="truckNoone11">
          <option>Default</option>
          <option *ngFor="let i of unique11turnbooklist;let j = index;" value={{i}}>{{i}}</option>
        </select>
      </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <button class="btn btn-warning col-sm-3"  style="width: 50%;" (click)="find('11')">Truck No</button>
        </div>

        <div class="col-sm-2">
          <button class="btn btn-warning col-sm-3"  style="width: 50%;" (click)="find('qr')">QR</button>
        </div>
          
        
      </div>

        
            <div class="col-sm-12">

          <table class="table" style="width:100%" align="center" *ngIf="byTruckName">
                <thead align="center" style="font-weight: bold">
                  <tr class=table-header>
                    <th>Srno</th>
                    <th>Loading</th>
                    <th>TruckNo</th>
                    <th>Type-Party-Place</th>
                    <th>Text</th>
                  </tr>
                </thead>
                <tbody align="center">
                  <tr *ngFor="let i of turn11;let j = index">
                    <td>{{j+1}}</td>
                    <td>{{i.turnbookDate|date:'dd-MM-yyyy'}}<br>{{i.loadingDate|date:'dd-MM-yyyy'}}<br>{{i.billno}}</td>
                    <td>{{i.truckName['truckno']}}</td>
                    <td>{{i.partyType}}-{{i.partyName.shortName}}-{{i.placeName.shortName}}-{{i.typeOfLoad}}</td>
                    <td>
                      <textarea value={{i.textMsg}} style="width: 384px;height: 190px;color: wheat;background-color: black;"></textarea>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
</div>

<div class="well" *ngIf="dataT===3">
  <div class="row">
    <div class="col-sm-4">
      <button class="btn btn-danger" (click)="getData(3)">Get Data</button>
    </div>
    <div class="col-sm-4" *ngIf="table3">
      <button class="btn btn-danger" (click)="clearSendAll()">Send All</button>
    </div>
  </div>

<div class="well">
<table class="table table-bordered">
  <thead>
    <tr>
    <th>Sr</th>
    <th>TruckNo-Contact</th>
    <th>QR</th>
    <th>Message</th>
    <th>Send</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of dataDispatch;let j=index;">
      <td>{{j+1}}</td>
        <td>{{i.truckno}}
          <br>{{i.typeOfLoad}}
          <ul>
            <li *ngFor="let ii of i.contacttb">{{ii}}</li>
          </ul>
      </td>
      <td>{{i.p1}}-{{i.v1}}<br>
        <ul>
          <li *ngFor="let ii of i.qr">{{ii}}</li>
        </ul>
    </td>
      <td>
        <textarea value={{i.textMsg}} style="    width: 384px;height: 190px;color: wheat;background-color: black;"></textarea>
      </td>
      <td>
        <button class="btn btn-danger" (click)="submitLoadingStatus2(i,j)">Send</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>

<div class="well" *ngIf="dataT===5">
  <div class="row">
    <div class="col-sm-4">
      <button class="btn btn-danger" (click)="getData(5)">Get Data</button>
    </div>
  </div>

<div class="well">
  <div class="col-sm-4">
    <button class="btn btn-danger" (click)="downloadRS()">Download Rent Sheet</button>
  </div>
<table class="table table-bordered" *ngIf="table5">
  <thead>
    <tr>
    <th>Sr</th>
    <th>Loading</th>
    <th>TruckNo-Contact-BillNo</th>
    <th>Party-Destination-Type</th>
    <th>Rent-Excess</th>
    <th>Advance</th>
    <th>Account Details</th>
    <th>Option</th>

  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of data;let j=index;">
      <td>{{j+1}}</td>
      <td>{{i.loadingDate|date:'dd-MM-yyyy'}}</td>
      <td [ngStyle]="{'color': i.pan}">{{i.truckno}}
          <ul>
            <li>{{i.billno}}</li>
            <li *ngFor="let ii of i.contacttb"><a href="tel:+91 {{ii}}">{{ii}}</a></li>
          </ul>
          <button class="btn btn-warning" *ngIf="i.pan==='red'" (click)="accAdder(i,j)" data-toggle="modal" data-target="#myModalPan">Pan</button>
      </td>
      <td>
        {{i.pvt}}
        <!-- {{i.party}}-{{i.v1}}-{{i.typeOfLoad}} -->
      </td>
      <td>{{i.rent}}</td>
      <td>{{i.rent-3000}}-{{i.billamt}}={{i.rent-3000-i.billamt}}</td>
      <td>
        <ul *ngIf="!i.update">
          <li>{{i.account[0].accountName}}</li>
          <li>{{i.account[0].accountNumber}}</li>
          <li>{{i.account[0].ifsc}}</li>
        </ul>
        <button class="btn btn-warning" *ngIf="i.update" (click)="accAdder(i,j)" data-toggle="modal" data-target="#myModalAccount">Account</button>
      </td>
      <td>
      <div class="col-sm-8">
        <button class="btn btn-primary" (click)="pay(i,j)">Pay</button>
        <button class="btn btn-info" (click)="tomorrow(i,j)">Set To Tomorrow</button>
        <button class="btn btn-danger" (click)="unpay(i,j)">Un-Pay</button>
      </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>



  <div class="well" *ngIf="dataT===2">
    <div class="row">
      <div class="col-sm-4">
        <button class="btn btn-danger" (click)="getData(2)">Get Data</button>
      </div>
    </div>
 
<div class="well">
  <table class="table table-bordered">
    <thead>
      <tr>
      <th>Sr</th>
      <th>TruckNo-Contact</th>
      <th>Status</th>
      <th>QR</th>
      <th>Account</th>
      <th>Message</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of data;let j=index;">
        <td>{{j+1}}</td>
        <td [ngStyle]="{'color': i.pan}">{{i.truckno}}
          <br>
          {{i.loadingDate|date:'dd-MM-yyyy'}}
            <ul>
              <li *ngFor="let ii of i.contacttb"><a href="tel:+91 {{ii}}">{{ii}}</a></li>
            </ul>
            <button class="btn btn-warning" *ngIf="i.pan==='red'" (click)="accAdder(i,j)" data-toggle="modal" data-target="#myModalPan">Pan</button>
        </td>
        <td>
          <ul *ngFor="let ii of i.currentVehicleStatusforLoading">
            <li [ngStyle]="{'color': ii.split('_')[1] }">{{ii.split('_')[0]}}</li>
          </ul>
        </td>
        <td>{{i.party}}-{{i.v1}}-{{i.typeOfLoad}}
          <ul *ngFor="let ii of i.qr">
            <li>{{ii}}</li>
          </ul>
        </td>
        <td>
          <ul *ngIf="!i.update">
            <li>{{i.account[0].accountName}}</li>
            <li>{{i.account[0].accountNumber}}</li>
            <li>{{i.account[0].ifsc}}</li>
          </ul>
          <button class="btn btn-warning" *ngIf="i.update" (click)="accAdder(i,j)" data-toggle="modal" data-target="#myModalAccount">Account</button>
        </td>
        <td>
          <div class="col-sm-4">
          <textarea value={{i.textMsg}} style="width: 200px;height: 130px;color: wheat;background-color: black;"></textarea>
        </div>
        <div class="col-sm-8">
          <button class="btn btn-primary" (click)="submitLoadingStatus(j,'In Parking_wheat')">In Parking</button>
          <button class="btn btn-info" (click)="submitLoadingStatus(j,'Loading_yellow')">Loading</button>
          <button class="btn btn-success" (click)="submitLoadingStatus(j,'Counting_purple')">Counting</button>
          <button class="btn btn-primary" (click)="submitLoadingStatus(j,'Waiting for Bill_blue')">Waiting for Bill</button>
          <button class="btn btn-warning" (click)="submitLoadingStatus(j,'Overweight_orange')">Overweight</button>
          <button class="btn btn-danger" (click)="submitLoadingStatus(j,'Additional Order Required_red')">Additional Order</button>
          <button class="btn btn-warning" (click)="submitLoadingStatus(j,'Waiting To Dispatch_orange')">Waiting To Dispatch</button>
          <button class="btn btn-warning" (click)="submitLoadingStatus(j,'Waiting For Advance_purple')">Waiting For Advance</button>
          <button class="btn btn-success" (click)="submitLoadingStatus(j,'Dispatched_green')">Dispatched</button>
        </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  </div>

  <div class="well" *ngIf="dataT===1">
    <div class="row">
      <div class="col-sm-4">
        <button class="btn btn-danger" (click)="getData(1)">Get Data</button>
      </div>
    </div>
    <form [formGroup]="myFormGroup" name="myform" id="myform">
      
    <div class="form-group row">
      <div class="col-xs-2">
        Date : 
        </div>
        <div class="col-xs-3">
          <input type="date" id="date" class="form-control" [(ngModel)]="date" formControlName="date">
      </div>
      <div class="col-xs-2">
        <div [hidden]="myFormGroup.controls.date.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>

      <div class="form-group row">

        <div class="col-xs-2">
          Truckno : 
          </div>
          <div class="col-xs-3">
          <input type="text" list="cars" class="form-control" formControlName="tbid" />
          <datalist id="cars">
            <option *ngFor="let own of trucks" value={{own.truckno}}>{{own.truckno}}</option>
          </datalist>
        </div>
        <div class="col-xs-2">
          <div [hidden]="myFormGroup.controls.tbid.valid">
            <font color="red">
              <span class="glyphicon glyphicon-remove"></span>
            </font>
          </div>
        </div>
      </div>

      <div class="form-group row" >

        <div class="col-xs-2">
          <label for="qr"> QR </label>
        </div>

        <div class="col-xs-3">
          <input type="number" class="form-control" formControlName="qr">
          <button class="btn btn-success" (click)="addlrno()">Add</button>
        </div>
        <div class="col-xs-2">
          <div [hidden]="myFormGroup.controls.qr.valid">
            <font color="red">
              <span class="glyphicon glyphicon-remove"></span>
            </font>
          </div>
        </div>

        <div class="col-xs-3">
          <table class="table table-bordered">
            <tr>
              <th>Sr</th>
              <th>QR</th>
              <th>Delete</th>
            </tr>
            <tr *ngFor="let i of qrs;let j = index;">
              <td>{{j+1}}</td>
              <td>{{i}}</td>
              <td><button class="btn btn-danger" (click)="deleteQR(i,j)">Delete</button></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="form-group row" >

        <div class="col-xs-2">
          <label for="truckNo"> Party Type</label>
        </div>

        <div class="form-group row">
          <div class="col-xs-3">
            Party Type : <select id="dest" class="form-control" formControlName="ptype">
              <option value='NRCM'>NRCM</option>
              <option value='NR'>NR</option>
            </select>
          </div>
          <div class="col-xs-2">
            <div [hidden]="myFormGroup.controls.pid.valid">
              <font color="red">
                <span class="glyphicon glyphicon-remove"></span>
              </font>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row" >

        <div class="col-xs-2">
          <label for="truckNo"> Party </label>
        </div>

        <div class="form-group row">
          <div class="col-xs-3">
            Party : <select id="dest" class="form-control" formControlName="pid">
              <option *ngFor="let own of partys" value={{own._id}}>{{own.name}}</option>
            </select>
          </div>
          <div class="col-xs-2">
            <div [hidden]="myFormGroup.controls.pid.valid">
              <font color="red">
                <span class="glyphicon glyphicon-remove"></span>
              </font>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row" >

        <div class="col-xs-2">
          <label for="truckNo"> Village </label>
        </div>

        <div class="form-group row">
          <div class="col-xs-3">
            Village : <select id="dest" class="form-control" formControlName="vid">
              <option *ngFor="let own of village" value={{own._id}}>{{own.village_name}}</option>
            </select>
          </div>
          <div class="col-xs-2">
            <div [hidden]="myFormGroup.controls.vid.valid">
              <font color="red">
                <span class="glyphicon glyphicon-remove"></span>
              </font>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row" >

        <div class="col-xs-2">
          <label for="truckNo"> Village 2 </label>
        </div>

        <div class="form-group row">
          <div class="col-xs-3">
            Village : <select id="dest" class="form-control" formControlName="vid2">
              <option *ngFor="let own of village" value={{own._id}}>{{own.village_name}}</option>
            </select>
          </div>
          <div class="col-xs-2">
            <div [hidden]="myFormGroup.controls.vid2.valid">
              <font color="red">
                <span class="glyphicon glyphicon-remove"></span>
              </font>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row" >

        <div class="col-xs-2">
          <label for="truckNo"> Type Of Load </label>
        </div>

        <div class="form-group row">
          <div class="col-xs-3">
            Type Of Load : <select id="dest" class="form-control" formControlName="type">
              <option value="Pipe">Pipe</option>
              <option value="Fittings">Fittings</option>
              <option value="Ratanagiri">Ratanagiri</option>
            </select>
          </div>
          <div class="col-xs-2">
            <div [hidden]="myFormGroup.controls.type.valid">
              <font color="red">
                <span class="glyphicon glyphicon-remove"></span>
              </font>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row" >

        <div class="col-xs-2">
          <label for="qr"> Contact </label>
        </div>

        <div class="col-xs-3">
          <input type="number" class="form-control" formControlName="contact">
          <button class="btn btn-success" (click)="addcontact()">Add</button>
        </div>
        <div class="col-xs-2">
          <div [hidden]="myFormGroup.controls.contact.valid">
            <font color="red">
              <span class="glyphicon glyphicon-remove"></span>
            </font>
          </div>
        </div>

        <div class="col-xs-3">
          <table class="table table-bordered">
            <tr>
              <th>Sr</th>
              <th>Contact</th>
              <th>Delete</th>
            </tr>
            <tr *ngFor="let i of contacts;let j = index;">
              <td>{{j+1}}</td>
              <td>{{i}}</td>
              <td><button class="btn btn-danger" (click)="deleteContact(i,j)">Delete</button></td>
            </tr>
          </table>
        </div>

      </div>


      <div class="row">
        
        <div class="form-group" class="col-xs-3">
          <button class="btn btn-warning" (click)="submitAmt()" [disabled]='!myFormGroup.valid'>Send to Set</button>
        </div>
      </div>

    </form>
  </div>


<div class="modal fade" id="myModalAccount" role="dialog">
    <div class="modal-dialog">
    
  
      <div class="modal-content" style="background-color: black;color: wheat;">
        <div class="modal-header" style="background-color: black;color: wheat;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Account Details for {{bigI.truckno}}</h4>
        </div>
        <div class="modal-body" style="background-color: black;color: wheat;">
          <div class="row">
            Account Name : <input type="text" class="form-control" [(ngModel)]="accName">
          </div>
  
          <div class="row">
           Account Number : <input type="text" class="form-control" [(ngModel)]="accNo">
          </div>
  
          <div class="row">
            IFSC : <input type="text" class="form-control" [(ngModel)]="ifsc" (change)="getBankName()">
          </div>
  
          <div class="row">
            Bank Name : <input type="text" class="form-control" [(ngModel)]="bname" disabled>
          </div>
         
        </div>
  
        <div class="modal-footer" style="background-color: black;color: wheat;">
          <button class="btn btn-warning" (click)="storeAcc()">Store</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

 
  <div class="modal fade" id="myModalPan" role="dialog">
    <div class="modal-dialog">
    
  
      <div class="modal-content" style="background-color: black;color: wheat;">
        <div class="modal-header" style="background-color: black;color: wheat;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">PAN Details for {{bigI.truckno}}</h4>
        </div>
        <div class="modal-body" style="background-color: black;color: wheat;">
          <div class="row">
            Name : <input type="text" class="form-control" [(ngModel)]="name">
          </div>
  
          <div class="row">
           PAN : <input type="text" class="form-control" [(ngModel)]="pan">
          </div>
  
        </div>
  
        <div class="modal-footer" style="background-color: black;color: wheat;">
          <button class="btn btn-warning" (click)="storePan()">Store</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div> 



  <!-- <div class="well" *ngIf="dataT===3">
  <div class="row">
    <div class="col-sm-4">
      <button class="btn btn-danger" (click)="getData(3)">Get Data</button>
    </div>
  </div>
  <div class="well">
  <div class="col-sm-8">
  <form [formGroup]="myFormGroup2" name="myform" id="myform">
    
    <div class="form-group row" >

      <div class="col-xs-2">
        <label for="truckNo"> Truckno </label>
      </div>

      <div class="form-group row">
        <div class="col-xs-3">
          TruckNo : <select id="dest" class="form-control" formControlName="tbid" (change)="getDataa()">
            <option *ngFor="let own of dataDispatch" value={{own._id}}>{{own.truckno}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group row" >

      <div class="col-xs-2">
        <label for="truckNo"> Date </label>
      </div>

      <div class="form-group row">
        <div class="col-xs-3">
          Date : <input type="date" formControlName="locDate">
        </div>
      </div>
    </div>


    <div class="form-group row" >

      <div class="col-xs-2">
        <label for="truckNo"> Location </label>
      </div>

      <div class="form-group row">
        <div class="col-xs-3">
          Location : <input type="location" formControlName="location">
        </div>
      </div>
    </div>



    <div class="row">
      
      <div class="form-group" class="col-xs-3">
        <button class="btn btn-warning" (click)="submitDispatchStatus()">Send to Set</button>
      </div>
    </div>

  </form>
</div>
<div class="col-sm-4">
  <table class="table table-bordered">
    <thead>
      <tr>
      <th>Sr</th>
      <th>Location</th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of locationData;let j=index;">
        <td>{{j+1}}</td>
        <td>{{i.locations}}</td>
        <td>{{i.locationDate|date:'dd-MM-yyyy'}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<div class="well">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Sr</th>
        <th>Truck No-Contacts</th>
        <th>Destination</th>
        <th>Locations</th>
        <th>Contact</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of dataDispatch;let j=index;">
        <td>{{j+1}}</td>
        <td>{{i.truckno}}
          <ul>
            <li *ngFor="let ii of i.contacttb"><a href="tel:+91 {{ii}}">{{ii}}</a></li>
          </ul>
        </td>
        <td>{{i.v1}}</td>
        <td>
          <ul *ngFor="let ii of i.currentVehicleStatus">
            <li>{{ii.locations}}-{{ii.locationDate|date:'dd-MM-yyyy'}}</li>
          </ul>
        </td>
        <td>
          <ul>
            <li *ngFor="let ii of i.contact"><a href="tel:+91 {{ii}}">{{ii}}</a></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div> -->