<div class="well" *ngIf="!show">

  <input type="text" [(ngModel)]="data" (input)="newData()">
  <button class="btn btn-danger" (click)="refresh()"><i class="material-icons">undo</i></button>
  <table class="table" style="width:100%" align="center">

      <thead>
          <tr class="table-header">
              <th>Srno</th>
              <th>TruckNumber</th>
              <th>Owner Name<br>Aadhar<br>DOB</th>
              <th>PAN<br>Chasis<br>Engine</th>
              <th>RC<br>Expiry</th>
              <th>DL<br>Expiry</th>
              <th>Contact</th>
              <th *ngIf="role==1||role==2">Account Details</th>
              <th>Policy<br>Expiry</th>
              <!-- <th>Reference</th> -->
              <th *ngIf="role==1||role==2">Delete</th>
          </tr>
      </thead>
      <!-- [ngStyle]="{'color': i.comments==='cancel' ? 'red' : 'black' }" -->
      <!-- [ngStyle]="{'color': i.ownerDetails[0]===undefined ||i.ownerDetails[0].pan===''||i.ownerDetails[0].accountDetails.length===0 ? 'red' : 'black' }" -->
      <tbody>
          <tr *ngFor="let i of hiddendetailslist;let j = index">
              <td [ngStyle]="{'color': i.regCardExpiry < todayDate ? 'red' : 'black' }">{{j+1}}</td>
              <td>{{i.truckno}}</td>
              <td>
                  <ul>
                      <li>{{i.oname}}</li>
                      <li>{{i.aadhar}}</li>
                      <li>{{i.dob|date:'dd-MM-yyyy'}}</li>
                      </ul>
                  </td>
              <td>
                  <ul>
                      <li>{{i.pan}}</li>
                      <li>{{i.chasisNo}}</li>
                      <li>{{i.engNo}}</li>
                  </ul>
                  
              </td>
              <td><ul>
                  <li>{{i.regCard}}</li>
                  <li>{{i.regCardExpiry|date:'dd-MM-yyyy'}}</li>
                  </ul>
              </td>
              <td>
                  <ul>
                  <li>{{i.drivingLic}}</li>
                  <li>{{i.drivingLicExpiry|date:'dd-MM-yyyy'}}</li>
              </ul>
              </td>
              <td>
                  <ul *ngFor="let k of i.contact">
                      <li>{{k}}</li>
                  </ul>
              </td>
              <td *ngIf="role==1||role==2">
                  <ul *ngFor="let k of i.accountDetails">
                      <li>{{k.accountName}} : {{k.bankName}}</li>
                      <li>{{k.accountNumber}}</li>
                      <li>{{k.ifsc}}</li>
                      <hr>
                  </ul>
              </td>
              <td>
                 <ul>
                     <li>{{i.policy}}</li>
                     <li>{{i.policyExpiry|date:'dd-MM-yyyy'}}</li>
                 </ul>
              </td>
              <!-- <td>Work Under Progress</td> -->
              <td *ngIf="role==1||role==2">
                  <button mat-raised-button (click)="showOwnerDetails(i._id)"
                      class="btn-danger btn-sm btn-just-icon">
                      <i class="material-icons">delete_forever</i>
                  </button>
                 
              </td>
          </tr>
      </tbody>
  </table>
</div>
<div *ngIf="show">
  <router-outlet></router-outlet>
</div>