<div class="well" *ngIf="!show">

  <input type="text" [(ngModel)]="data" (input)="newData()">
  <button class="btn btn-danger" (click)="refresh()"><i class="material-icons">undo</i></button>
  <table class="table" style="width:100%" align="center">

      <thead>
          <tr class="table-header">
              <th>Srno</th>
              <th>TruckNumber</th>
              <th>Owner Name<br>Aadhar<br>DOB</th>
              <th>PAN</th>
              <th>RC Expiry</th>
              <th>DL Expiry</th>
              <th>Contact</th>
              <th *ngIf="role==1||role==2">Account Details</th>
              <th>Prefer</th>
              <th *ngIf="role==1||role==2">Delete</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let i of hiddendetailslist;let j = index">
              <td>{{j+1}}</td>
              <td>{{i.truckno}}</td>
              <td>
                  <ul>
                      <li>{{i.oname}}</li>
                      <li>{{i.aadhar}}</li>
                      <li>{{i.dob|date:'dd-MM-yyyy'}}</li>
                      </ul>
                  </td>
              <td>
                  <ul>
                      <li>{{i.pan}}</li>
                  </ul>
                  
              </td>
              <td><ul>
                  <li>{{i.regCard}}</li>
                  <li [ngStyle]="{'background-color': i.rE}" style="color: black;">{{i.regCardExpiry|date:'dd-MM-yyyy'}}</li>
                  </ul>
              </td>
              <td>
                  <ul>
                  <li>{{i.drivingLic}}</li>
                  <li [ngStyle]="{'background-color': i.dE}" style="color: black;">{{i.drivingLicExpiry|date:'dd-MM-yyyy'}}</li>
              </ul>
              </td>
              <td>
                  <ul *ngFor="let k of i.contact">
                      <li>{{k}}</li>
                  </ul>
              </td>
              <td *ngIf="role==1||role==2">
                  <ul *ngFor="let k of i.accountDetails">
                      <li>{{k.accountName}} : {{k.bankName}}</li>
                      <li>{{k.accountNumber}}</li>
                      <li>{{k.ifsc}}</li>
                      <hr>
                  </ul>
              </td>
              <td>
                <ul *ngFor="let j of i.preferences;">
                    <li>{{j}}</li>
                </ul>
            </td>
              <td *ngIf="role==1||role==2">
                  <button mat-raised-button (click)="showOwnerDetails(i._id)"
                      class="btn-danger btn-sm btn-just-icon">
                      <i class="material-icons">delete_forever</i>
                  </button>
                  <i class="material-icons" style="color: blue;cursor: pointer;" (click)="showDatabyid(i)">edit</i>
                 
              </td>
          </tr>
      </tbody>
  </table>
</div>
<div *ngIf="show">
  <router-outlet></router-outlet>
</div>