<div class="well container" *ngIf="!mailDiv">
  <div class="row">


    <div class="form-group col-xs-2">

      <select class="form-control scrollable-menu" [(ngModel)]="year" (change)="getMonthsLocal()">
        <option>Year</option>
        <option *ngFor="let years of yearNames">{{years}}</option>
      </select>
    </div>


    <div class="form-group col-xs-2" align="center">

      <select class="form-control " [(ngModel)]="month">
        <option>Month</option>
        <option *ngFor="let mon of monthNames">{{mon}}</option>
      </select>

    </div>

    <div class="form-group col-sm-2" align="center">

      <button class="btn btn-primary" (click)="find()">Search</button>

    </div>

    <div class="col-sm-1" style="font-weight: bold">{{month + year}}
      <span style="font-size: 30px;padding-left: 6px">{{current_count}}</span>
    </div>

    <div class="col-xs-2">
      <button (click)="download()" class="btn btn-warning btn-sm btn-just-icon">
        <i class="material-icons" style="color:white">save_alt</i>
      </button>
    </div>

    <div class="col-xs-1">
      <button (click)="exportAsXLSX()">
        Download XL
      </button>
    </div>

    <div class="col-xs-1">
      <button class="btn btn-info" data-toggle="modal" data-target="#EmailModal"> Send Mail
      </button>
    </div>

  </div>


  <div *ngIf="!show && tabledata">
    <table class="table" style="width:100%" align="center">
      <thead>
        <tr class="table-header">

          <th>Date</th>
          <th>LRNO</th>
          <th>Party Name</th>
          <th>Truck No</th>
          <th>Hire</th>
          <th>Place</th>
          <th>Amount</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>


      <tbody>
        <tr *ngFor="let i of finolexdetailslist;let j = index">
          <td>{{i.Date|date:'dd-MM-yyyy'}}</td>
          <td>{{i.lrno}}</td>
          <td>{{i.partyDetails[0].name}}</td>
          <td>{{i.ownerDetails[0].truckno}}</td>
          <td>{{i.hamt}}</td>
          <td>{{i.villageDetails[0].village_name}}</td>
          <td>{{i.amt}}</td>
          <td>
            <button mat-raised-button (click)="showUpdate(i)" class="btn-warning btn-sm btn-just-icon">
              <i class="material-icons">edit</i>
            </button>
          </td>
          <td>
            <button mat-raised-button (click)="delete(i._id)" class="btn-danger btn-sm btn-just-icon">
              <i class="material-icons">delete_forever</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="show">



    <form (ngSubmit)="update()" submitted=true enctype="multipart/form data" action="/" name="myform" id="myform">
      <div class="row">
        <div class="col-sm-10">


          <!-- DATE-->
          <div class="form-group row">

            <div class="col-sm-1">
              <label for="Date"> Date </label>
            </div>

            <div class="col-xs-2">
              <select class="form-control " #day id="Date" [(ngModel)]="updateDate"
                [ngModelOptions]="{standalone: true}">
                <option>Date</option>
                <option selected disabled>{{updateDate}}</option>
                <option *ngFor="let day of days">{{day}}</option>
              </select>
            </div>

            <div class="form-group col-xs-2" align="center">
              {{m}}
            </div>


            <div class="form-group col-xs-2" align="center">
              {{y}}
            </div>

          </div>
          <!--DATE -->
          <!--Place-->
          <div class="form-group row">

            <div class="col-xs-1">
              <label for="place"> Place </label>
            </div>

            <div class="col-xs-6">
              <select id="palce" class="form-control" [(ngModel)]="updateplace" [ngModelOptions]="{standalone: true}">
                <option disabled selected>{{updateplace}}</option>

                <option *ngFor="let own of villagelist" value="{{own._id}}">{{own.village_name}}</option>
              </select>
            </div>

          </div>
          <!--Place-->

          <!--Truckno-->
          <div class="form-group row">

            <div class="col-xs-1">
              <label for="truckno"> Truckno </label>
            </div>

            <div class="col-xs-6">
              <select id="truckno" class="form-control" (change)="findowner()" [(ngModel)]="updatetruckno"
                [ngModelOptions]="{standalone: true}">
                <option disabled selected>{{updatetruckno}}</option>
                <option *ngFor="let own of ownerdetailslist;let j=index;" value={{own._id+j}}>{{own.truckno}}</option>
              </select>
            </div>
          </div>
          <!--Truckno-->
          <!--NOP-->
          <div class="form-group row">

            <div class="col-xs-1">
              <label for="nop"> NOP </label>
            </div>
            <div class="col-xs-6">
              <select id="nop" class="form-control" (change)="findgst()" [(ngModel)]="updatenop"
                [ngModelOptions]="{standalone: true}">
                <option disabled selected>{{updatenop}}</option>
                <option *ngFor="let gst of gstdetailslist;let j = index;" value={{gst._id+j}}>
                  {{gst.name}}...{{gst.dest}}
                </option>
              </select>
            </div>
          </div>
          <!--NOP-->

          <!--LRNO-->
          <div class="form-group row">

            <div class="col-xs-1">
              <label for="lrno"> LRNO </label>
            </div>

            <div class="col-xs-6">
              <input type="number" id="lrno" class="form-control" value={{updatelrno}} [(ngModel)]="updatelrno"
                [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <!--LRNO-->
          <!--Hire Amount-->
          <div class="form-group row">

            <div class="col-xs-1">
              <label for="hamt"> Hire Amount </label>
            </div>

            <div class="col-xs-6">
              <input type="text" class="form-control" value={{updatehamt}} [(ngModel)]="updatehamt"
                [ngModelOptions]="{standalone: true}">
            </div>



          </div>
          <!--HireAmount-->


          <div class="row">
            <div class="form-group" class="col-xs-2"></div>
            <div class="form-group" class="col-xs-1">
              <button type="submit" class="btn btn-primary">
                <i class="material-icons">send</i>
              </button>
            </div>



          </div>
        </div>
        <div class="col-sm-2">
          <span class="fullCount">{{fullCount}}</span>
        </div>
      </div>
    </form>





    <button mat-raised-button (click)="back()" class="btn-danger btn-sm btn-just-icon">
      <i class="material-icons">und</i>
    </button>
  </div>
</div>



<!-- Email Modal -->

<div class="modal fade" id="EmailModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sign In</h4>
      </div>
      <div class="modal-body">
        <div class="well">

          <form [formGroup]="myFormGroupE" (ngSubmit)="sendEmail(myFormGroupE)" submittedO=true
            enctype="multipart/form data" action="/">



            <div class="form-group row">
              <div class="col-xs-8">
                <label><b>
                    <h3>nitinroadways9@gmail.com</h3>
                  </b></label>
              </div>

            </div>

            <div class="form-group row">
              <div class="col-xs-8">
                <input type="password" id="password" class="form-control" formControlName="password"
                  placeholder="Password">
              </div>
              <div class="col-xs-2">
                <div [hidden]="myFormGroupE.controls.password.valid">
                  <font color="red">
                    <span class="glyphicon glyphicon-remove"></span>
                  </font>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group" class="col-xs-2"></div>
              <div class="form-group" class="col-xs-1">
                <button type="submit" class="btn btn-primary" [disabled]='!myFormGroupE.valid'>
                  <i class="material-icons">send</i>
                </button>
              </div>
            </div>
          </form>
        </div>

        <!--  -->
        <!--  -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!--  -->