<div class="container">
    <div class="row">
        <div class="col-sm-4"><h3>{{allData[0].partyName}}</h3></div>
        <div class="col-sm-4"><h3>{{allData[0].amount}}</h3></div>
        <div class="col-sm-4"><h3>{{allData[0].date}}</h3></div>
    </div>
</div>
<div class="well" *ngIf="show===1">
    <div class="row">
        <div class="col-sm-6"><button class="btn btn-warning" (click)="trucks(2)">Add Trucks</button></div>
        <div class="col-sm-6"><button class="btn btn-warning" (click)="trucks(3)">Delete Trucks</button></div>
    </div>
        <div class="col-sm-6"><button class="btn btn-warning" (click)="trucks(0)">Back</button></div>
</div>
<div class="well" *ngIf="show===2">
    
    <div class="form-group row">
        <div class="col-xs-6">
          <select id="pp" class="form-control" [(ngModel)]="pp" (change)="addToArray()">
            <option selected disabled>Select Trucks</option>
            <option *ngFor="let own of pendingTrucks; let j = index;" value={{own._id+j}}>
                {{own.data.split('_')[0]|date: 'dd-MM-yyyy'}}:{{own.data.split('_')[2]}}:{{own.partyName}}
            </option>
          </select>
        </div>
        <div class="col-sm-6">
            
    <table class="table" style="width:100%" align="center">

        <thead class="table-header">
            <tr>
                <th>Srno</th>
                <th>Date</th>
                <th>TruckNo</th>
                <th>LRNO</th>
                <th>Delete</th>
            </tr>
        </thead>


        <tbody>
            <tr *ngFor="let i of addToArrayVar;let j = index;">
                <td>{{j+1}}</td>
                <td>{{i.date|date: 'dd-MM-yyyy'}}</td>
                <td>{{i.truckno}}</td>
                <td>{{i.lrno}}</td>
                <td><button class="btn btn-danger" (click)="tempDelete(j,i)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-success" (click)="addToSave()">Add</button>
        </div>
      </div>

    <button class="btn btn-success" (click)="trucks(1)">Back</button>
</div>
<div class="well" *ngIf="show===3">

  <table class="table" style="width:100%" align="center">

      <thead class="table-header">
          <tr>
              <th>Srno</th>
              <th>Date</th>
              <th>Truckno</th>
              <!-- <th>LRNO</th> -->
              <th>TB Date</th>
              <th>Delete</th>
          </tr>
      </thead>


      <tbody>
          <tr *ngFor="let i of loadingDate;let j = index">
              <td>{{j+1}}</td>
              <td>{{i.split('_')[1]}}</td>
              <td>{{i.split('_')[3]}}</td>
              <!-- <td>{{i.split('_')[4]}}</td> -->
              <td>{{i.split('_')[2]}}</td>
              <td>
                  <button mat-raised-button (click)="delete(j)" class="btn-danger btn-sm btn-just-icon">
                      <i class="material-icons">delete_forever</i>
                  </button>
              </td>
          </tr>
      </tbody>
  </table>
  <button class="btn btn-success" (click)="trucks(1)">Back</button>
</div>
