<div class="well">
  <form [formGroup]="myFormGroup" (ngSubmit)="storeTurnBookData(myFormGroup)" submitted=true
    enctype="multipart/form data" action="/">

    <!-- DATE-->
    <!-- <div class="form-group row">

      <div class="col-xs-2">
        <label for="date">Turnbook Date</label>
      </div>

      <div class="col-xs-3">
        <input type="date" id="turnbookDate" class="form-control" formControlName="turnbookDate">
      </div>

      <div class="col-xs-1">
        <div [hidden]="myFormGroup.controls.turnbookDate.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>

    </div> -->
    <div class="row">
      <div class="col-lg-1"><label for="date">Turnbook</label></div>
    <div class="col-lg-9">
      <div class="row">
        <div class="col-sm-2">
      <button mat-raised-button type="button" (click)="leftRight('back')"
        class="btn btn-danger btn-sm btn-just-icon delete">
        Back
      </button>
    </div>
      <div class="col-sm-3">
        <input type="date" id="turnbookDate" class="form-control" [(ngModel)]="turnbookDate" formControlName="turnbookDate" style="display: none;">
      <h3>{{turnbookDate|date:'dd-MM-yyyy'}}</h3>
    </div>
      <div class="col-sm-2">
      <button mat-raised-button type="button" (click)="leftRight('ahead')"
        class="btn btn-primary btn-sm btn-just-icon delete">
        Ahead
      </button>
    </div>
    </div>
    </div>
  </div>
<!-- <div class="row">
    <div class="col-sm-6"><h3>{{todayTurn|date:'dd-MM-yyyy'}}</h3></div>
    
  </div> -->
    <!--DATE -->

    <!--Truckno-->
    <div class="form-group row">

      <div class="col-xs-2">
        <label for="truckNo"> Truckno </label>
      </div>

      <div class="col-xs-3">
        <select class="form-control" id="partyType" formControlName="truckNo" [(ngModel)]="trucknoid"
          (change)="findtruckdetails()" id="truckNoone" *ngIf="!manualTruck">
          <option value="Other+">Other</option>
          <option *ngFor="let i of truckdetailslist;let j = index;" value={{i._id}}+{{i.truckno}}>{{i.truckno}}</option>
        </select>

        <input type="text" *ngIf="manualTruck" class="form-control" [(ngModel)]="trucknoM" formControlName="trucknoM">
        <div *ngIf="manualTruck" class="col-xs-1" (click)="revert()">
          <font color="black">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>


      </div>
      <div class="col-xs-1">
        <div [hidden]="myFormGroup.controls.trucknoM.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>

    </div>
    <!--Truckno-->


    <div class="row">
      <div class="form-group" class="col-xs-2"></div>
      <div class="form-group" class="col-xs-1">
        <button type="submit" class="btn btn-primary" [disabled]='!myFormGroup.valid'>
          <i class="material-icons">send</i>
        </button>
      </div>

      <div *ngIf="!submitted" class="col-xs-1">

        <button type="button" value="Reset Form" onClick="this.form.reset()" class="btn btn-danger">
          <i class="material-icons">undo</i>
        </button>
      </div>

      <div *ngIf="submitted" class="col-xs-1">
        <button type="button" value="Add More" onClick="this.form.reset()" (click)="back()" class="btn btn-success">
          <i class="material-icons">add</i>
        </button>
      </div>

    </div>
  </form>

</div>