<div class="well">
  <form [formGroup]="myFormGroup" (ngSubmit)="storeTurnBookData(myFormGroup)" submitted=true
    enctype="multipart/form data" action="/">

    <div class="row">
      <div class="col-lg-1"><label for="date">Turnbook</label></div>
    <div class="col-lg-9">
      <div class="row">
        <div class="col-sm-2">
      <button mat-raised-button type="button" (click)="leftRight('back')"
        class="btn btn-danger btn-sm btn-just-icon delete">
        Back
      </button>
    </div>
      <div class="col-sm-3">
        <input type="date" id="turnbookDate" class="form-control" [(ngModel)]="turnbookDate" formControlName="turnbookDate" style="display: none;">
      <h3>{{turnbookDate|date:'dd-MM-yyyy'}}</h3>
    </div>
      <div class="col-sm-2">
      <button mat-raised-button type="button" (click)="leftRight('ahead')"
        class="btn btn-primary btn-sm btn-just-icon delete">
        Ahead
      </button>
    </div>
    </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-3">
      Loading Date : 
        <input type="date" id="loadingDate" class="form-control" formControlName="loadingDate">
    </div>
  </div>

    <div class="form-group row">
      <div class="col-xs-3">
        TruckNo : 
        <select class="form-control" id="partyType" formControlName="truckNo" [(ngModel)]="trucknoid"
          (change)="findtruckdetails()" id="truckNoone" *ngIf="!manualTruck">
          <option value="Other+">Other</option>
          <option *ngFor="let i of truckdetailslist;let j = index;" value={{i._id}}+{{i.truckno}}>{{i.truckno}}-{{i.typeOfVehicle[0]}}</option>
        </select>

        <input type="text" *ngIf="manualTruck" class="form-control" [(ngModel)]="trucknoM" formControlName="trucknoM">
        <div *ngIf="manualTruck" class="col-xs-1" (click)="revert()">
          <font color="black">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>

      <div class="col-xs-1">
        <div [hidden]="myFormGroup.controls.trucknoM.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>

      <div class="col-xs-3">
        Location : 
        <select class="form-control" formControlName="waitLocation">
          <option value="Shivapur">Shivapur</option>
          <option value="Dhaba">Dhaba</option>
          <option value="None">None</option>
        </select>
      </div>  
    </div>
    <!--Truckno-->

    <!--Type  -->
    <div class="form-group row">
      <div class="col-xs-3">
        Party Type : 
        <select class="form-control" formControlName="partyType" (change)="findParentAccNo()">
          <option value="" selected>None</option>
          <option value="NRCM">NRCM</option>
          <option value="NR">NR</option>
        </select>
      </div>  

      <!-- Place -->
  <div class="col-sm-3">
    Place : 
    <select id="place" class="form-control" formControlName="place" (change)="setPlaceName()">
      <option value="" selected>None</option>
      <option *ngFor="let own of villagelist;let j = index;" value="{{own._id}}+{{j}}">{{own.village_name}}</option>
    </select>
    </div>
<!-- Place -->

      <!-- Party -->
    <div class="col-sm-3">
      Party :
    <select id="partyName" class="form-control " formControlName="partyName" (change)="setPartyName()">
      <option selected  value=''>None</option>
      <option *ngFor="let i of parties;let j = index;" value={{i._id}}+{{j}}>{{i.name}}</option>
    </select>
  </div>
  <!-- Party -->

  <div class="col-sm-3">
    Parent Acc No : 
  <input type="number" id="parentAccNo" class="form-control" formControlName="parentAccNo">
  </div>


    </div>
    <!-- Type -->

    <div class="row">
      <div class="form-group" class="col-xs-2"></div>
      <div class="form-group" class="col-xs-1">
        <button type="submit" class="btn btn-primary" [disabled]='!myFormGroup.valid'>
          <i class="material-icons">send</i>
        </button>
      </div>

      <div *ngIf="!submitted" class="col-xs-1">

        <button type="button" value="Reset Form" onClick="this.form.reset()" class="btn btn-danger">
          <i class="material-icons">undo</i>
        </button>
      </div>

      <div *ngIf="submitted" class="col-xs-1">
        <button type="button" value="Add More" onClick="this.form.reset()" (click)="back()" class="btn btn-success">
          <i class="material-icons">add</i>
        </button>
      </div>

    </div>
  </form>

</div>