<div class="well">
  <form [formGroup]="myFormGroup" (ngSubmit)="addToTurn()" submitted=true
    enctype="multipart/form data" action="/">

    <div class="row">
      <div class="col-lg-1"><label for="date">Turnbook</label></div>
    <div class="col-lg-9">
      <div class="row">
        <div class="col-sm-2">
      <button mat-raised-button type="button" (click)="leftRight('back')"
        class="btn btn-danger btn-sm btn-just-icon delete">
        Back
      </button>
    </div>
      <div class="col-sm-3">
        <input type="date" id="turnbookDate" class="form-control" [(ngModel)]="turnbookDate" formControlName="turnbookDate" style="display: none;">
      <h3>{{turnbookDate|date:'dd-MM-yyyy'}}</h3>
    </div>
      <div class="col-sm-2">
      <button mat-raised-button type="button" (click)="leftRight('ahead')"
        class="btn btn-primary btn-sm btn-just-icon delete">
        Ahead
      </button>
    </div>
    </div>
    </div>
  </div>


    <div class="form-group row">
      <div class="col-xs-3">
        TruckNo : 
        <input type="text" class="form-control" [(ngModel)]="trucknoM" formControlName="trucknoM">
      </div>

      <div class="col-xs-1">
        <div [hidden]="myFormGroup.controls.trucknoM.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>

    <!--Truckno-->

    <div class="form-group row">
      <div class="col-xs-3">
        Type : 
        <select class="form-control" formControlName="type">
          <option value="Open">Open</option>
          <option value="Container">Container</option>
        </select>
      </div>

      <div class="col-xs-1">
        <div [hidden]="myFormGroup.controls.type.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="form-group" class="col-xs-2">
        <button type="submit" class="btn btn-primary" [disabled]='!myFormGroup.valid'>
          <i class="material-icons">send</i>
        </button>
      </div>
    </div>
  </form>

  <div class="form-group row">
    <table class="table table-bordered">
      <thead>
<tr>
  <th>Srno</th>
  <th>TurnBook Date</th>
  <th>Truckno</th>
  <th>Type</th>
  <th>Options</th>
</tr>
      </thead>
      <tbody>
<tr *ngFor="let i of turnAdd;let j = index;">
  <td>{{j+1}}</td>
  <td>{{i.turnbookDate}}</td>
  <td><input type="checkbox">&nbsp;{{i.truckno}}</td>
  <td>{{i.type}}</td>
  <td *ngIf="i.delete"><button class="btn btn-danger" (click)="deleteFromTurn(j)">Delete</button></td>
</tr>
      </tbody>
    </table>
    <button class="btn btn-warning" (click)="storeTurnBookData()">Send</button>
  </div>

</div>