<div class="well">
  <form [formGroup]="myFormGroup" (ngSubmit)="change(myFormGroup)" submitted=true
    enctype="multipart/form data" action="/">

    <div class="form-group row">
      <div class="col-xs-3">
        <input type="date" id="date" class="form-control" formControlName="date">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        <input type="number" id="name" class="form-control" formControlName="qr" placeholder="Qr Code">
      </div>
    </div>

  
    <div class="form-group row">
      <div class="col-xs-3">
        <select id="dest" class="form-control " formControlName="dest" (change)="setPlaceName()">
          <option selected disabled value={{placeid}}>{{place}}</option>
          <option *ngFor="let i of villagenamelist;let j = index;" value={{i._id}}+{{j}}>{{i.village_name}}</option>
        </select>
      </div>
    </div>
  
    <div class="form-group row">
      <div class="col-xs-3">

        <select id="partyName" class="form-control " formControlName="partyName" (change)="setPartyName()">
          <option selected disabled value={{partyid}}>{{party}}</option>
          <option *ngFor="let i of parties;let j = index;" value={{i._id}}+{{j}}>{{i.name}}</option>
        </select>


      </div>
    </div>


    <div class="form-group row">
      <div class="col-xs-3">
        <select id="type" class="form-control" formControlName="type">
          <option selected disabled>Select</option>
          <option value='Pipe'>Pipe</option>
          <option value='Fittings'>Fittings</option>
        </select>
      </div>
    </div>


    <div class="row">
      <div class="form-group" class="col-xs-2"></div>
      <div class="form-group" class="col-xs-1">
        <button type="submit" class="btn btn-primary" [disabled]='!myFormGroup.valid'>
          <i class="material-icons">send</i>
        </button>
      </div>

      <div *ngIf="!submitted" class="col-xs-1">

        <button type="button" value="Reset Form" onClick="this.form.reset()" class="btn btn-danger">
          <i class="material-icons">undo</i>
        </button>
      </div>

      <div *ngIf="submitted" class="col-xs-1">
        <button type="button" value="Add More" onClick="this.form.reset()" (click)="back()" class="btn btn-success">
          <i class="material-icons">add</i>
        </button>
      </div>

    </div>
  </form>



</div>