<div class="well">
  <div class="row">

    <div class="col-sm-2">


      <a class="btn btn-warning btn-block" routerLink="GST_HANDLER" *ngIf="AUTH">GST</a>
      <!-- <a class="btn btn-warning btn-block" routerLink="OWNER_HANDLER">Owner</a> -->
      <!-- <a class="btn btn-warning btn-block" routerLink="IMP_GST_HANDLER" *ngIf="AUTH">Imp GST</a> -->
      <!-- <a class="btn btn-warning btn-block" routerLink="DRIVER_HANDLER">Driver</a> -->
      <!-- <a class="btn btn-warning btn-block" routerLink="REGULAR_PARTY_HANDLER">Regular Party</a> -->
      <!-- <a class="btn btn-warning btn-block" routerLink="REGULAR_TRUCK_HANDLER">Regular Truck</a> -->
      <!-- <a class="btn btn-warning btn-block" routerLink="VILLAGE_HANDLER">Village</a> -->
      <!-- <a class="btn btn-warning btn-block" routerLink="BANKDETAILS_HANDLER">Bank Details</a> -->
      <!-- <a class="btn btn-warning btn-block" routerLink="BANKNAME_HANDLER">Bank Name</a> -->
      <!-- <a class="btn btn-warning btn-block" routerLink="TRUCKBANKDETAILS_HANDLER">Truck Bank Details</a> -->
      <!-- <a class="btn btn-warning btn-block" routerLink="OWNER_DEATILED_HANDLER">Owner Details</a> -->
      <!-- <a class="btn btn-warning btn-block" routerLink="MonthName_Handler">Months</a> -->




    </div>
    <!-- <div class="col-sm-2" *ngIf="!toggle"></div> -->

    <div class="col-sm-10">

      <router-outlet></router-outlet>
    </div>

  </div>
</div>