<div class="well">
  <div class="row">

    <div class="col-sm-2">
      <a class="btn btn-warning btn-block" routerLink="GST_HANDLER" *ngIf="role==1||role==2">GST</a>
      <a class="btn btn-warning btn-block" routerLink="OWNER_HANDLER" *ngIf="role==1||role==2">Owner</a>
      <a class="btn btn-warning btn-block" routerLink="IMP_GST_HANDLER" *ngIf="role==1||role==2">Imp GST</a>
      <a class="btn btn-warning btn-block" routerLink="VILLAGE_HANDLER" *ngIf="role==1||role==2">Village</a>
    </div>
    <div class="col-sm-10">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>