<div class="well container table-wrapper-scroll-y" *ngIf="!show">

  <table class="table" style="width:100%" align="center">
    <div class="row" style="text-align: center">
      <span style="font-weight:bold;font-size: 20px;"> Not Recieved : {{notRecievedCount}}</span>
    </div>
    <thead>
      <tr class="table-header">
        <th>Srno</th>
        <th>Date</th>
        <th>Name</th>
        <th>TruckNumber</th>
        <th>Place</th>
        <th>Amount</th>
        <th>Rec. Date</th>
        <th>Check</th>
        <th>Delete</th>
        <th>Update</th>
      </tr>
    </thead>


    <tbody>
      <tr *ngFor="let i of advancedetails;let j = index">
        <td>{{j+1}}</td>
        <td>{{i.Date|date:'dd-MM-yyyy'}}</td>
        <td>{{i.nop}}</td>
        <td>{{i.truckno}}</td>
        <td>{{i.place}}</td>
        <td>{{i.amt}}</td>
        <td>{{i.recDate|date:'dd-MM-yyyy'}}</td>
        <td *ngIf="i.Check">
          <i class="material-icons checkboxGreen">done</i>
        </td>
        <td *ngIf="!i.Check">
          <i class="material-icons checkboxRed">clear</i>
        </td>
        <td>
          <button mat-raised-button (click)="deletePochDetails(i._id)" class="btn-danger btn-sm btn-just-icon">
            <i class="material-icons">delete_forever</i>
          </button>
        </td>
        <td>
          <button mat-raised-button (click)="showDatabyid(i)" class="btn-primary btn-sm btn-just-icon">
            <i class="material-icons">edit</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="well" *ngIf="show">
  <router-outlet></router-outlet>
</div>