<div class="row">
  <div class="col-sm-3"><button class="btn btn-warning" (click)="changeTab('declaration')">Declaration</button></div>
  <div class="col-sm-3"><button class="btn btn-warning" (click)="changeTab('bank')">Bank</button></div>
</div>


<div class="well">
  <!-- Declaration -->
  <div class="form-body" *ngIf="tabber==='declaration'">

    <div class="form-group row">
      <div class="col-xs-3">
        Date : 
        <input type="date" class="form-control" [(ngModel)]="dateFromUI">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        Year : 
        <select [(ngModel)]="yearDrop" class="form-control">
          <option>2015-16</option>
          <option>2016-17</option>
          <option>2017-18</option>
          <option>2018-19</option>
          <option>2019-20</option>
          <option>2020-21</option>
          <option>2021-22</option>
          <option>2022-23</option>
          <option>2023-24</option>
        </select>
      </div>
    </div>

    <div class="form-group row">

      <div class="col-xs-3">
        Name : 
        <select [(ngModel)]="name" class="form-control">
          <option>Nitin Garde</option>
          <option>Jyoti Garde</option>
        </select>
      </div>
    </div>

    <div class="form-group row">

      <div class="col-xs-3">
        Pan : 
        <select [(ngModel)]="pan" class="form-control">
          <option>AFGPG3657L</option>
          <option>AFGPG0575D</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        Branch : 
        <select [(ngModel)]="branch" class="form-control">
          <option>nitin roadways and cargo movers</option>
          <option>nitin roadways</option>
        </select>
      </div>
    </div>

    <div class="form-group row">

      <div class="col-xs-3">
        Party Name : 
        <input type="text" list="cars" class="form-control" [(ngModel)]="addr1" />
        <datalist id="cars">
          <option *ngFor="let gst of gstdetailslist;let j = index;" value={{gst.name}}>
            {{gst.name}}...{{gst.dest}}
          </option>
        </datalist>
      </div>
    </div>

    <div class="col-sm-3"><button class="btn btnBig btn-warning" (click)="download(false)">No Signature</button></div>
    <div class="col-sm-3"><button class="btn btnBig btn-warning" (click)="download(true)">Signature</button></div>
    <div class="col-sm-3"><button class="btn btn-warning" (click)="letterpad(true)">Letter Pad with Signature</button></div>
    <div class="col-sm-3"><button class="btn btn-warning" (click)="letterpad(false)">Letter Pad without Signature</button></div>
  </div>
  <!-- Declaration -->
  <!-- Bank -->
  <div class="form-body" *ngIf="tabber==='bank'">
    <div class="form-group row">
      <div class="col-xs-3">
        <input type="date" class="form-control" [(ngModel)]="dateFromUI">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xs-3">
        <select id="dest" class="form-control" [(ngModel)]="timeLog">
          <option>January February March</option>
          <option>April May June</option>
          <option>July August September</option>
          <option>October November December</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xs-3">
        <select id="dest" class="form-control" [(ngModel)]="timeLogYear">
          <option>2020</option>
          <option>2021</option>
          <option>2022</option>
          <option>2023</option>
          <option>2024</option>
        </select>
      </div>
    </div>



    <div class="form-group row">

      <div class="col-xs-3">
        <select id="nop" class="form-control " [(ngModel)]="nop">
          <option disabled selected>Select Name of The Party</option>
          <option *ngFor="let gst of gstdetailslist;let j = index;" value={{gst.name}}>
            {{gst.name}}...{{gst.dest}}
          </option>
        </select>
      </div>

    </div>




    <div class="form-group row">
      <div class="col-xs-3">
        <input type="number" class="form-control" [(ngModel)]="amt">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xs-3">
        <button class="btn btn-primary" (click)="addDetails()">Add</button>
      </div>
    </div>
    <div class="col-sm-3"><button class="btn btn-warning" (click)="downloadBank()">Bank</button></div>

    <div class="col-xs-5">
      <table>
        <tr>
          <th>Party</th>
          <th>Amount</th>
          <th>Delete</th>
        </tr>
        <tr *ngFor="let data of bankArray;let j=index;">
          <td>{{data.Name}}</td>
          <td>{{data.Amount}}</td>
          <td><button class="btn btn-danger" (click)="delete(data,j)">D</button></td>
        </tr>
      </table>
    </div>
  </div>
  
  <!-- Bank -->
</div>