button{
    border-radius: 100px;
}

.time{
    margin-top:15px;
    color:white;
    text-align: right;
}

.NotificationBell{
    margin-top: 10px;
}

.dropdown-menu{
    background-color: black;
    color: wheat;
}

.well,.container{
    background-color: black;
    color: wheat;
}

button{
    color: black;
}
input{
background-color: black;
color: wheat;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: wheat;
    text-align: center;
 }

 h1,h2,h4,h5 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 6rem;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* .navbar-inverse {
    background-color: black;
  } */

  .bbtn {
    margin-bottom: 4vh;
    margin-top: 4vh;
  }