  #header{
    margin-top: 30px;
    margin-bottom: 350px;
    text-align: center;
    font-family: 'Lucida Sans';
    font-display: initial;
    font-size: 50px;
    font-stretch: narrower;
    font-style: bold;
    color:black ;
  }
  .input{
    background-color: transparent;
    border-color: ddd;
    color: white;
  }
  button{
    border-color: black;
  }

