<div *ngIf="isLoginSuccess==='true'">
  <router-outlet></router-outlet>
</div>


<div class="container-fluid home" *ngIf="isLoginSuccess==='false'">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="header">
      <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-4">
        Nitin Roadways And Cargo Movers</div>
        <br>v.22.2
    </div>
  </div>
  <div class="row ">
    <div class="col-xs-12" id="main">
      <form [formGroup]="myFormGroup" (ngSubmit)="login(myFormGroup,!loginButton)" submitted=true
        enctype="multipart/form data" action="/" name="myform" id="myform" class="form-horizontal">

        <div class="form-group">
          <div
            class="col-xs-4 col-xs-offset-4 col-sm-5 col-sm-offset-4 col-md-5 col-md-offset-4 col-lg-4 col-lg-offset-6 col-xlg-2">
            <input type="text" style="color:black;" class="form-control input" placeholder="Username"
              formControlName="username" required />
          </div>
          <div [hidden]="myFormGroup.controls.username.valid">
            <font color="red">
              <span class="glyphicon glyphicon-remove"></span>
            </font>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-4 col-xs-offset-4 col-sm-5 col-sm-offset-4 col-md-5 col-lg-4 col-lg-offset-6 col-xlg-2">
            <input type="password" style="color:black;" class="form-control input" placeholder="Password"
              formControlName="password" required />
          </div>
          <div [hidden]="myFormGroup.controls.password.valid">
            <font color="red">
              <span class="glyphicon glyphicon-remove"></span>
            </font>
          </div>
        </div>

        <!-- <div class="form-group">
          <div class="col-xs-4 col-xs-offset-4 col-sm-5 col-sm-offset-4 col-md-5 col-lg-4 col-lg-offset-6 col-xlg-2">
            <select formControlName="type" class="form-control" style="color:black;" required [(ngModel)]="userTypeHTML"
              (change)="setUser()">
              <option value=1 selected aria-selected="true">Admin</option>
              <option value=2>HR/Interviewer</option>
              <option value=3>Testing/Development</option>
            </select>
          </div>
          <div [hidden]="myFormGroup.controls.type.valid">
            <font color="red">
              <span class="glyphicon glyphicon-remove"></span>
            </font>
          </div>
        </div> -->




        <div class="form-group">
          <button type="submit"
            class="btn btn-primary col-xs-4 col-xs-offset-4 col-sm-5 col-sm-offset-4 col-md-5 col-lg-4 col-lg-offset-6 col-xlg-2"
            data-toggle="modal" data-target="#myModal" *ngIf="loginButton">
            <i class="material-icons">lock_open</i>
          </button>
          <button type="submit"
            class="btn btn-primary col-xs-4 col-xs-offset-4 col-sm-5 col-sm-offset-4 col-md-5 col-lg-4 col-lg-offset-6 col-xlg-2"
            *ngIf="!loginButton">
            <i class="material-icons">lock_open</i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- <div class="container">
  <h2>Welcome</h2>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>


  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

 
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
            (click)="login(myFormGroup,loginButton)">&times;</button>
          <h4 class="modal-title">Welcome to NRCM Portal!</h4>
        </div>
        <div class="modal-body">
          <ul>
            <li>You have logged in Using the Temporary User</li>
            <li>Your temporary username and password is test123 and test123</li>
            <li>Please contact the Admin to get the Admin Access.</li>
            <li>Thank you</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"
            (click)="login(myFormGroup,loginButton)">Close</button>
        </div>
      </div>

    </div>
  </div>

</div> -->