body, html {
  height: 100%;
}
  
  .home{
    background-image: url('../../../assets/images/eicher3.jpg');
    /* background-image: url('https://truckdriverdocuments.s3.ap-south-1.amazonaws.com/testing'); */    
    background-size: cover;
    
  }

  #header{
    margin-top: 30px;
    margin-bottom: 350px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-display: initial;
    font-size: 50px;
    font-stretch: narrower;
    font-style: italic;
    color:gray ;
  }
  .input{
    background-color: black;
    color: wheat;
  }
  button{
    border-color: black;
  }
