<div *ngIf="isLoginSuccess">
  <router-outlet></router-outlet>
</div>


<div class="container-fluid" *ngIf="!isLoginSuccess">
  <div class="row">
    <div class="col-xs-12" id="header">
      <div class="col-xs-8">
        Nitin Roadways Quick</div>
    </div>
  </div>
  <div class="row ">
    <div class="col-xs-12" id="main">
      <form [formGroup]="myFormGroup" (ngSubmit)="login(myFormGroup,!loginButton)" submitted=true
        enctype="multipart/form data" action="/" name="myform" id="myform" class="form-horizontal">

        <div class="form-group">
          <div
            class="col-xs-10">
            <input type="text" style="color:black;" class="form-control input" placeholder="Username"
              formControlName="username" required />
          </div>
          <div [hidden]="myFormGroup.controls.username.valid">
            <font color="red">
              <span class="glyphicon glyphicon-remove"></span>
            </font>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-10">
            <input type="password" style="color:black;" class="form-control input" placeholder="Password"
              formControlName="password" required />
          </div>
          <div [hidden]="myFormGroup.controls.password.valid">
            <font color="red">
              <span class="glyphicon glyphicon-remove"></span>
            </font>
          </div>
        </div>

      




        <div class="form-group">
          <button type="submit"
            class="btn btn-primary col-xs-12"
            data-toggle="modal" data-target="#myModal" *ngIf="loginButton">
            <i class="material-icons">lock_open</i>
          </button>
          <button type="submit"
            class="btn btn-primary col-xs-12"
            *ngIf="!loginButton">
            <i class="material-icons">lock_open</i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
