<div class="container-fluid ">
  <div class="row">
    <div class="form-group col-xs-2" align="center">
      <select class="form-control " [(ngModel)]="name" (change)="find()">
        <option selected>Select Name</option>
        <option *ngFor="let mon of gstdetailslist">{{mon.name}}</option>
      </select>
    </div>
  </div>
  <div class="row" *ngIf="showcount">
    <h1>{{name}}</h1>
    <ul class="col-xs-6">
      <li *ngFor="let i of countByDate">
        <h4>{{i.monthname}}:{{i.count}}</h4>
      </li>
    </ul>
  </div>
</div>