<div class="row">
  <div class="col-sm-3" *ngFor="let i of data;let j = index">
    <button class="btn btn-warning" (click)="shootDate(i._id)">{{i._id}}:{{i.sum}}</button>
  </div>
</div>

<table class="table" style="width:100%" align="center" *ngIf="table">

  <thead class="table-header">
      <tr>
          <th>Srno</th>
          <th>Truckno</th>
          <th>Place</th>
          <th>Party</th>
          <th>Options</th>
      </tr>
  </thead>


  <tbody>
      <tr *ngFor="let i of data;let j = index">
          <td>{{j+1}}</td>
          <td>{{i.truckno}}</td>
          <!-- <td>{{i.}}</td> -->
          <td>
              <button mat-raised-button (click)="details(i,j)" data-toggle="modal" data-target="#myModal" class="btn-danger btn-sm btn-just-icon">
                  <i class="material-icons">edit</i>
              </button>
          </td>
      </tr>
  </tbody>
</table>

