.well {
    margin: auto;
    /* margin-bottom: 500px;
    margin-top: 100px;
    margin-left: 500px; */

    height: 100%;
    width: 350px;
    border:  blue;
    /* padding: 10px; */
    background-color: blueviolet;
    margin-top: 10%
}

.button{
    margin-top: 30px;
}

.col-xs-3 {
    width: 100%;
    /* margin-top: 50px; */
}

#cont{
    margin-top: 30px;
}
h3{
    text-align: center
}
.NRCM{
    background-color: rebeccapurple;
    padding-top: 10px;
    padding-bottom: 10px;
}
#login-button{
     width: 100%;
    margin-bottom: 20px;
}


.col-xs-10 {
    width: 100%;
}

button{
    border-radius: 100px;
}

input,select,table{
    background-color: black;
    color: wheat;
  }
  .well{
    background-color: black;
    color: wheat;
  }
  button{
    color: black;
  }
  
  thead>tr{
    color: black;
  }