<div class="well" *ngIf="!confirm_register">

  <form [formGroup]="myFormGroup" (ngSubmit)="confirmNewUser(myFormGroup)" submitted=true enctype="multipart/form data" action="/"
    name="myform" id="myform">
    <!-- value is not going in ts file    ,nopid.value-->


    <div class="NRCM">
      <h3>NRCM</h3>
    </div>
    <div id="cont">
      <!--Name-->
      <div class="form-group row">

        <div class="col-xs-3">
          <input type="text" id="username" class="form-control" formControlName="username" placeholder="UserName">
        </div>
        <div class="col-xs-2">
          <div [hidden]="myFormGroup.controls.username.valid">
            <font color="red">
              <span class="glyphicon glyphicon-remove"></span>
            </font>
          </div>
        </div>
      </div>
      <!--Name-->

      <!--Password-->
      <div class="form-group row">

        <div class="col-xs-3">
          <input type="password" id="password" class="form-control" formControlName="password" placeholder="Password">
        </div>
        <div class="col-xs-2">
          <div [hidden]="myFormGroup.controls.password.valid">
            <font color="red">
              <span class="glyphicon glyphicon-remove"></span>
            </font>
          </div>
        </div>
      </div>
      <!--Password-->

      <!--ConfirmPassword-->
      <div class="form-group row">

        <div class="col-xs-3">
          <input type="password" id="confirm_password" class="form-control" formControlName="confirm_password" placeholder="Confirm Password">
        </div>
        <div class="col-xs-2">
          <div [hidden]="myFormGroup.controls.confirm_password.valid">
            <font color="red">
              <span class="glyphicon glyphicon-remove"></span>
            </font>
          </div>
        </div>
      </div>
      <!--ConfirmPassword-->
    </div>

    <div class="row">
      <div class="form-group" class="col-xs-2"></div>
      <div class="form-group" class="col-xs-2" id="login-button">
        <button type="submit" class="btn btn-primary btn-block" [disabled]='!myFormGroup.valid'>
          <i class="material-icons">fiber_new</i>
        </button>
      </div>

    </div>



  </form>



</div>




<div class="well" *ngIf="confirm_register">

  <form (ngSubmit)="storeNewUser(adminUname.value,adminPassword.value)" submitted=true enctype="multipart/form data" action="/"
    name="myform" id="myform">
    <!-- value is not going in ts file    ,nopid.value-->


    <div class="NRCM">
      <h3>NRCM Confirm Registry</h3>
    </div>
    <div id="cont">
      <!--Name-->
      <div class="form-group row">

        <div class="col-xs-3">
          <input type="text" #adminUname class="form-control" placeholder="Admin_Username">
        </div>

      </div>
      <!--Name-->

      <!--Password-->
      <div class="form-group row">

        <div class="col-xs-3">
          <input type="password" #adminPassword class="form-control " placeholder="Admin_Password ">
        </div>

      </div>
      <!--Password-->


    </div>

    <div class="row ">
      <div class="form-group " class="col-xs-2 "></div>
      <div class="form-group " class="col-xs-10 " id="login-button ">
        <button type="submit " class="btn btn-primary btn-block ">
          <i class="material-icons">fiber_new</i>
        </button>
      </div>

    </div>



  </form>



</div>