<!-- <div *ngIf="check">
  <input type="password" [(ngModel)]="passwordCheck" />
  <button (click)="login()">Final check login</button>
</div>
<div class="well" *ngIf="!check"> -->
<div class="well">
  <div class="header-head">
    <h1>Finolex Pvt. Ltd.</h1>
  </div>
  <br />
</div>

<div class="row">
  <div class="col-sm-1">
    <button class="btn btn-success btn-block" routerLink="FinolexDispSend">Display</button>
  </div>
  <div class="col-sm-11">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- </div> -->