<div class="well container">
    <div class="row">
        <div class="form-group col-xs-2" align="center">
            <select class="form-control " [(ngModel)]="name" (change)="find()">
                <option selected>Select Name</option>
                <option *ngFor="let mon of gstdetailslist">{{mon.name}}</option>
            </select>
        </div>

        <div class="col-xs-2">
            <button (click)="download()" class="btn btn-warning btn-sm btn-just-icon">
                <i class="material-icons" style="color:white">save_alt</i>
            </button>
        </div>
        <div class="col-xs-2">
            <button (click)="exportAsXLSX()">
                <i class="fa fa-file-excel-o" style="font-size:48px;color:blue"></i>
            </button>
        </div>

        <div class="col-xs-10" style="text-align: center" *ngIf="tabledata">
            <div class="row">
                <span style="font-weight:bold;font-size: 40px;"> {{name}} : {{BookingCount}}</span>
            </div>
        </div>
    </div>

    <br />
    <div *ngIf="!show && tabledata" class="row">
        <div class="col-lg-12">
            <table class="table" style="width:100%" align="center">

                <thead align="center" style="font-weight: bold">
                    <tr class=table-header>
                        <th>Srno</th>
                        <th>Date</th>
                        <th>LRNO</th>
                        <th>Truck No</th>
                        <th>Hire Amount</th>
                        <th>Place</th>
                        <th>Amount</th>
                        <th>Payment Date</th>
                        <th>Payment</th>
                        <th>Delete</th>
                        <th>Update</th>
                    </tr>
                </thead>

                <tbody align="center">
                    <tr *ngFor="let i of bookingnamelist;let j = index">
                        <td>{{j+1}}</td>
                        <td>{{i.Date|date: 'dd-MM-yyyy'}}</td>
                        <!-- |date: 'dd/MM/yyyy'}}</td> -->
                        <td>{{i.lrno}}</td>
                        <td (click)="getTruckDetails(i)" data-toggle="modal" data-target="#truckModal">
                            {{i.truckno}}</td>
                        <td>{{i.hamt}}</td>
                        <td>{{i.place}}</td>
                        <td>{{i.amt}}</td>
                        <td>{{i.PaymentRecDate}}</td>
                        <td>{{i.Payment}}</td>
                        <td>
                            <button mat-raised-button (click)="deleteBookingDetails(i._id,i.nop)"
                                class="btn btn-danger btn-sm btn-just-icon delete">
                                <i class="material-icons">delete_forever</i>
                            </button>
                        </td>
                        <td>
                            <button mat-raised-button type="button" (click)="showDatabyid(i)"
                                class="btn-primary btn-sm btn-just-icon edit" disabled>
                                <i class="material-icons">edit</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- Modal content-->
            <div class="modal fade" id="truckModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="text-align: center">{{modelTruckNo}}</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table table-hover">
                                <tr>
                                    <th>TruckNo</th>
                                    <td>{{modelTruckNo}}</td>
                                </tr>
                                <tr>
                                    <th>Owner Name</th>
                                    <td>{{modelOwnerName}}</td>
                                </tr>
                                <tr>
                                    <th>PAN</th>
                                    <td>{{modelPAN}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal content-->
        </div>
    </div>
</div>
<div *ngIf="show">
    hi
    <!-- <router-outlet></router-outlet> -->
</div>