<div class="well container" *ngIf="togglemenu">
  <form [formGroup]="myFormGroup" (ngSubmit)="storeCanaraPaymentDetailsData(myFormGroup)" submitted=true enctype="multipart/form data"
    action="/">
    <!-- Account Number -->
    <div class="form-group">
      <div class="row">
        <div class="col-sm-2">
          <label for="accType"> Account Type</label>
        </div>
        <div class="col-sm-1">
          <span style="font-weight: bold">12</span>
          <input type="radio" id="accType" class="form-control radio-buttons" name="accType" formControlName="accType" value="12">
        </div>


        <div class="col-sm-1">
          <span style="font-weight: bold">363</span>
          <input type="radio" id="accType" class="form-control radio-buttons" name="accType" formControlName="accType" value="363">
        </div>


        <div class="col-sm-1">
          <span style="font-weight: bold">91</span>
          <input type="radio" id="accType" class="form-control radio-buttons" name="accType" formControlName="accType" value="91">
        </div>


        <div class="col-sm-1">
          <span style="font-weight: bold">5</span>
          <input type="radio" id="accType" class="form-control radio-buttons" name="accType" formControlName="accType" value="5">
        </div>


        <div [hidden]="myFormGroup.controls.accType.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>

    </div>

    <!-- Account Number -->

    <!-- Transfer Type -->
    <div class="form-group">
      <div class="row">
        <div class="col-sm-2">
          <label for="transferType"> Transfer Type </label>
        </div>
        <div class="row">
          <div class="col-sm-1" style="font-weight: bold">NEFT</div>
          <div class="col-sm-1">
            <input type="radio" id="transferType" class="form-control radio-buttons" name="transferType" formControlName="transferType"
              value="NEFT">
          </div>

          <div class="col-sm-1" style="font-weight: bold">IMPS</div>
          <div class="col-sm-1">
            <input type="radio" id="transferType" class="form-control radio-buttons" name="transferType" formControlName="transferType"
              value="IMPS">
          </div>
          <div [hidden]="myFormGroup.controls.transferType.valid" class="col-sm-1">
            <font color="red">
              <span class="glyphicon glyphicon-remove"></span>
            </font>
          </div>
        </div>


      </div>

    </div>

    <!-- Transfer Type -->


    <!-- payment-->
    <div class="form-group row">

      <div class="col-xs-2">
        <label for="payment"> Payment </label>
      </div>
      <div class="col-xs-3">
        <input type="number" id="payment" class="form-control " formControlName="payment">

      </div>

      <div class="col-xs-1">
        <div [hidden]="myFormGroup.controls.payment.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>
    <!--payment-->


    <!--NOP-->
    <div class="form-group row">

      <div class="col-xs-2">
        <label for="nameOfParty"> Name </label>
      </div>
      <div class="col-xs-3">

        <select id="nameOfParty" class="form-control" formControlName="nameOfParty" [(ngModel)]="namepart">
          <option disabled>Name</option>
          <option *ngFor="let i of parties">{{i.name}}</option>
        </select>


      </div>

      <div class="col-xs-1">
        <div [hidden]="myFormGroup.controls.nameOfParty.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>
    <!--NOP-->

    <!--LRNO-->
    <div class="form-group row">

      <div class="col-xs-2">
        <label for="lrno"> LRNO </label>
      </div>

      <div class="col-xs-3">
        <input type="text" id="lrno" class="form-control" formControlName="lrno">
      </div>

      <div class="col-xs-1">
        <div [hidden]="myFormGroup.controls.lrno.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>

    </div>
    <!--LRNO-->

    <!-- PaymentDATE-->
    <div class="form-group row">

      <div class="col-xs-2">
        <label for="paymentDate"> Payment Date</label>
      </div>

      <div class="col-xs-3">
        <input type="date" id="paymentDate" class="form-control" formControlName="paymentDate">
      </div>

      <div class="col-xs-1">
        <div [hidden]="myFormGroup.controls.paymentDate.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>

    </div>
    <!--PaymentDATE -->





    <div class="row">
      <div class="form-group" class="col-xs-2"></div>
      <div class="form-group" class="col-xs-2">
        <button type="submit" class="btn btn-primary" [disabled]='!myFormGroup.valid||dataGone'>
          <i class="material-icons">send</i>
        </button>
      </div>
      <div class="form-group" class="col-xs-2">
        <button type="button" class="btn btn-primary" (click)="reLoad()">
          <i class="material-icons">cached</i>
        </button>
      </div>

    </div>
  </form>
</div>