<div class="row">
  <button class="btn btn-warning" (click)="tabF(0)">Add</button>
  <button class="btn btn-warning" (click)="tabF(1)">PartyInfo</button>
  <button class="btn btn-warning" (click)="tabF(2)">Location</button>
  <button class="btn btn-warning" (click)="tabF(3)">Comm Bill</button>
  <button class="btn btn-warning" (click)="tabF(4)">Balance Data</button>
  <button class="btn btn-warning" (click)="tabF(5)">Memo</button>
</div>


<div class="well" *ngIf="tab==0">
  <button class="btn btn-danger" (click)="get()">Get Data</button>
  <input type="text" [(ngModel)]="qrsetter" id="qrsetter">
  <input type="date" id="datesetter">
  <button class="btn btn-primary" (click)="addRow('r',j)">Row</button>
    <table class="table table-bordered">
      <tr>
        <th>Srno</th>
        <th>Date-TNO-Party</th>
        <th>Place1/Place2</th>
        <th>Co & QR</th>
        <th>Rent</th>
        <th>Details</th>
      </tr>
      <tr *ngFor="let i of turnbooklist1;let j = index;">
        <td>{{j+1}}</td>
        <td>
          <input type="date" class="form-control" style="width: 50%;" id="date_{{j}}" [disabled]='i.lul==="unlock"' value={{i.loadingDate}}>

          <input type="text" class="form-control"  style="width: 50%;" id="truckno_{{j}}" [disabled]='i.lul==="unlock"'/>

           <select class="form-control" id="pt_{{j}}"  style="width: 50%;" [disabled]='i.lul==="unlock"' (change)="setParty(j)">
            <option disabled id="">Default</option>
          <option *ngFor="let ii of pts;" value={{ii.value}}>{{ii.viewValue}}</option>
        </select>

        <select class="form-control" [disabled]='i.lul==="unlock"' id="pn_{{j}}" style="width: 50%;background-color: black;color: wheat;">
            <option disabled id="">Default</option>
            <option value={{k._id}} *ngFor="let k of i.parties2;let kki = index">{{k.name}}</option>
          </select>

            <input type="text" list="cars" class="form-control"  style="width: 50%;" id="tptName_{{j}}" [disabled]='i.lul==="unlock"' autocomplete="off"/>
           <datalist id="cars">
            <option *ngFor="let own of transports" value={{own.tptName}}>{{own.tptName}}</option>
           </datalist>

        </td>

        <td>
          <select class="form-control" [disabled]='i.lul==="unlock"' id="p1_{{j}}" style="width: 50%;background-color: black;color: wheat;">
            <option disabled id="">Default</option>
            <option value={{k._id}} *ngFor="let k of villages;let kki = index">{{k.village_name}}</option>
          </select>
          <br>
          <select class="form-control" [disabled]='i.lul==="unlock"' id="p2_{{j}}" style="width: 50%;background-color: black;color: wheat;">
            <option disabled id="">Default</option>
            <option value={{k._id}} *ngFor="let k of villages;let kki = index">{{k.village_name}}</option>
          </select>

          <span *ngIf="i.otherbuttons">
            <select class="form-control"  style="width: 50%;" [disabled]='i.lul==="unlock"' id="tol_{{j}}" (change)="checkTON(j)">
              <option *ngFor="let ii of tols;" value={{ii.viewValue}}>{{ii.viewValue}}</option>
            </select>

        <br>
          <select class="form-control"  style="width: 50%;" [disabled]='i.lul==="unlock"' id="weight_{{j}}">
            <option *ngFor="let k of i.tons;let k = index;" value={{k}}>{{k}}</option>
          </select>
          </span>
        </td>

        <td>
         <table border="0">
          <tr>
            <th>Co</th>
            <th>D</th>
          </tr>
          <tr *ngFor="let ii of i.contacts;let jj =index;">
            <td><input [disabled]='i.lul==="unlock"' type="text" id="co_{{j}}{{jj}}"></td>
            <td><button class="btn btn-danger" [disabled]='i.lul==="unlock"' (click)="delete(j,'c',jj)">D</button></td>
          </tr>
         </table>
         <button [disabled]='i.lul==="unlock"' class="btn btn-warning" (click)="addRow('c',j)">A</button>

         <hr>


         <table border="0" *ngIf="i.otherbuttons">
           <tr>
             <th>QR</th>
             <th>D</th>
           </tr>
           <tr *ngFor="let ii of i.qrs;let jj =index;">
             <td><input [disabled]='i.lul==="unlock"' type="text" id="qr_{{j}}{{jj}}" value={{ii.qr}}></td>
             <td><button class="btn btn-danger" [disabled]='i.lul==="unlock"' (click)="delete(j,'q',jj)">D</button></td>
           </tr>
          </table>
          <button [disabled]='i.lul==="unlock"' *ngIf="i.otherbuttons" class="btn btn-warning" (click)="addRow('q',j)">A</button>

          <hr>

          <input type="number" class="form-control" style="width: 50%;" id="hamt_{{j}}" [disabled]='i.lul==="unlock"' *ngIf="!i.otherbuttons" value=0>

        </td>
        
        <td>
          Rent : <input type="number" class="form-control" style="width: 50%;" id="rent_{{j}}" [disabled]='i.lul==="unlock"' value={{i.rent}}>
          Bill : <input type="number" class="form-control" style="width: 50%;" id="bill_{{j}}" [disabled]='i.lul==="unlock"' value=1200>
          <button class="btn btn-danger" (click)="saveEdit(i,j,'addons')"  data-toggle="modal" data-target="#myModalDD">Addons</button>

          <button class="btn btn-warning" (click)="saveEdit(i,j,'deductions')"  data-toggle="modal" data-target="#myModalDD">Deductions</button>
        </td>

        <td>
          <button class="btn btn-danger" [disabled]='i.lul==="unlock"' (click)="delete(j,'r')">D</button>
        </td>
      </tr>
    </table>
    
  <button class="btn btn-success" [disabled]="!submitButton" (click)="save()">Save</button>
  <button class="btn btn-danger" [disabled]="submitButton" (click)="lul()">Force Enable</button>
  <button class="btn btn-warning" (click)="lulAll()">Force Lock</button>

</div>


<div class="well" *ngIf="tab==1">
  <button class="btn btn-danger" (click)="get2()">Get Data</button>

  <table class="table table-bordered">
    <tr>
      <th>Srno</th>
      <th>Date</th>
      <th>TruckNo-Contact</th>
      <th>Party-Contact-Load</th>
      <th>Place</th>
      <th>QR</th>
      <th>Code</th>
    </tr>
    <tr *ngFor="let i of pmts;let j = index;">
      <td>{{j+1}}</td>
      <td>{{i.loadingDate|date:'dd-MM-yyyy'}}</td>
      <td>{{i.truckno}}<br>{{i.contacttb[0]}}</td>
      <td>{{i.partyName}}<br>{{i.contactp}}<br>{{i.typeOfLoad}}</td>
      <td>{{i.destination}}-{{i.destination2}}</td>
      <td>
        <ul>
          <li *ngFor="let k of i.qr">{{k}}</li>
        </ul>
      </td>
      <td><button class="btn btn-warning" (click)="qrCoder(i.qrcode)">Send</button></td>
      
    </tr>
  </table>
<button class="btn btn-danger" (click)="partyOk()">Set All</button>
</div>



<div class="well" *ngIf="tab==2">
  <button class="btn btn-danger" (click)="get3()">Get Data</button>
  <button class="btn btn-danger" (click)="setTrue3()">Set All True</button>

  <table class="table table-bordered">
    <tr>
      <th>Srno</th>
      <th>Date</th>
      <th>TruckNo-Contact</th>
      <th>Code</th>
    </tr>
    <tr *ngFor="let i of pmts3;let j = index;">
      <td>{{j+1}}</td>
      <td>{{i.loadingDate|date:'dd-MM-yyyy'}}</td>
      <td>{{i.truckno}}<br>{{i.contacttb}}</td>
      <td><button class="btn btn-warning" (click)="LocationSender(i)">Send</button></td>
      
    </tr>
  </table>

</div>

<div class="well" *ngIf="tab==3">
  <button class="btn btn-danger" (click)="get4()">Get Data</button>

  <table class="table table-bordered">
    <tr>
      <th>Srno</th>
      <th>Date</th>
      <th>TruckNo-Contact-Load</th>
      <th>Place</th>
      <th>Rent-Adv-Bal</th>
      <th>Other</th>
      <th>Advance</th>
      <th>Code</th>
    </tr>
    <tr *ngFor="let i of comm;let j = index;">
       <td>{{j+1}}</td>
      <td>{{i.loadingDate|date:'dd-MM-yyyy'}}</td>
      <td>{{i.truckno}}<br>{{i.contacttb[0]}}<br>{{i.typeOfLoad}}</td>
      <td>{{i.destination}}-{{i.destination2}}</td>
      <td>{{i.rent}}-{{i.advance}}-{{i.balance}}</td>
      <td>{{i.billamt}}</td>
      
      <td>
        <ul>
          <li *ngFor="let k of i.advanceArray">{{k.date}}-{{k.amount}}</li>
        </ul>
      </td>

      <!-- <td *ngIf="extraAvailiable">
        <ul>
          <li *ngFor="let k of i.extra">{{k.extraAdvancemsg}}-{{k.extraAdvanceamt}}</li>
        </ul>
      </td> -->

      <td><button class="btn btn-warning" (click)="sendMsg(i)">Send</button></td>
      
    </tr>
  </table>
<button class="btn btn-danger" (click)="CommOk()">Set All</button>
</div>

<div class="modal fade" id="myModalDD" role="dialog">
  <div class="modal-dialog">
  

    <div class="modal-content" style="background-color: black;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{tempType}} for {{tempTruckNo}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-3">
          Name : <input type="text" class="form-control" [(ngModel)]="name">
        </div>

        <div class="col-sm-3">
         Value : <input type="text" class="form-control" [(ngModel)]="value">
        </div>
        <div class="col-sm-3">
        <button class="btn btn-warning" (click)="storeAD()">Store</button>
       </div>
      </div>
      <div class="row">
        <table>
          <thead><tr><th>Data</th></tr></thead>
          <tbody>
            <tr *ngFor="let ii of tempBalls;let jj =index;">
             <td><button class="btn btn-danger" (click)="deleteTB(jj)">{{ii[0]}}:{{ii[1]}}</button></td>
           </tr>
          </tbody>
        </table>
      </div>
      </div>

      <div class="modal-footer">
        
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>