<div class="row">
  <button class="btn btn-warning" (click)="tabF(0)">Add</button>
  <button class="btn btn-warning" (click)="tabF(1)">PartyInfo</button>
  <button class="btn btn-warning" (click)="tabF(2)">Location</button>
  <button class="btn btn-warning" (click)="tabF(3)">Comm Bill</button>
  <button class="btn btn-warning" (click)="tabF(4)">Balance Data</button>
  <button class="btn btn-warning" (click)="tabF(5)">Memo</button>
</div>


<div class="well" *ngIf="tab==0">
  <button class="btn btn-danger" (click)="get()">Get Data</button>
  <input type="text" [(ngModel)]="qrsetter" id="qrsetter" placeholder="Set QR Value">
  <input type="date" id="datesetter">
  <button class="btn btn-primary" (click)="addRow('r',j)">Row</button>
    <table class="table table-bordered">
      <tr>
        <th>Srno</th>
        <th>TNO-Party</th>
        <th>Place1/Place2</th>
        <th>Co & QR</th>
        <th>Rent</th>
        <th>Details</th>
      </tr>
      <tr *ngFor="let i of turnbooklist1;let j = index;">
        <td>{{j+1}}</td>
        <td>

          <input type="text" class="form-control"  style="width: 50%;" id="truckno_{{j}}" [disabled]='i.lul==="unlock"' placeholder="TN01 AB 1234"/>

           <select class="form-control" id="pt_{{j}}"  style="width: 50%;" [disabled]='i.lul==="unlock"' (change)="setParty(j)">
            <option disabled id="">Default</option>
          <option *ngFor="let ii of pts;" value={{ii.value}}>{{ii.viewValue}}</option>
        </select>

        <select class="form-control" [disabled]='i.lul==="unlock"' id="pn_{{j}}" style="width: 50%;background-color: black;color: wheat;">
            <option disabled id="">Default</option>
            <option value={{k._id}} *ngFor="let k of i.parties2;let kki = index">{{k.name}}</option>
          </select>

            <input type="text" list="cars" class="form-control"  style="width: 50%;" id="tptName_{{j}}" [disabled]='i.lul==="unlock"' autocomplete="off"/>
           <datalist id="cars">
            <option *ngFor="let own of transports" value={{own.tptName}}>{{own.tptName}}</option>
           </datalist>

        </td>

        <td>
          <select class="form-control" [disabled]='i.lul==="unlock"' id="p1_{{j}}" style="width: 50%;background-color: black;color: wheat;">
            <option disabled id="">Default</option>
            <option value={{k._id}} *ngFor="let k of villages;let kki = index">{{k.village_name}}</option>
          </select>
          <br>
          <select class="form-control" [disabled]='i.lul==="unlock"' id="p2_{{j}}" style="width: 50%;background-color: black;color: wheat;">
            <option disabled id="">Default</option>
            <option value={{k._id}} *ngFor="let k of villages;let kki = index">{{k.village_name}}</option>
          </select>

          <span *ngIf="i.otherbuttons">
            <select class="form-control"  style="width: 50%;" [disabled]='i.lul==="unlock"' id="tol_{{j}}" (change)="checkTON(j)">
              <option *ngFor="let ii of tols;" value={{ii.viewValue}}>{{ii.viewValue}}</option>
            </select>

        <br>
          <select class="form-control"  style="width: 50%;" [disabled]='i.lul==="unlock"' id="weight_{{j}}">
            <option *ngFor="let k of i.tons;let k = index;" value={{k}}>{{k}}</option>
          </select>
          </span>
        </td>

        <td>
         <table border="0">
          <tr>
            <th>Co</th>
            <th>D</th>
          </tr>
          <tr *ngFor="let ii of i.contacts;let jj =index;">
            <td><input [disabled]='i.lul==="unlock"' type="text" id="co_{{j}}{{jj}}" placeholder="8529275757"></td>
            <td><button class="btn btn-danger" [disabled]='i.lul==="unlock"' (click)="delete(j,'c',jj)">D</button></td>
          </tr>
         </table>
         <button [disabled]='i.lul==="unlock"' class="btn btn-warning" (click)="addRow('c',j)">A</button>

         <hr>


         <table border="0" *ngIf="i.otherbuttons">
           <tr>
             <th>QR</th>
             <th>D</th>
           </tr>
           <tr *ngFor="let ii of i.qrs;let jj =index;">
             <td><input [disabled]='i.lul==="unlock"' type="text" id="qr_{{j}}{{jj}}" value={{ii.qr}}></td>
             <td><button class="btn btn-danger" [disabled]='i.lul==="unlock"' (click)="delete(j,'q',jj)">D</button></td>
           </tr>
          </table>
          <button [disabled]='i.lul==="unlock"' *ngIf="i.otherbuttons" class="btn btn-warning" (click)="addRow('q',j)">A</button>

          <hr>

          <input type="number" class="form-control" style="width: 50%;" id="hamt_{{j}}" [disabled]='i.lul==="unlock"' *ngIf="!i.otherbuttons" value=0>

        </td>
        
        <td>
          Rent : <input type="number" class="form-control" style="width: 50%;" id="rent_{{j}}" [disabled]='i.lul==="unlock"' value={{i.rent}}>
          Bill : <input type="number" class="form-control" style="width: 50%;" id="bill_{{j}}" [disabled]='i.lul==="unlock"' value=1200>
          <button class="btn btn-danger" (click)="saveEdit(i,j,'addons')"  data-toggle="modal" data-target="#myModalDD">Addons</button>

          <button class="btn btn-warning" (click)="saveEdit(i,j,'deductions')"  data-toggle="modal" data-target="#myModalDD">Deductions</button>
        </td>

        <td>
          <button class="btn btn-danger" [disabled]='i.lul==="unlock"' (click)="delete(j,'r')">D</button>
        </td>
      </tr>
    </table>
    
  <button class="btn btn-success" [disabled]="!submitButton" (click)="save()">Save</button>
  <button class="btn btn-danger" [disabled]="submitButton" (click)="lul()">Force Enable</button>
  <button class="btn btn-warning" (click)="lulAll()">Force Lock</button>

</div>


<div class="well" *ngIf="tab==1">
  <button class="btn btn-danger" (click)="get2()">Get Data</button>

  <table class="table table-bordered">
    <tr>
      <th>Srno</th>
      <th>Date</th>
      <th>TruckNo-Contact</th>
      <th>Party-Contact-Load</th>
      <th>Place</th>
      <th>QR</th>
      <th>Code</th>
    </tr>
    <tr *ngFor="let i of pmts;let j = index;">
      <td>{{j+1}}</td>
      <td>{{i.loadingDate|date:'dd-MM-yyyy'}}</td>
      <td>{{i.truckno}}<br>{{i.contacttb[0]}}</td>
      <td>{{i.partyName}}<br>{{i.contactp}}<br>{{i.typeOfLoad}}</td>
      <td>{{i.destination}}-{{i.destination2}}</td>
      <td>
        <ul>
          <li *ngFor="let k of i.qr">{{k}}</li>
        </ul>
      </td>
      <td><button class="btn btn-warning" (click)="qrCoder(i.qrcode)">Send</button></td>
      
    </tr>
  </table>
<button class="btn btn-danger" (click)="partyOk()">Set All</button>
</div>



<div class="well" *ngIf="tab==2">
  <button class="btn btn-danger" (click)="get3()">Get Data</button>
  <button class="btn btn-danger" (click)="setTrue3()">Set All True</button>

  <table class="table table-bordered">
    <tr>
      <th>Srno</th>
      <th>Date</th>
      <th>TruckNo-Contact</th>
      <th>Code</th>
    </tr>
    <tr *ngFor="let i of pmts3;let j = index;">
      <td>{{j+1}}</td>
      <td>{{i.loadingDate|date:'dd-MM-yyyy'}}</td>
      <td>{{i.truckno}}<br>{{i.contacttb}}</td>
      <td><button class="btn btn-warning" (click)="LocationSender(i)">Send</button></td>
      
    </tr>
  </table>

</div>

<div class="well" *ngIf="tab==3">
  <div class="col-sm-3">
  <input type="date" class="form-control" [(ngModel)]="loadingDate">
  </div>
  <button class="btn btn-danger" (click)="get4()">Get Data</button>

  <table class="table table-bordered">
    <tr>
      <th>Srno</th>
      <th>Date</th>
      <th>TruckNo-Contact-Load</th>
      <th>Place</th>
      <th>Rent-Adv-Bal</th>
      <th>Other</th>
      <th>Advance</th>
      <th>Code</th>
    </tr>
    <tr *ngFor="let i of comm;let j = index;">
       <td>{{j+1}}</td>
      <td>{{i.loadingDate|date:'dd-MM-yyyy'}}</td>
      <td>{{i.truckName.truckno}}<br>{{i.contacttb[0]}}<br>{{i.typeOfLoad}}</td>
      <td>{{i.placeName.village_name}}</td>
      <td>{{i.rent+i.addonsSum}}-{{i.advanceArraySum}}={{i.rent+i.addonsSum-i.advanceArraySum-i.deductionsSum-i.billamt}}</td>
      <td>{{i.billamt}}</td>
      
      <td>
        <div class="row">
          <div class="col-sm-4"><button style="width: 100%" [ngStyle]="{'background-color': i.advBalColor}" (click)="savePayment(i,j,'advanceArray')" data-toggle="modal" data-target="#myModalPay">Adv</button></div>
          <div class="col-sm-4"><button style="width: 100%" [ngStyle]="{'background-color': i.ADColor[0]}" (click)="savePayment2(i,j,'addons')" data-toggle="modal" data-target="#myModalDD">Addons</button></div>
          <div class="col-sm-4"><button style="width: 100%" [ngStyle]="{'background-color': i.ADColor[1]}" (click)="savePayment2(i,j,'deductions')" data-toggle="modal" data-target="#myModalDD">Deductions</button></div>
        </div>
      </td>

      <td><button class="btn btn-warning" (click)="sendMsg(i)">Send</button></td>
      
    </tr>
  </table>
<button class="btn btn-danger" (click)="CommOk()">Set All</button>
</div>

<div class="well" *ngIf="tab==4">
  <button class="btn btn-danger" (click)="get44()">Get Data</button>

  <table class="table table-bordered">
    <tr>
      <th>Srno</th>
      <th>Date</th>
      <th>TruckNo-Contact-Load</th>
      <th>Place</th>
      <th>Rent-Adv-Bal</th>
      <th>Other</th>
      <th>Advance</th>
      <th>Code</th>
    </tr>
    <tr *ngFor="let i of comm;let j = index;">
       <td>{{j+1}}</td>
      <td>{{i.loadingDate|date:'dd-MM-yyyy'}}</td>
      <td>{{i.truckName.truckno}}<br>{{i.contacttb[0]}}<br>{{i.typeOfLoad}}</td>
      <td>{{i.placeName.village_name}}</td>
      <td>{{i.rent+i.addonsSum}}-{{i.advanceArraySum}}={{i.rent+i.addonsSum-i.advanceArraySum-i.deductionsSum-i.billamt}}</td>
      <td>{{i.billamt}}</td>
      
      <td>
        <div class="row">
          <div class="col-sm-4"><button style="width: 100%" [ngStyle]="{'background-color': i.advBalColor[1]}" (click)="savePayment(i,j,'advanceArray')" data-toggle="modal" data-target="#myModalPay">Adv</button></div>
          <div class="col-sm-4"><button style="width: 100%" [ngStyle]="{'background-color': i.ADColor[0]}" (click)="savePayment2(i,j,'addons')" data-toggle="modal" data-target="#myModalDD">Addons</button></div>
          <div class="col-sm-4"><button style="width: 100%" [ngStyle]="{'background-color': i.ADColor[1]}" (click)="savePayment2(i,j,'deductions')" data-toggle="modal" data-target="#myModalDD">Deductions</button></div>
          <div class="col-sm-4"><button style="width: 100%" [ngStyle]="{'background-color': i.ADColor[1]}" (click)="savePayment2(i,j,'balanceDeductions')" data-toggle="modal" data-target="#myModalDD">BalDeductions</button></div>
          <div class="col-sm-4"><button style="width: 100%" [ngStyle]="{'background-color': i.advBalColor[0]}" (click)="savePayment(i,j,'balanceArray')" data-toggle="modal" data-target="#myModalPay">Bal</button></div>
        </div>
      </td>

      <td><button class="btn btn-warning" (click)="sendMsgB(i)">Send</button></td>
      
    </tr>
  </table>
</div>

<div class="well" *ngIf="tab==5">
  <div class="col-sm-3">
  <input type="date" class="form-control" [(ngModel)]="loadingDate">
  </div>
  <button class="btn btn-danger" (click)="get55()">Get Data</button>

  <table class="table table-bordered">
    <tr>
      <th>Srno</th>
      <th>Date</th>
      <th>TruckNo</th>
      <th>Party</th>
      <th>Place</th>
      <th>Rent-Adv-Bal</th>
      <th>Code</th>
    </tr>
    <tr *ngFor="let i of comm;let j = index;">
       <td>{{j+1}}</td>
      <td>{{i.loadingDate|date:'dd-MM-yyyy'}}</td>
      <td>{{i.truckNo}}</td>
      <td>{{i.party}}</td>
      <td>{{i.place}}</td>
      <td>{{i.hamt}}-<input type="number" class="form-control" value={{i.adv}} id="adv_{{j}}">=<input type="number" id="bal_{{j}}" class="form-control" value={{i.bal}}></td>
      <td><button class="btn btn-warning" (click)="sendCM(i,j)">Send</button></td>
      
    </tr>
  </table>
</div>

<div class="modal fade" id="myModalDD" role="dialog">
  <div class="modal-dialog">
  

    <div class="modal-content" style="background-color: black;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{tempType}} for {{tempTruckNo}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-3">
          Name : <input type="text" class="form-control" [(ngModel)]="name">
        </div>

        <div class="col-sm-3">
         Value : <input type="text" class="form-control" [(ngModel)]="value">
        </div>
        <div class="col-sm-3">
        <button class="btn btn-warning" (click)="storeAD()">Store</button>
       </div>
      </div>
      <div class="row">
        <table>
          <thead><tr><th>Data</th></tr></thead>
          <tbody>
            <tr *ngFor="let ii of tempBalls;let jj =index;">
             <td><button class="btn btn-danger" (click)="deleteTB(jj)">{{ii[0]}}:{{ii[1]}}</button></td>
           </tr>
          </tbody>
        </table>
      </div>
      </div>

      <div class="modal-footer">
        
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>


<div class="modal fade" id="myModalPay" role="dialog">
              <div class="modal-dialog" style="width: 50%;">
              
            
                <div class="modal-content" style="background-color: black;color: wheat;">
                  <div class="modal-header">
                    <button style="color:black;" type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Actual Payment Details for {{tempType}}</h4>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-sm-6">
                    <div class="row">
                      Date : <input style="color:wheat;background-color: black;" type="date" class="form-control" [(ngModel)]="paymentDate">
                    </div>
            
                    <div class="row">
                      Amount : <input style="color:wheat;background-color: black;" type="number" class="form-control" [(ngModel)]="paymentAmt">
                    </div>
                    <div class="row">
                      Ref : <input style="color:wheat;background-color: black;" type="text" class="form-control" [(ngModel)]="reference">
                    </div>
                       <div class="row">
                          <select id="nop" class="form-control" class="form-control" [(ngModel)]="transportid">
                            <option disabled selected>Select Name of The Transport</option>
                            <option *ngFor="let i of transports;let j = index;" value={{i.tptName}}>
                              {{i.tptName}}
                            </option>
                          </select>
                          <i class="material-icons" style="color: green;cursor: pointer;" (click)="getTransport()">redo</i>
                        </div>
                    <div class="row">
                      <table>
                        <tr *ngFor="let i of advbalarray;let j=index;">
                          <th><button style="width: 100%;" class="btn btn-danger" (click)="deladvbalArray(j)">{{i.date|date:'dd-MM-yyyy'}}->{{i.amount}}</button></th>
                          <th><button style="width: 100%;" class="btn btn-warning">{{i.reference}}</button></th>
                        </tr>
                      </table>
                    </div>
                  </div>

                  </div>
                  </div>
                  <div class="modal-footer">
                    <button style="color:black;" class="btn btn-warning" (click)="addPayment()">Store</button>
                    <button style="color:black;" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
                
              </div>
</div>

<div class="modal fade" id="myModalDD" role="dialog">
  <div class="modal-dialog">
  

    <div class="modal-content" style="background-color: black;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{tempType}} for {{tempTruckNo}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-3">
          Name : <input type="text" class="form-control" [(ngModel)]="name">
        </div>

        <div class="col-sm-3">
         Value : <input type="text" class="form-control" [(ngModel)]="value">
        </div>
        <div class="col-sm-3">
        <button class="btn btn-warning" (click)="storeAD1()">Store</button>
       </div>
      </div>
      <div class="row">
        <table>
          <thead><tr><th>Data</th></tr></thead>
          <tbody>
            <tr *ngFor="let ii of tempBalls;let jj =index;">
             <td><button class="btn btn-danger" (click)="deleteTB1(ii,jj)">{{ii.key}}:{{ii.value}}</button></td>
           </tr>
          </tbody>
        </table>
      </div>
      </div>

      <div class="modal-footer">
        
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>