<div *ngIf="!show">
  <form [formGroup]="myFormGroup" (ngSubmit)="change(myFormGroup)" submitted=true enctype="multipart/form data" action="/"
    name="myform" id="myform">

    <!--Name-->
    <div class="form-group row">

      <div class="col-xs-3">
        <input type="text" id="name" class="form-control" formControlName="name" placeholder="Name">
      </div>
      <div class="col-xs-2">
        <div [hidden]="myFormGroup.controls.name.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>
    <!--Name-->



    <div class="row">
      <div class="form-group" class="col-xs-2"></div>
      <div class="form-group" class="col-xs-1">
        <button type="submit" class="btn btn-primary" [disabled]='!myFormGroup.valid'>
          <i class="material-icons">send</i>
        </button>
      </div>
      <div class="form-group" class="col-xs-1">
        <button class="btn btn-primary" (click)="back()">
          <i class="material-icons">arrow_back</i>
        </button>
      </div>
    </div>
  </form>
</div>