<div class="col-sm-3">
<button mat-raised-button (click)='find()' class="btn-danger btn-sm btn-just-icon">Find
</button>
</div>

<div class="col-xs-2" align="center" *ngIf="!duesButton">
  <button class="btn btn-warning" (click)="getDues()">Dues</button>
</div>

<div class="well" *ngIf="showdues" style="background-color: black;border-color: black;">
<table class="table table-bordered" style="width:100%;color: wheat;" align="center">

  <thead class="table-header">
      <tr>
          <th>Srno</th>
          <th>Truckno</th>
          <th>Date</th>
          <th>Type</th>
          <th>Rent</th>
          <th>Extra Advance</th>
          <th>Total Rent</th>
          <th>Advance</th>
          <th>Cash</th>
          <th>Less</th>
          <th>Hamali</th>
          <th>Bill Amt</th>
          <th>Tentative Bal</th>
          <th>Weight</th>
          <th>Loan Cut</th>
      </tr>
  </thead>


  <tbody>
      <tr *ngFor="let i of turn;let j = index">
          <td>{{j+1}}</td>
          <td>{{i.truckno}}</td>
          <td>{{i.loadingDate|date:'dd-MM-yyyy'}}</td>
          <td>{{i.partyType}}-{{i.party}}</td>
          <td><input class="form-control" type="number" id="rent_{{j}}" (change)='calcTotalRent(j)'></td>
          <td>
            <ul *ngFor="let kk of i.extra;let jj = index;">
              <li><span id="amt_{{j}}_{{jj}}">{{kk.extraAdvanceamt}}</span></li>
              <li><span id="remark_{{j}}_{{j}}">{{kk.extraAdvancemsg}}</span></li>
            </ul>
            <button class="btn btn-danger" data-toggle="modal" data-target="#myModal" (click)="toModal(j)">Add Extra</button>
          </td>
          <td><input class="form-control" style="background-color: black;color: wheat;" type="number" value={{i.totalRent}} disabled></td>
          <td>
            <ul *ngFor="let kk of i.advanceArray;let jj = index;">
              <li><span id="advamt_{{j}}_{{jj}}">{{kk.amount}}</span></li>
              <li><span id="advdate_{{j}}_{{j}}">{{kk.date}}</span></li>
            </ul>
            <input type="checkbox" id="check_{{j}}">
            <button class="btn btn-danger" data-toggle="modal" data-target="#myModal1" (click)="toModal(j)">Add Advance</button>
          </td>

          <td><input class="form-control" type="number" id="cash_{{j}}"></td>
          <td><input class="form-control" type="number" id="less_{{j}}"></td>
          <td><input class="form-control" type="number" id="hamali_{{j}}"></td>
          <td><input class="form-control" type="number" id="comm_{{j}}"></td>

          <td><input class="form-control" type="number" id="tBal_{{j}}" value="{{i.tentativeBalance}}"></td>
          <td><input class="form-control" type="number" id="wgt_{{j}}" value={{i.weight}}></td>
          <td>
            <select [(ngModel)]="dueChangeValue" (change)="dueChange()">
              <option *ngFor="let jj of i.dues;let z = index;" value={{j}}_{{z}}_{{jj._id}}>
                {{jj.date}}-{{jj.amt}},{{jj.pending}}->{{jj.reason}}
              </option>
            </select>
            <button class="btn btn-danger" *ngIf="addDueDetailsTF" data-toggle="modal" data-target="#myModalDD">Due Details</button>
          
          </td>
      </tr>
  </tbody>
</table>
<button mat-raised-button (click)='update()' class="btn-danger btn-sm btn-just-icon">Edit
</button>

</div>

<div class="container">
    
  <div class="modal fade" id="myModal" role="dialog" style="background-color: black;">
    <div class="modal-dialog">
    
  
      <div class="modal-content" style="background-color: black;color: wheat;border-color: white;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit for {{truckno}}</h4>
        </div>
        <div class="modal-body" style="background-color: black;">
    <div class="well" style="background-color: black;">

      <div class="row form-group">
        <div class="col-sm-12">
          Extra Amount : 
          <input type="number" class="form-control" [(ngModel)]="amount">
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-12">
          Remark : 
          <input type="text" class="form-control" [(ngModel)]="remark">
        </div>
      </div>

      <div class="row form-group">
        
        
      <div class="col-sm-4">
        <button type="button" class="btn btn-warning" (click)="addToArray()">
          Submit
        </button>
      </div>
      </div>
    </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>

<div class="container">
    
  <div class="modal fade" id="myModal1" role="dialog" style="background-color: black;">
    <div class="modal-dialog">
    
  
      <div class="modal-content" style="background-color: black;color: wheat;border-color: white;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Advance for {{truckno}}</h4>
        </div>
        <div class="modal-body" style="background-color: black;">
    <div class="well" style="background-color: black;">

      <div class="row form-group">
        <div class="col-sm-12">
          Amount : 
          <input type="number" class="form-control" [(ngModel)]="advamt">
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-12">
          Date : 
          <input type="date" class="form-control" [(ngModel)]="advdate">
        </div>
      </div>

      <div class="row form-group">
        
        
      <div class="col-sm-4">
        <button type="button" class="btn btn-warning" (click)="addToArrayAdv()">
          Submit
        </button>
      </div>
      </div>
    </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>


<div class="modal fade" id="myModalDD" role="dialog">
  <div class="modal-dialog">
  

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Due Details</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          Date : <input type="date" class="form-control" [(ngModel)]="dueMDate">
        </div>

        <div class="row">
          Pending Amout : <label class="form-control">{{dueInfoPending}}</label>
        </div>

        <div class="row">
          Due to Take : <input type="number" class="form-control" [(ngModel)]="dueMAmt">
        </div>
       
      </div>

      <div class="modal-footer">
        <button class="btn btn-warning" (click)="storeDue()">Store</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>