<button mat-raised-button (click)='find()' class="btn-danger btn-sm btn-just-icon">Find
</button>

<div class="container" *ngIf="showdues">
<table class="table table-bordered" style="width:100%" align="center">

  <thead class="table-header">
      <tr>
          <th>Srno</th>
          <th>Truckno</th>
          <th>Date</th>
          <th>Type</th>
          <th>Rent</th>
          <th>Advance And Date</th>
          <th>Tentative Bal</th>
          <th>Weight</th>
      </tr>
  </thead>


  <tbody>
      <tr *ngFor="let i of turn;let j = index">
          <td>{{j+1}}</td>
          <td>{{i.truckno}}</td>
          <td>{{i.loadingDate}}</td>
          <td>{{i.partyType}}-{{i.party}}</td>
          <td><input class="form-control" type="number" id="rent_{{j}}"></td>
          <td>
            <input class="form-control" type="date" id="advDate_{{j}}">
            <input class="form-control" type="number" id="adv_{{j}}">
          </td>
          <td><input class="form-control" type="number" id="tBal_{{j}}" value="{{i.tentativeBalance}}"></td>
          <td><input class="form-control" type="number" id="wgt_{{j}}" value={{i.weight}}></td>
      </tr>
  </tbody>
</table>
<button mat-raised-button (click)='update()' class="btn-danger btn-sm btn-just-icon">Edit
</button>

</div>