<div class="well container">

  <form [formGroup]="myFormGroup" (ngSubmit)="change(myFormGroup)" submitted=true enctype="multipart/form data" action="/"
    name="myform" id="myform">


    <!-- DATE-->
    <div class="form-group row">

      <div class="col-xs-2">
        <label for="Date"> Date</label>
      </div>

      <div class="col-xs-3">
        <input type="Date" id="Date" class="form-control" formControlName="Date">
      </div>

      <div class="col-xs-1">
        <div [hidden]="myFormGroup.controls.Date.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>

    </div>
    <!--DATE -->
    <!--Truckno-->
    <div class="form-group row">

      <div class="col-xs-2">
        <label for="TruckNo"> Truckno </label>
      </div>

      <div class="col-xs-3">
        <select id="TruckNo" class="form-control " formControlName="TruckNo">
          <option>{{TruckNo}}</option>
          <option *ngFor="let i of regulartrucklist">{{i.regulartruck}}</option>
        </select>
      </div>

      <div class="col-xs-1">
        <div [hidden]="myFormGroup.controls.TruckNo.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>

    </div>
    <!--Truckno-->
    <!--NOP-->
    <div class="form-group row">

      <div class="col-xs-2">
        <label for="nofp"> Name of Party </label>
      </div>
      <div class="col-xs-3">
        <select id="nofp" class="form-control " formControlName="nofp" #nofpid>
          <option>{{nofp}}</option>
          <option *ngFor="let own of regularpartylist">{{own.name}}</option>
        </select>
      </div>

      <div class="col-xs-1">
        <div [hidden]="myFormGroup.controls.nofp.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>
    <!--NOP-->
    <!--Place-->
    <div class="form-group row">
      <div class="col-xs-2">
        <label for="Dest"> Place </label>
      </div>
      <div class="col-xs-3">

        <select id="Dest" class="form-control" formControlName="Dest">
          <option selected>{{Dest }}</option>
          <option *ngFor="let own of villagelist">{{own.village_name}}</option>
        </select>
      </div>
      <div class="col-xs-1">
        <div [hidden]="myFormGroup.controls.Dest.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>
    <!--place-->


    <!-- Amoount -->
    <div class="form-group row">
      <div class="col-xs-2">
        <label for="hamt"> Hire Amount </label>
      </div>
      <div class="col-xs-3">
        <input type="text" id="hamt" class="form-control" formControlName="hamt">
      </div>
      <div class="col-xs-1">
        <div [hidden]="myFormGroup.controls.hamt.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>

    <!-- Amount -->
    <!-- Advance Amout  -->
    <div class="form-group row">
      <div class="col-xs-2">
        <label for="advamt"> Advance Amount </label>
      </div>
      <div class="col-xs-3">
        <input type="text" id="advamt" class="form-control" formControlName="advamt" />



      </div>

    </div>
    <!-- Advance Amount -->



    <div class="row">
      <div class="form-group" class="col-xs-2"></div>
      <div class="form-group" class="col-xs-1">
        <button type="submit" class="btn btn-primary" [disabled]='!myFormGroup.valid'>
          <i class="material-icons">send</i>
        </button>
      </div>

      <div *ngIf="!submitted" class="col-xs-1">

        <button type="button" value="Reset Form" onClick="this.form.reset()" class="btn btn-danger">
          <i class="material-icons">undo</i>
        </button>
      </div>

      <div *ngIf="submitted" class="col-xs-1">
        <button type="button" value="Add More" onClick="this.form.reset()" (click)="back()" class="btn btn-success">
          <i class="material-icons">add</i>
        </button>
      </div>

    </div>

  </form>



</div>