<div class="well">

  <form [formGroup]="myFormGroup" (ngSubmit)="addTemp(myFormGroup)" submitted=true enctype="multipart/form data"
    action="/">

    <div class="col-lg-12">
      <button mat-raised-button (click)="leftRight('back')" class="btn btn-danger btn-sm btn-just-icon delete">
        Back
      </button><button mat-raised-button (click)="leftRight('ahead')"
        class="btn btn-primary btn-sm btn-just-icon delete">
        Ahead
      </button>
    </div>

    <h3>{{today}}</h3>


    <div class="form-group row">
      <div class="col-xs-3">


        <input type="text" id="truckno" class="form-control" formControlName="truckno" placeholder="TN02 AB 2045">
      </div>
      <div class="col-xs-2">
        <div [hidden]="myFormGroup.controls.truckno.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
      <button (click)="addtrucks()">Add</button>
    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        <input type="number" id="pageno" class="form-control" formControlName="pageno" placeholder="Page Number">
      </div>
      <div class="col-xs-2">
        <div [hidden]="myFormGroup.controls.pageno.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>




    <div class="form-group row">
      <div class="col-xs-3">
        <input type="number" id="amount" class="form-control" formControlName="amount">
      </div>
      <div class="col-xs-2">
        <div [hidden]="myFormGroup.controls.amount.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>


    <div class="form-group row">
      <div class="col-xs-3">
        <input type="text" id="date" class="form-control" formControlName="date" [(ngModel)]="date"
          placeholder="2020-01-20">
      </div>
      <div class="col-xs-2">
        <div [hidden]="myFormGroup.controls.date.valid" (click)="appendContact()">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="form-group" class="col-xs-2">
        <button type=" submit" class="btn btn-primary" [disabled]='!myFormGroup.valid'>
          <i class="material-icons">send</i>
        </button>
      </div>

      <div *ngIf="!submitted" class="col-xs-2">

        <button type="button" value="Reset Form" onClick="this.form.reset()" class="btn btn-danger">
          Clear
        </button>
      </div>

      <div *ngIf="submitted" class="col-xs-3">
        <button type="button" value="Add More" onClick="this.form.reset()" (click)="back()" class="btn btn-success">
          <i class="material-icons">add</i>
        </button>
      </div>


      <!-- <div class="col-xs-3">
        <input class="form-control" (change)="incomingFile($event)" type="file">
        {{filePath}}
      </div>
      <div class="col-xs-2">
        <button class="btn btn-warnign" id="dnext" (click)="upload()">Multiple</button>


      </div> -->

    </div>
  </form>





</div>