<div>
  <button class="btn btn-primary" (click)="toggle()">Menu</button>
  <div *ngIf="!togglemenu">
    <div class="row">
      <div class="col-sm-2">
        <br>
        <a class="btn btn-warning btn-block" routerLink="REGULAR_PARTY_HANDLER">Regular Party</a>
        <a class="btn btn-warning btn-block" routerLink="REGULAR_TRUCK_HANDLER">Regular Truck</a>
        <a class="btn btn-warning btn-block" routerLink="VILLAGE_HANDLER">Village</a>
      </div>
      <div class="col-sm-10">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<div class="well container" *ngIf="togglemenu">
  <form [formGroup]="myFormGroup" (ngSubmit)="store(myFormGroup)" submitted=true enctype="multipart/form data" action="/">
    <div class="row">
      <div class="col-sm-10">
        <!-- DATE-->

        <div class="form-group row">

          <div class="col-xs-2">
            <label for="Date"> Date</label>
          </div>

          <div class="col-xs-3">
            <input type="date" id="Date" class="form-control" formControlName="Date">
          </div>

          <div class="col-xs-1">
            <div [hidden]="myFormGroup.controls.Date.valid">
              <font color="red">
                <span class="glyphicon glyphicon-remove"></span>
              </font>
            </div>
          </div>

        </div>
        <!--DATE -->

        <!--NOP-->
        <div class="form-group row">

          <div class="col-xs-2">
            <label for="nop"> Name of Party </label>
          </div>

          <div class="col-xs-3">
            <select id="nop" class="form-control " formControlName="nop" #nopid>
              <option>Name of Party</option>
              <option *ngFor="let own of regularpartylist">{{own.name}}</option>
            </select>
          </div>

          <div class="col-xs-1">
            <div [hidden]="myFormGroup.controls.nop.valid">
              <font color="red">
                <span class="glyphicon glyphicon-remove"></span>
              </font>
            </div>
          </div>

        </div>
        <!--NOP-->

        <!--Truckno-->
        <div class="form-group row">

          <div class="col-xs-2">
            <label for="truckno"> Truckno </label>
          </div>

          <div class="col-xs-3">
            <select id="truckno" class="form-control " formControlName="truckno">
              <option> Truck No</option>
              <option *ngFor="let i of regulartrucklist">{{i.regulartruck}}</option>
            </select>
          </div>

          <div class="col-xs-1">
            <div [hidden]="myFormGroup.controls.truckno.valid">
              <font color="red">
                <span class="glyphicon glyphicon-remove"></span>
              </font>
            </div>
          </div>

        </div>
        <!--Truckno-->

        <!--Place-->
        <div class="form-group row">

          <div class="col-xs-2">
            <label for="place"> Place </label>
          </div>

          <div class="col-xs-3">
            <select id="palce" class="form-control" formControlName="place">
              <option selected>Select Place</option>
              <option *ngFor="let own of villagenamelist">{{own.village_name}}</option>
            </select>
          </div>

          <div class="col-xs-1">
            <div [hidden]="myFormGroup.controls.place.valid">
              <font color="red">
                <span class="glyphicon glyphicon-remove"></span>
              </font>
            </div>
          </div>

        </div>
        <!--Place-->

        <!-- Amoount -->
        <div class="form-group row">

          <div class="col-xs-2">
            <label for="hamt"> Hire Amount </label>
          </div>

          <div class="col-xs-3">
            <input type="number" id="hamt" class="form-control" formControlName="hamt">
          </div>

          <div class="col-xs-1">
            <div [hidden]="myFormGroup.controls.hamt.valid">
              <font color="red">
                <span class="glyphicon glyphicon-remove"></span>
              </font>
            </div>
          </div>

        </div>
        <!-- Amount -->

        <!-- Advance -->
        <div class="form-group row">

          <div class="col-xs-2">
            <label for="adv"> Advance </label>
          </div>

          <div class="col-xs-3">
            <input type="number" id="adv" class="form-control" formControlName="adv">
          </div>

          <div class="col-xs-1">
            <div [hidden]="myFormGroup.controls.adv.valid">
              <font color="red">
                <span class="glyphicon glyphicon-remove"></span>
              </font>
            </div>
          </div>

        </div>
        <!-- Advance -->

        <!--Payment Date-->
        <div class="form-group row">

          <div class="col-xs-2">
            <label for="recDate"> Payment Date</label>
          </div>

          <div class="col-xs-3">
            <input type="date" id="recDate" class="form-control" formControlName="recDate">
          </div>

        </div>
        <!--Payment DATE-->

        <!-- Check -->
        <div class="form-group row">

          <div class="col-xs-2">
            <label for="Check"> Check</label>
          </div>

          <div class="col-xs-1">
            <input type="checkbox" id="Check" class="form-control" formControlName="Check">
          </div>

        </div>
        <!--  Check-->

        <div class="row">

          <div class="form-group" class="col-xs-2"></div>

          <div class="form-group" class="col-xs-1">
            <button type="submit" class="btn btn-primary" [disabled]='!myFormGroup.valid'>
              <i class="material-icons">send</i>
            </button>
          </div>

          <div *ngIf="!submitted" class="col-xs-1">
            <button type="button" value="Reset Form" onClick="this.form.reset()" class="btn btn-danger">
              <i class="material-icons">undo</i>
            </button>
          </div>

          <div *ngIf="submitted" class="col-xs-1">
            <button type="button" value="Add More" onClick="this.form.reset()" (click)="back()" class="btn btn-success">
              <i class="material-icons">add</i>
            </button>
          </div>

        </div>
      </div>
      <div class="col-sm-2">
        <span class="fullCount">{{fullCount}}</span>
      </div>
    </div>
  </form>
</div>