
<div class="well" *ngIf="!details">
  <div class="row" *ngFor="let i of turnbooklist;let j = index">
      <h3>{{j+1}}.)&nbsp;Truck No : <br>{{i.trucks['truckno']}}</h3>
      <button class="btn btn-success" data-toggle="modal" data-target="#myModal" (click)="setButtonValues(i._id,j)">Action</button>
      <h4>Type : {{i.trucks['typeOfVehicle']}}</h4>
      <h3>PAN : {{i.trucks['pan']}}</h3>
      <h3>Name : {{i.trucks['oname']}}</h3>
      <h3 *ngIf="i.trucks['contact'].length>0">Contact:{{i.trucks['contact'][0]}}</h3>
      <h3>PAN-Xerox : <span [ngStyle]="{'color': i.trucks['P'] ? 'green' : 'red' }">{{i.trucks['P']}}</span></h3>
      <h3>Lic-Xerox : <span [ngStyle]="{'color': i.trucks['d'] ? 'green' : 'red' }">{{i.trucks['d']}}</span></h3>
      <h3>RC-Xerox : <span [ngStyle]="{'color': i.trucks['r'] ? 'green' : 'red' }">{{i.trucks['r']}}</span></h3>
      <h3>Weight : {{i.trucks['weight']}}</h3>
      <h3>Dimensions : {{i.trucks['hbl']}}</h3>
      <h3  *ngIf="role===1">Account</h3>
      <div *ngIf="role===1">
      <table class="table table-bordered"  *ngIf="i.trucks['accountDetails'].length>0">
        <thead align="center" style="font-weight: bold">
          <tr class=table-header>
            <th>Name</th>
            <th>Number</th>
            <th>IFSC</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{i.trucks['accountDetails'][0]['accountName']}}</td>
            <td>{{i.trucks['accountDetails'][0]['accountNumber']}}</td>
            <td>{{i.trucks['accountDetails'][0]['ifsc']}}</td>
          </tr>
        </tbody>
      </table>
    </div>
<hr style="color: black;">
  </div>
</div>

    </div>
  </div>
