
.table-header{
  background-color: orange;
  color: white;
  font-weight: bold;
}

span{
  margin-top:2rem;
}

button{
    border-radius: 100px;
}

.well{
    border-color:#f5f5f5;
    box-shadow: none;
}

.table-wrapper-scroll-y {
  display: block;
  max-height: 370px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.modelTable tr{
padding: 20px;
}

.CanaraBankAmount{
  color: #D9534F;
  font-weight: bold;
  font-size: 20px;
}

.CanaraBanktr{
  text-align: center;
}

.radio-buttons{
  width:20px;
}