<div class="well">
<div class="row">
  <button mat-raised-button type="button" (click)="find()" 
      class="btn btn-primary btn-sm btn-just-icon delete">
      Get Data
    </button>
    <!--findNew-->
</div>

<div *ngIf="saveToCheckArrayBoolean">


  <table class="table" style="width:100%" align="center" *ngIf="tableSelected">
    <thead align="center" style="font-weight: bold">
      <tr class=table-header>
        <th>Srno</th>
        <th>Loading Date</th>
        <th>Place</th>
        <th>Party</th>
        <th>Received Date</th>
        <th>LRNO</th>
      </tr>
    </thead>

    <tbody align="center">
      <tr *ngFor="let i of turnbooklist;let j = index" [ngStyle]="{'color': i.checker===0 ? 'red' : 'black' }">
        <td>{{j+1}}<br><i class="material-icons" *ngIf="i.complete" style="color: green;">
          done
          </i><i class="material-icons" *ngIf="!i.complete" style="color: red;">
            close
            </i></td>
        <td (click)="addToCheckArray(i,j,1)" >{{i.loadingDate|date:'dd-MM-yyyy'}}<br>{{i.truckno}}</td>
        <td>{{i.place}}</td>
        <td>{{i.party}}</td>
        <td>{{i.pochDate}}</td>
        <td>{{i.nrlrno}}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <button mat-raised-button type="button" (click)="saveToCheckArray()" class="btn-danger btn-sm btn-just-icon" *ngIf="nextStepButton && balanceHireArrray.length<1">
      <i class="material-icons">add</i>
    </button>
  </div>
  <div>
    <button mat-raised-button type="button" (click)="moveToFinalStep()" class="btn-success btn-sm btn-just-icon"
      *ngIf="balanceHireArrray.length>0 && uitodayDate!==''">
      <i class="material-icons">arrow_forward</i>
    </button>
  </div>
</div>

<div *ngIf="!saveToCheckArrayBoolean">

    <div *ngFor="let k of balanceHireArrray;let kk=index;">
      <table class="table">
        <thead align="center">
          <tr>
            <th>Srno</th>
            <th>Loading Date</th>
            <th>LRNO</th>
            <th>Truck No</th>
            <th>Party Name</th>
            <th>Place</th>
          </tr>
        </thead>
        <tbody align="center">
          <tr *ngFor="let ii of k;let jj=index;">
            <td>{{jj+1}}</td>
            <td>{{ii.loadingDate|date:'dd-MM-yyyy'}}</td>
            <td>{{ii.nrlrno}}</td>
            <td>{{ii.truckno}}</td>
            <td>{{ii.party}}</td>
            <td>{{ii.place}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-3">
      <input type="date" id="uitodayDate" class="form-control" [(ngModel)]="uitodayDate">
  </div>


    <button mat-raised-button type="button" (click)="finalFunction()" class="btn-success btn-sm btn-just-icon">
      <i class="material-icons">arrow_forward</i>
    </button>


</div>
<!-- Balance Hire -->
</div>