<!-- Balance Hire -->
<div *ngIf="saveToCheckArrayBoolean">
  <div class="row">

  <div class="col-sm-4">Today Date : <input type="date" class="form-control" (change)="todayDateSetter()" [(ngModel)]="uitodayDate"></div>
</div>
  <table class="table" style="width:100%" align="center" *ngIf="tableSelected">
    <thead align="center" style="font-weight: bold">
      <tr class=table-header>
        <th>Srno</th>
        <th>Date</th>
        <th>Loading Date</th>
        <th>Truck No-Type</th>
        <th>Place</th>
        <th>Party</th>
        <th>LRNO</th>
        <th>Account</th>
        <th>Select</th>
      </tr>
    </thead>

    <tbody align="center">
      <tr *ngFor="let i of turnbooklist;let j = index" [ngStyle]="{'color': i.checker===0 ? 'red' : 'black' }">
        <td>{{j+1}}<br><i class="material-icons" *ngIf="i.complete" style="color: green;">
          done
          </i><i class="material-icons" *ngIf="!i.complete" style="color: red;">
            close
            </i></td>
        <td>{{i.turnbookDate|date:'dd-MM-yyyy'}}</td>
        <td>{{i.loadingDate|date:'dd-MM-yyyy'}}<br>{{i.typeOfLoad}}</td>
        <td>{{i.ownerDetails[0].truckno}}-{{i.typeOfVehiclefirst}}<br>{{i.ownerDetails[0].hbl}}<br>
          <!-- <button class="btn btn-warning" type="button" (click)="edit(i.ownerDetails[0])"
          style="width: 30%;font-size: 11px;" *ngIf="i.ownerDetails[0].accountDetails.length===0">
          <i class="material-icons">
            account_balance
            </i>
        </button -->
        ></td>
        <td>{{i.villageDetails[0].village_name}}</td>
        <td>{{i.partyType}}<br>{{i.partyDetails[0].name}}</td>
        <td>{{i.lrno}}</td>
        <td>
          <span *ngIf="i.ownerDetails[0].accountDetails.length!==0">
          {{i.ownerDetails[0].accountDetails[0].accountName}}<br>
          {{i.ownerDetails[0].accountDetails[0].accountNumber}}<br>
          {{i.ownerDetails[0].accountDetails[0].ifsc}}
        </span>
        <span *ngIf="i.ownerDetails[0].accountDetails.length===0"></span>
        </td>
        <td *ngIf='i.checker===0'>
          <button mat-raised-button type="button" (click)="addToCheckArray(i,j,1)"
            class="btn-primary btn-sm btn-just-icon" [disabled]="balanceHireArrray.length>0">
            <i class="material-icons">add</i>
          </button><br>
          <button *ngIf='i.partyType==="NR"' mat-raised-button type="button" (click)="toPay(i,j,1)"
            class="btn-warning btn-sm btn-just-icon" [disabled]="balanceHireArrray.length>0">
            <i class="material-icons">add</i>
          </button>
        </td>
        <td *ngIf='i.checker===1'>
          <button mat-raised-button type="button" (click)="addToCheckArray(i,j,0)"
            class="btn-danger btn-sm btn-just-icon" disabled>
            <i class="material-icons">remove</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <button mat-raised-button type="button" (click)="saveToCheckArray()" class="btn-danger btn-sm btn-just-icon" *ngIf="nextStepButton && balanceHireArrray.length<1">
      <i class="material-icons">add</i>
    </button>
  </div>
  <div>
    <button mat-raised-button type="button" (click)="moveToFinalStep()" class="btn-success btn-sm btn-just-icon"
      *ngIf="balanceHireArrray.length>0 && uitodayDate!==''">
      <i class="material-icons">arrow_forward</i>
    </button>
  </div>
</div>

<div *ngIf="!saveToCheckArrayBoolean">
  <div *ngIf="finalCheckDone">
    <div *ngFor="let k of balanceHireArrray;let kk=index;">
      <table class="table">
        <thead>
          <tr>
            <th>Srno</th>
            <th>Loading Date</th>
            <th>Truck No</th>
            <th>Party Name</th>
            <th>Party Type</th>
            <th>Place</th>
            <th>Cancel</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ii of k;let jj=index;">
            <td>{{jj+1}}</td>
            <td>{{ii.loadingDate|date:'dd-MM-yyyy'}}</td>
            <td>{{ii.ownerDetails[0].truckno}}</td>
            <td>{{ii.partyDetails[0].shortName}}</td>
            <td>{{ii.partyType}}</td>
            <td>{{ii.villageDetails[0].village_name}}</td>
            <td><button mat-raised-button type="button" (click)="addToCheckArray2(kk,jj,0)"
                class="btn-danger btn-sm btn-just-icon">
                <i class="material-icons">remove</i>
              </button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <button mat-raised-button type="button" (click)="moveToFinalStepReset()"
      class="btn-warning btn-sm btn-just-icon">
      <i class="material-icons">autorenew</i>
    </button>
    <button mat-raised-button type="button" (click)="moveToFinalStep2()" class="btn-success btn-sm btn-just-icon">
      <i class="material-icons">arrow_forward</i>
    </button>
  </div>

  <div *ngIf="!finalCheckDone">
    <div *ngFor="let k of balanceHireArrray;let kk=index;">
      <table class="table">
        <thead>
          <tr>
            <th>Srno</th>
            <th>Loading Date</th>
            <th>Truck No</th>
            <th>Party Name</th>
            <th>Party Type</th>
            <th>Place</th>
            <th>Balance</th>
            <th>Pageno</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ii of k;let jj=index;">
            <td>{{jj+1}}</td>
            <td>{{ii.loadingDate|date:'dd-MM-yyyy'}}</td>
            <td>{{ii.ownerDetails[0].truckno}}</td>
            <td>{{ii.partyDetails[0].shortName}}</td>
            <td>{{ii.partyType}}</td>
            <td>{{ii.villageDetails[0].village_name}}</td>
            <td><input type="text" placeholder="Balance" id="balance_{{kk}}_{{jj}}" value={{ii.balance}}>
            </td>
            <td><input type="text" placeholder="Page no" id="pageno_{{kk}}_{{jj}}">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button mat-raised-button type="button" (click)="moveToFinalStep2()" class="btn-warning btn-sm btn-just-icon">
      <i class="material-icons">arrow_back</i>
    </button>
    <button mat-raised-button type="button" (click)="setBalPage()" class="btn-success btn-sm btn-just-icon">
      <i class="material-icons">arrow_forward</i>
    </button>
    <button mat-raised-button type="button" (click)="comments()" class="btn-danger btn-sm btn-just-icon">
      Comments
    </button>
  </div>
</div>
<!-- Balance Hire -->