<div class="well" style="width:100%;" *ngIf="!show">

  <div class="row">

    <div class="col-xs-2" align="center">
      <button class="btn btn-warning" (click)="find()">Find</button>
    </div>

    </div>
    <div class="row">
  </div>

  <div style="text-align: center">
    <h3>{{selectedDate|date:'dd-MM-yyyy'}}</h3>
    <table class="table" style="width:100%" align="center">
<button class="btn btn-danger" (click)="addtoBH()" *ngIf="nrcmid===1">Add</button><!--extra-->
      <thead class="table-header">
        <tr>
          <th>Srno</th>
          <th>Date</th>
          <th>Truckno</th>
          <th>Party</th>
          <th>Type</th>
          <th>Place</th>
          <th>Amount</th>
          <th>PgNo</th>
          <th>Account Name</th>
          <th>Account Number</th>
          <th>IFSC</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let i of balanceDate;let j = index">
          <td >{{j+1}}</td>
          <td>{{i.loadingDate}}</td>
          <td>{{i.truckno}}<input type="checkbox"></td>
          <td>{{i.party}}</td>
          <td>{{i.partyType}}</td>
          <td>{{i.place}}</td>
          <td>{{i.amount}}</td>
          <td>{{i.pgno}}</td>
          <td>{{i.account[0].accountName}}</td>
          <td>{{i.account[0].accountNumber}}</td>
          <td>{{i.account[0].ifsc}}</td>
          <td>
            <button mat-raised-button type="button" (click)="deleteBHComplete(i,j)"
              class="btn-danger btn-sm btn-just-icon">
              <i class="material-icons">delete_forever</i>
            </button>
          </td>


        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="show">
<router-outlet></router-outlet>
</div>