<!-- <div *ngIf="check">
  <input type="password" [(ngModel)]="passwordCheck" />
  <button (click)="login()">Final check login</button>
</div>
<div class="well" *ngIf="!check"> -->
<div class="well">
  <div class="header-head">
    <h1>Advance Account</h1>
    <button mat-raised-button class="btn-danger btn-sm btn-just-icon pull-right" routerLink="AdvanceAdd">
      <i class="material-icons">add</i>
    </button>
    <button mat-raised-button class="btn-success btn-sm btn-just-icon pull-right" routerLink="AdvanceDisp_HANDLER">
      <i class="material-icons">desktop_windows</i>
    </button>
  </div>
  <br />
  <div>
    <router-outlet></router-outlet>
  </div>
</div>