<div class="well">
  <table class="table" style="width:100%" align="center">

    <thead>
      <tr class="table-header">

        <th>Date</th>
        <th>Old LRNO</th>
        <th>New LRNO</th>
        <th>Update</th>
      </tr>
    </thead>


    <tbody>
      <tr *ngFor="let i of lrdetails;let j = index">

        <td>{{i.date|date:'dd-MM-yyyy'}}</td>
        <td>{{i.lrno}}</td>
        <td *ngIf="i.lrno==oldData">{{newData}}</td>
        <td *ngIf="i.lrno!=oldData">no Change found</td>
        <td *ngIf="i.lrno==oldData">
          <button mat-raised-button (click)="edit(i)" class="btn-primary btn-sm btn-just-icon">
            <i class="material-icons">edit</i>
          </button>
        </td>
        <td *ngIf="i.lrno!=oldData">No need to update</td>
      </tr>
    </tbody>
  </table>
</div>