<!-- Balance Hire -->
<div *ngIf="saveToCheckArrayBoolean">
  <div class="row">

  <!-- <div class="col-sm-4">Today Date : <input type="date" class="form-control" (change)="todayDateSetter()" [(ngModel)]="uitodayDate"></div> -->


  <div class="row">
    <div class="col-lg-1"><label for="uitodayDate" (click)="forceBack()">Date</label></div>
  <div class="col-lg-9">
    <div class="row">
      <div class="col-sm-2">
    <button mat-raised-button type="button" (click)="leftRight('back')" *ngIf="back"
      class="btn btn-danger btn-sm btn-just-icon delete">
      Back
    </button>
  </div>
    <div class="col-sm-3">
      <input type="date" id="uitodayDate" class="form-control" [(ngModel)]="uitodayDate" style="display: none;">
    <h3>{{uitodayDate|date:'dd-MM-yyyy'}}</h3>
  </div>
    <div class="col-sm-2">
    <button mat-raised-button type="button" (click)="leftRight('ahead')"
      class="btn btn-primary btn-sm btn-just-icon delete">
      Ahead
    </button>
  </div>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="form-control">
      
    </div>
  </div>
  <div class="col-sm-9"></div>
</div>
<div class="row">
  <button mat-raised-button type="button" (click)="find()" 
      class="btn btn-primary btn-sm btn-just-icon delete">
      Get Data
    </button>
    <!--findNew-->
</div>


  
</div>
  <table class="table" style="width:100%" align="center" *ngIf="tableSelected">
    <thead align="center" style="font-weight: bold">
      <tr class=table-header>
        <th>Srno</th>
        <th>Loading Date</th>
        <th>Place</th>
        <th>Party-Type</th>
        <th>LRNO</th>
        <th>Account</th>
      </tr>
    </thead>

    <tbody align="center">
      <tr *ngFor="let i of turnbooklist;let j = index" [ngStyle]="{'color': i.checker===0 ? 'red' : 'black' }">
        <td>{{j+1}}<br><i class="material-icons" *ngIf="i.complete" style="color: green;">
          done
          </i><i class="material-icons" *ngIf="!i.complete" style="color: red;">
            close
            </i></td>

        <td (click)="addToCheckArray(i,j,1)" >
          {{i.loadingDate|date:'dd-MM-yyyy'}}
          <br>
          {{i.truckno}}
          <br>
          {{i.typeOfLoad}}</td>

        <td>{{i.place}}</td>
        <td>{{i.partyType}}<br>{{i.snameparty}}</td>
        <td>{{i.lrno}}</td>
        <td>
          <span *ngIf="i.accountNo.length!==0">
          {{i.accountNo[0].accountName}}<br>
          {{i.accountNo[0].accountNumber}}<br>
          {{i.accountNo[0].ifsc}}
        </span>
        <span *ngIf="i.accountNo.length===0"></span>
        </td>

      </tr>
    </tbody>
  </table>
  <div>
    <button mat-raised-button type="button" (click)="saveToCheckArray()" class="btn-danger btn-sm btn-just-icon" *ngIf="nextStepButton && balanceHireArrray.length<1">
      <i class="material-icons">add</i>
    </button>
  </div>
  <div>
    <button mat-raised-button type="button" (click)="moveToFinalStep()" class="btn-success btn-sm btn-just-icon"
      *ngIf="balanceHireArrray.length>0 && uitodayDate!==''">
      <i class="material-icons">arrow_forward</i>
    </button>
  </div>
</div>

<div *ngIf="!saveToCheckArrayBoolean">
  <div *ngIf="finalCheckDone">
    <div *ngFor="let k of balanceHireArrray;let kk=index;">
      <table class="table">
        <thead align="center">
          <tr>
            <th>Srno</th>
            <th>Loading Date</th>
            <th>LRNO</th>
            <th>Truck No</th>
            <th>Party Name</th>
            <th>Party Type</th>
            <th>Place</th>
          </tr>
        </thead>
        <tbody align="center">
          <tr *ngFor="let ii of k;let jj=index;">
            <td>{{jj+1}}</td>
            <td>{{ii.loadingDate|date:'dd-MM-yyyy'}}</td>
            <td>{{ii.lrno}}</td>
            <td>{{ii.truckno}}</td>
            <td>{{ii.snameparty}}</td>
            <td>{{ii.partyType}}</td>
            <td>{{ii.place}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <button mat-raised-button type="button" (click)="moveToFinalStep2()" class="btn-success btn-sm btn-just-icon">
      <i class="material-icons">arrow_forward</i>
    </button>
  </div>

  <div *ngIf="!finalCheckDone">
    <div *ngFor="let k of balanceHireArrray;let kk=index;">
      <table class="table">
        <thead>
          <tr>
            <th>Srno</th>
            <th>Loading Date</th>
            <th>Truck No</th>
            <th>Party Name</th>
            <th>Party Type</th>
            <th>Place</th>
            <th>Balance</th>
            <th>Pageno</th>
            <th>LRNO</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ii of k;let jj=index;">
            <td>{{jj+1}}</td>
            <td>{{ii.loadingDate|date:'dd-MM-yyyy'}}</td>
            <td>{{ii.truckno}}</td>
            <td>{{ii.snameparty}}</td>
            <td>{{ii.partyType}}</td>
            <td>{{ii.place}}</td>
            <td><input type="text" placeholder="Balance" id="balance_{{kk}}_{{jj}}" value={{ii.tentativeBalance}}>
            </td>
            <td><input type="text" placeholder="Page no" id="pageno_{{kk}}_{{jj}}">
            </td>
            <td><input type="text" placeholder="LRNO" id="lrno_{{kk}}_{{jj}}" value={{ii.lrno}}>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button mat-raised-button type="button" (click)="setBalPage()" class="btn-success btn-sm btn-just-icon" *ngIf="firstTime">
      <i class="material-icons">arrow_forward</i>
    </button>
  </div>
</div>
<!-- Balance Hire -->