<div class="well">
  <div class="header-head">
    <h1>Automated Message</h1>
  </div>

  <div class="well">
  
    



    <form [formGroup]="myFormGroup" (ngSubmit)="store()" submitted=true
    enctype="multipart/form data" action="/">


    <!--Type  -->
<div class="row">
    <div class="col-xs-6">
      TruckNo : 
      <select class="form-control" id="partyType" formControlName="truckNo" [(ngModel)]="trucknoid"
        (change)="findtruckdetails()" id="truckNoone">
        <option *ngFor="let i of trucklist;let j = index;" value={{j}}>{{i.truckno}}</option>
      </select>
    </div>
    <div class="col-xs-6"><label>{{mtruckno}}</label></div>
  </div>

    <!--  -->
    <div class="row">
      <div class="col-xs-6">
      Party :
    <select id="partyName" class="form-control " formControlName="partyName" (change)="setPartyName()">
      <option selected  value=''>None</option>
      <option *ngFor="let i of partylist;let j = index;" value={{j}}>{{i.name}}</option>
    </select>
      </div>
      <div class="col-xs-6"><label>{{mparty}}</label></div>
      </div>
  <!-- Party -->

     <!-- Place -->
     <div class="row">
      <div class="col-xs-6">
      Place : 
      <select id="place" class="form-control" formControlName="place" (change)="setPlaceName()">
        <option *ngFor="let own of villagelist;let j = index;" value="{{j}}">{{own.village_name}}</option>
      </select>
      </div>
      <div class="col-xs-6"><label>{{mplace}}</label></div>
      </div>
  <!-- Place -->

  <!-- Contact -->
  <div class="row">
    <div class="col-xs-6">
    Contact : 
    <input type="number" id="contact" class="form-control" formControlName="contact" [(ngModel)]="mcontact">
    </div>
    <div class="col-xs-6"><label>{{mcontact}}</label></div>
    </div>
<!-- Contact -->

<div class="row">
  <div class="form-group" class="col-xs-12">
    <button type="submit" class="btn btn-primary" [disabled]='!myFormGroup.valid'>
      <i class="material-icons">send</i>
    </button>
  </div>

</div>

   

 
  </form>

</div>






  </div>
