<div class="container-fluid ">


  <div>
    <router-outlet></router-outlet>
  </div>
  <div *ngIf="!show && tabledata">
    <table class="table" style="width:100%" align="center">
      <div *ngIf="showdate">
        {{name.value}}

      </div>
      <thead>
        <tr class="table-header">

          <th>Date</th>
          <th>Truck No</th>
          <th>Payment</th>
          <th>Diesel</th>
          <th>Cash</th>
          <th>NEFT</th>
          <th>Delete</th>
          <th>Update</th>
        </tr>
      </thead>


      <tbody>
        <tr *ngFor="let i of cashexpenses;let j = index">

          <td>{{i.Date|date:'dd-MM-yyyy'}}</td>
          <td>{{i.TruckNo}}</td>
          <td>{{i.Diesel+i.Cash+i.NEFT}}</td>
          <td>{{i.Diesel}}</td>
          <td>{{i.Cash}}</td>
          <td>{{i.NEFT}}</td>



          <td>
            <button mat-raised-button (click)="deleteCashExpenses(i._id)" class="btn btn-danger btn-sm btn-just-icon delete">
              <i class="material-icons">delete_forever</i>
            </button>
          </td>

          <td>
            <button mat-raised-button type="button" (click)="showDatabyid(i)" class="btn-primary btn-sm btn-just-icon edit">
              <i class="material-icons">edit</i>
            </button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="show">
    <router-outlet></router-outlet>
  </div>