<div class="well">

  <form [formGroup]="myFormGroup" (ngSubmit)="storeOwnerDetailsData(myFormGroup)" submitted=true
    enctype="multipart/form data" action="/">
<h4>Personal Details </h4>
    <div class="form-group row">
      <div class="col-xs-3">
        Truck No - <input type="text" id="truckno" class="form-control" formControlName="truckno" placeholder="TN02 AB 2045">
      </div>
      <div class="col-xs-1" [hidden]="myFormGroup.controls.truckno.valid">
        <div>
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
      <div class="col-xs-1">
        Type - <select [(ngModel)]='typeOfVehicle' formControlName="typeOfVehicle" class="form-control">
          <option>Open</option>
          <option>Container</option>
          <option>Taurus</option>
        </select>
      </div>
      <div class="col-xs-3">
        Name - <input type="text" id="oname" class="form-control" formControlName="oname" placeholder="Name">
      </div>
      <div class="col-xs-3">
        PAN - <input type="text" id="pan" class="form-control" formControlName="pan" placeholder="ASDFG1234A"
          pattern="^[A-Z]{5}[0-9]{4}[A-Z]{1}">
      </div>
    </div>

    <div class="form-group row">
         <div class="col-xs-2">
        RC Expiry - <input type="date" id="regCardExpiry" class="form-control" formControlName="regCardExpiry">
      </div>
      <div class="col-xs-2">
        Lic Expiry - <input type="date" id="drivingLicExpiry" class="form-control" formControlName="drivingLicExpiry">
      </div>
      <div class="col-xs-2">
        Policy Expiry - <input type="date" id="policyExpiry" class="form-control" formControlName="policyExpiry">
      </div>
      <div class="col-xs-2">
        Fitness Expiry - <input type="date" id="fitnessExpiry" class="form-control" formControlName="fitnessExpiry">
      </div>
      <div class="col-xs-2">
        Height Breadth Length - <input type="text" id="hbl" class="form-control" formControlName="hbl" placeholder="20*8*8">
      </div>
      <div class="col-xs-2">
        (Max) Weight in Ton - <input type="number" id="weight" class="form-control" formControlName="weight" placeholder="Name">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-2">
        DoB - <input type="date" id="dob" class="form-control" formControlName="dob">
      </div>
      <div class="col-xs-3">
        Aadhar No - <input type="number" id="aadhar" class="form-control" formControlName="aadhar">
      </div>
    </div>


    <!--  -->
    <div class="form-group row">
      <div class="col-xs-3">
        Contact - <input type="text" id="contact" class="form-control" formControlName="contact" placeholder="9876543211"
          [(ngModel)]="contactA">
      </div>
      <div class="col-xs-2">
        <button type="button" class="btn btn-primary" (click)="addMore()">
          <i class="material-icons">add</i>
        </button>
      </div>
      <div class="col-xs-3">
        <table>
          <tr>
            <th>Contact</th>
            <th>Delete</th>
          </tr>
          <tr *ngFor="let i of contactArray;let j = index;">
            <td>{{i}}</td>
            <td><button (click)="deleteArray(j,1)">Delete</button></td>
          </tr>

        </table>
      </div>
    </div>
    <!--  -->

    <!-- Account details -->
    <div class="well">
      <h4>Account Details</h4>
    <div class="form-group row" *ngIf='role==1||role==2'>
      <div class="col-xs-3">
        <input type="text" id="accountName" class="form-control" formControlName="accountName" placeholder="ABC">
      </div>

      <div class="col-xs-3">
        <input type="number" id="accountNumber" class="form-control" formControlName="accountNumber"
          placeholder="325689741">
      </div>

      <div class="col-xs-3">
        <input type="text" id="bankName" class="form-control" formControlName="bankName" placeholder="Bank Name">
      </div>

      <div class="col-xs-3">
        <input type="text" id="ifsc" class="form-control" formControlName="ifsc" placeholder="IFSC">
      </div>

    </div>
    <div class="row">
      <div class="col-sm-1">
        <button type="button" class="btn btn-danger" (click)="addaccount()" style="width: 100%;">Add</button>
      </div>


      <div class="col-sm-6">
        <table class="table table-bordered">
          <tr>
            <th>Srno</th>
            <th>Name</th>
            <th>Number</th>
            <th>Bank</th>
            <th>IFSC</th>
            <th>Delete</th>
          </tr>
          <tr *ngFor="let i of accountArray;let j = index;">
            <td>{{j+1}}</td>
            <td>{{i.accountName}}</td>
            <td>{{i.accountNumber}}</td>
            <td>{{i.bankName}}</td>
            <td>{{i.ifsc}}</td>
            <td><button (click)="deleteArray(j,2)">Delete</button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
    <!-- Account Details -->


    <div class="form-group row">

      <div class="col-xs-1">
        <label for="name"> Reference</label>
      </div>

      <div class="col-xs-2">
        <select id="name" class="form-control " formControlName="reference" [(ngModel)]="tdid" (change)="findtd()">
          <option disabled selected>Select Truck</option>
          <option *ngFor="let i of ownerdetailslist;let j=index;" value={{i._id+j}}>{{i.truckno}}</option>
        </select>
      </div>

    </div>
 

 
    <div class="form-group row" *ngIf='role==1||role==2'>

      <div class="col-xs-1">
        <label for="preferences">Preference</label>
      </div>

      <div class="col-xs-3">
        <select id="preferences" class="form-control " formControlName="preferences" [(ngModel)]="vid">
          <option disabled selected>Select Village</option>
          <option *ngFor="let i of villagedetailslist;let j=index;" value={{i.village_name}}>{{i.village_name}}</option>
        </select>
      </div>
      <div class="col-xs-2">
        <button type="button" class="btn btn-primary" (click)="addMoreV()">
          <i class="material-icons">add</i>
        </button>
      </div>
      <div class="col-xs-3">
        <table>
          <tr>
            <th>Preferences</th>
            <th>Delete</th>
          </tr>
          <tr *ngFor="let i of villageArray;">
            <td>{{i}}</td>
            <td><button (click)="deleteArray(j,3)">Delete</button></td>
          </tr>

        </table>
      </div>

    </div>
    <!-- Village -->

    <div class="row">

      <div class="form-group" class="col-xs-2">
        <button type=" submit" class="btn btn-primary" [disabled]='!myFormGroup.valid'>
          <i class="material-icons">send</i>
        </button>
      </div>
    </div>
  </form>





</div>