<nav class="navbar navbar-inverse">

  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" routerLink="NRCM_HOME">NRCM</a>
    </div>

    <ul class="nav navbar-nav">

      <li class="dropdown">
        <a routerLink="Information">Information
          <span class="caret"></span>
        </a>
      </li>

      <li class="dropdown" *ngIf="AUTH">
        <a class="dropdown-toggle" data-toggle="dropdown">Company
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a routerLink="Finolex_Handler">Finolex</a>
          </li>
        </ul>
      </li>

      <li class="dropdown" *ngIf="AUTH">
        <a class="dropdown-toggle" data-toggle="dropdown">Book
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a routerLink="Booking_Handler">Daily Bookings</a>
          </li>
          <li>
            <a routerLink="LRNumber_HANDLER">LR Number</a>
          </li>
          <li>
            <a routerLink="BCE_HANDLER">BookingCashExpenses</a>
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Daily Truck Details
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a routerLink="TURN_BOOK_HANDLER">Turn Book</a>
          </li>
          <li>
            <a routerLink="DAILY_LOADING_HANDLER">Daily Loading</a>
          </li>
        </ul>




      </li>

      <li class="dropdown" *ngIf="AUTH">
        <a class="dropdown-toggle" data-toggle="dropdown">DailyData
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a routerLink="DailyData_HANDLER">Daily Data</a>
          </li>


        </ul>
      </li>

      <li class="dropdown" *ngIf="AUTH">
        <a class="dropdown-toggle" data-toggle="dropdown" routerLink="TPTHire_HANDLER">Tpt Hire
          <span class="caret"></span>
        </a>

      </li>


      <li class="dropdown" *ngIf="AUTH">
        <a class="dropdown-toggle" data-toggle="dropdown">Accounts
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a routerLink="AdvanceAccount">Advance Account</a>
          </li>
          <li>
            <a routerLink="PochAccount">Poch Account</a>
          </li>




        </ul>
      </li>




      <li class="dropdown" *ngIf="AUTH">
        <a class="dropdown-toggle" data-toggle="dropdown">Canara Bank
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a routerLink="CanaraBankNeft_HANDLER">NEFT</a>
            <a routerLink="CanaraBankPayment_HANDLER">Payment</a>
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">CashExpenses
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a routerLink="Truck_CASH_EXPENSES_HANDLER">Cash Expenses</a>
          </li>
        </ul>
      </li>

      <li class="dropdown" *ngIf="AUTH">

        <a class="dropdown-toggle" data-toggle="dropdown">Details
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a routerLink="Email_Handler">Email</a>
            <a routerLink="PDF">PDF</a>
            <a routerLink="C2W">C2W</a>
          </li>
        </ul>


      </li>

      <li>
        <div class="NotificationBell" #Bell>
          <i class="material-icons" routerLink="NotificationLL">notifications</i>
        </div>
        <!-- <div style="color: red" *ngIf="notRecievedCount!=0">red
          <i class="material-icons" routerLink="NotificationLL">notifications</i>
        </div>
        <div style="color: white" *ngIf="notRecievedCount==0">white
          <i class="material-icons" routerLink="NotificationLL">notifications</i>
        </div> -->
      </li>


      <li class="dropdown">
        <a (click)="logout()">Logout
          <span class="caret"></span>
        </a>
      </li>

      <li class="time">
        {{day}}-{{month+1 }}-{{year}}
      </li>
    </ul>

  </div>

</nav>

<div>

  <router-outlet></router-outlet>
</div>