button{
    border-radius: 100px;
}

.time{
    margin-top:15px;
    color:white;
    text-align: right;
}

.NotificationBell{
    margin-top: 10px;
}

.dropdown-menu{
    background-color: black;
    color: wheat;
}