<nav class="navbar navbar-inverse">

  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" routerLink="NRCM_HOME">NRCM</a>
    </div>

    <ul class="nav navbar-nav">

      <li class="dropdown">
        <!-- <a routerLink="Information"> -->
          <a class="dropdown-toggle" data-toggle="dropdown">Information
          <span class="caret"></span>
        </a>


        <ul class="dropdown-menu">
          <li>
            <a routerLink="GST_HANDLER">GST</a>
          </li>
          <li>
            <a routerLink="OWNER_HANDLER">Truck</a>
          </li>
          <li>
            <a routerLink="TRANSPORT_HANDLER">Transport</a>
          </li>
          <li>
            <a routerLink="DUES_PAGE">Dues</a>
          </li>
          <li>
            <a routerLink="DUES_PAGE_ADVANCE">Dues Advance</a>
          </li>
          <li>
            <a routerLink="GIFTS">Gifts</a>
          </li>
          <li>
            <a routerLink="JG">JG</a>
          </li>
          <li>
            <a routerLink="VILLAGE_HANDLER">Village</a>
          </li>
          <li>
            <a routerLink="REASON_HANDLER">LR Reason</a>
          </li>
          <li>
            <a routerLink="IMP_GST_HANDLER">Party GST</a>
          </li>
          <li>
            <a routerLink="HIDDEN_OWNER_HANDLER">Hidden Trucks</a>
          </li>
          <li>
            <a routerLink="ACCOUNT_DETAILS_DISPLAY">SMART UPDATE</a>
          </li>
          <li>
            <a routerLink="PENDING_PAYMENT_DISPLAY">Pending Payment Display</a>
          </li>
        </ul>

      </li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Daily Truck Details
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a routerLink="TURN_BOOK_HANDLER">Turn Book</a>
          </li>
          <li>
            <a routerLink="BALANCE_HIRE_HANDLER">Balance Hire</a>
          </li>

          <li>
            <a routerLink="PARTY_PAYMENT_HANDLER">Payment</a>
          </li>
          <li>
            <a routerLink="TURN_BOOK_LOCATION_DISP">Turnbook Location</a>
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a routerLink="TICKET_HANDLER">Ticket</a>
      </li>
      <li class="dropdown">
        <a routerLink="LINK_TRUCK">Link Truck</a>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Reports
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a routerLink="CHART">Charts</a>
          </li>

          <li>
            <a (click)="receivedReport()">Received Report</a>
          </li>

          <li>
            <a (click)="expiredRCDL()">RC DL Expiry</a>
          </li>

          <li>
            <a (click)="tasks()">Task Page</a>
          </li>
          <li>
            <a (click)="latestLoadedTrucks()">Last Loaded Trucks</a>
          </li>
          <li>
            <a (click)="latestLoadedTrucksNRCMandJG()">Last Loaded NRCM & JG</a>
          </li>
          <li>
            <a (click)="latestLoadedTrucksJG()">Last Loaded JG</a>
          </li>
          
          <li>
            <a (click)="Prdfp()">Missing Prdfp</a>
          </li>

          <li>
            <a routerLink="OTHER_REPORT">Other Report</a>
          </li>
          <li>
            <a routerLink="MAIL_DISPLAY">Mail Display</a>
          </li>
          <li>
            <a routerLink="MISSING_LR">Missing LRNO</a>
          </li>
          <!-- <li>
            <form [formGroup]="myFormGroup">
            <input type="checkbox" (change)="amount(myFormGroup)" id="amountShow" class="form-control" formControlName="amountShow">
            </form>
          </li> -->
        </ul>
      </li>
      <li class="dropdown">

        <a class="dropdown-toggle" data-toggle="dropdown">Details
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a routerLink="PDF">PDF</a>
          </li>
        </ul>


      </li>

      <li class="dropdown">

        <a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-bell"></span>
          <span [ngStyle]="{'color': notiC>0 ? 'red' : 'white' }">{{notiC}}</span>
        </a>
        <ul class="dropdown-menu">
          <li *ngFor="let i of noti;">
            <a>{{i.forUsers}}-{{i.taskName}}-{{i.apprxExpiryDate|date:'dd-MM-yyyy'}}</a>
          </li>
        </ul>


      </li>


      <li class="dropdown">
        <a (click)="logout()">Logout
          <span class="caret"></span>
        </a>
      </li>

      <li class="time">
        {{todayDate|date:'dd-MM-yyyy'}}
      </li>
      <li style="    color: white;
      font-size: 20px;
      margin-top: 10px;
      margin-left: 15px;">Welcome {{nameOfUser}}</li>
    </ul>

  </div>

</nav>

<div>
  <router-outlet></router-outlet>
</div>