<nav class="navbar navbar-inverse">

  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" routerLink="NRCM_HOME">NRCM</a>
    </div>

    <ul class="nav navbar-nav">

      <li class="dropdown">
        <a routerLink="Information">Information
          <span class="caret"></span>
        </a>
      </li>

      <li class="dropdown" *ngIf="role==1||role==2">
        <a class="dropdown-toggle" data-toggle="dropdown">Company
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a routerLink="Finolex_Handler">Finolex</a>
          </li>
        </ul>
      </li>

      <li class="dropdown" *ngIf="role==1||role==2||role==3">
        <a class="dropdown-toggle" data-toggle="dropdown">Book
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a routerLink="Booking_Handler">Daily Bookings</a>
          </li>
          <li>
            <a routerLink="LRNumber_HANDLER" *ngIf="role==1||role==2">LR Number</a>
          </li>
          <li>
            <a routerLink="BCE_HANDLER" *ngIf="role==1||role==2">BookingCashExpenses</a>
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Daily Truck Details
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li *ngIf="role==1||role==2">
            <a routerLink="TURN_BOOK_HANDLER">Turn Book</a>
          </li>
          <!-- <li *ngIf="role==1||role==2">
            <a routerLink="DAILY_LOADING_HANDLER">Daily Loading</a>
          </li> -->
          <li>
            <a routerLink="BALANCE_HIRE_HANDLER">Balance Hire</a>
          </li>
        </ul>




      </li>

      <li class="dropdown" *ngIf="role==1||role==2">
        <a class="dropdown-toggle" data-toggle="dropdown">DailyData
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a routerLink="DailyData_HANDLER">Daily Data</a>
          </li>


        </ul>
      </li>

      <li class="dropdown" *ngIf="role==1||role==2">
        <a class="dropdown-toggle" data-toggle="dropdown" routerLink="TPTHire_HANDLER">Tpt Hire
          <span class="caret"></span>
        </a>

      </li>


      <li class="dropdown" *ngIf="role==1||role==2">
        <a class="dropdown-toggle" data-toggle="dropdown">Accounts
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a routerLink="BOOKING_OTHER_HANDLER">Booking Other</a>
          </li>
          <li>
            <a routerLink="AdvanceAccount">Advance Account</a>
          </li>
          <li>
            <a routerLink="PochAccount">Poch Account</a>
          </li>




        </ul>
      </li>




      <li class="dropdown" *ngIf="role==1||role==2">
        <a class="dropdown-toggle" data-toggle="dropdown">Canara Bank
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a routerLink="CanaraBankNeft_HANDLER">NEFT</a>
            <a routerLink="CanaraBankPayment_HANDLER">Payment</a>
          </li>
        </ul>
      </li>

      <li class="dropdown" *ngIf="role==1||role==2">
        <a class="dropdown-toggle" data-toggle="dropdown">CashExpenses
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a routerLink="Truck_CASH_EXPENSES_HANDLER">Cash Expenses</a>
          </li>
        </ul>
      </li>

      <li class="dropdown" *ngIf="role==1||role==2">

        <a class="dropdown-toggle" data-toggle="dropdown">Details
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a routerLink="Email_Handler">Email</a>
            <a routerLink="PDF">PDF</a>
            <a routerLink="C2W">C2W</a>
          </li>
        </ul>


      </li>


      <li class="dropdown">
        <a (click)="logout()">Logout
          <span class="caret"></span>
        </a>
      </li>

      <li class="time">
        {{day}}-{{month}}-{{year}}
      </li>
      <li style="    color: white;
      font-size: 20px;
      margin-top: 10px;
      margin-left: 15px;">Welcome {{nameOfUser}}</li>
    </ul>

  </div>

</nav>

<div>

  <router-outlet></router-outlet>
</div>