<div class="row">
  <div class="col-xs-1 col-sm-1 col-lg-1 col-md-1">
    <button class="btn btn-success btn-block" routerLink="TodayDisplay">Today</button>
    <button class="btn btn-success btn-block" routerLink="DefaultDisplay">Display</button>
    <button class="btn btn-success btn-block" routerLink="PartyDisplay">Party</button>
    <button class="btn btn-success btn-block" routerLink="DateDisplay">Date</button>
    <button class="btn btn-success btn-block" routerLink="TruckDisplay">Truck</button>
    <button class="btn btn-success btn-block" routerLink="CountByDateDisplay">Count</button>
    <button class="btn btn-success btn-block" routerLink="TruckWiseParty">TruckParty</button>
  </div>
  <div class="col-sm-11">
    <router-outlet></router-outlet>
  </div>
</div>