<div class="row">
  <div class="col-sm-1">

    <button class="btn btn-success btn-block" routerLink="TPTHireDisplay_Normal">Display</button>
    <button class="btn btn-success btn-block" routerLink="TPTHireDisplay_Party">Party</button>
    <button class="btn btn-success btn-block" routerLink="TPTHireDisplay_Truck" disabled>Truck</button>
    <button class="btn btn-success btn-block" routerLink="TPTHireDisplay_Date" disabled>Date</button>
    <button class="btn btn-success btn-block" routerLink="TPTHireDisplay_Count" disabled>Count</button>

  </div>

  <div class="col-sm-11">
    <router-outlet></router-outlet>
  </div>

</div>