<div class="container">

  <nav class="navbar navbar-inverse" style="position: fixed;width:100%;z-index:1;"> 

    <div class="container row" style="width: 100%;">
      <div class="col-sm-6">
      <div class="navbar-header">
        <a class="navbar-brand fonthead" (click)="office()">
          Nitin Roadways And Cargo Movers
        </a>
      </div>
    </div>
    </div>
  </nav>
    <!-- -1 -->
    <div class="row" *ngIf="div2==-1">
      <h3>SCAN VALID QR CODE TO LOGIN!</h3>
    </div>
    <!-- -1 -->

<!-- 1 -->
  <div class="row " *ngIf="div2==1">
    <div class="col-xs-12" id="main" style="padding-bottom: 10vh;padding-top:5vh;display: flex;justify-content: center;">
      <form [formGroup]="myFormGroup" (ngSubmit)="login(myFormGroup,!loginButton)" submitted=true
        enctype="multipart/form data" action="/" name="myform" id="myform" class="form-horizontal">

        <div class="form-group" style="padding-top: 10vh;">
          <div
            class="col-sm-6 col-xs-6">
            <input type="text" style="color:wheat;width: 20vh;background-color: black;" class="form-control input"
              formControlName="lrno" disabled />
          </div>
        </div>

        <div class="form-group">
          <div
            class="col-sm-6 col-xs-6">
            <input type="text" style="color:wheat;width: 20vh;background-color: black;" class="form-control input" placeholder="Username"
              formControlName="username" required />
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6 col-xs-6">
            <input type="password" style="color:wheat;width: 20vh;background-color: black;" class="form-control input" placeholder="Password"
              formControlName="password" required />
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-danger col-sm-12 col-xs-12">
            <i class="material-icons">lock_open</i>
          </button>   
        </div>

        <div class="form-group">
          <button type="button" (click)="register()" class="btn btn-warning col-sm-12 col-xs-12">
            New? Click to Register.
          </button>
        </div>
        
      </form>
    </div>
  </div>
<!-- 1 -->


<!-- after login -->
 <div class="row" *ngIf="whichUser=='transport'" style="padding-top: 10vh;padding-left:10vh;">
    <h1>{{data.truckno}}</h1>
    <h3>{{data.place}}</h3>
    <br>
    <h3>Eway Bill valid till {{ewaybill|date:'dd-MM-yyyy'}}</h3>
    <br>
    <h4>POD Payment details</h4>
    <br>
    <h4>Payment Date : {{data.actualPaymentDate}}</h4>
    <h4>Payment Amount : {{data.actualPaymentAmount}}</h4>

    <!-- <h6>Click on the link to download account tally.</h6> -->

  </div>


   <div class="row" *ngIf="whichUser=='driver'" style="padding-top: 10vh;padding-left:10vh;">
    <h1>{{data.truckno}}</h1>
    <h3>{{data.place}}</h3>
    <br>
    <h3>Eway Bill valid till {{ewaybill|date:'dd-MM-yyyy'}}</h3>
    <br>
    <h4>POD Payment details</h4>
    <br>
    <h4>Payment Date : {{data.actualPaymentDate}}</h4>
    <h4>Payment Amount : {{data.actualPaymentAmount}}</h4>

    <!-- <h6>Click on the link to download account tally.</h6> -->

  </div>

     <div class="row" *ngIf="whichUser=='party'" style="padding-top: 10vh;padding-left:10vh;">
    <h1>{{data.truckno}}</h1>
    <h3>{{data.place}}</h3>
    <h3>{{data.weight}}-Tons {{data.typeOfLoad}}</h3>
    <br>
    <h3>Eway Bill valid till {{ewaybill|date:'dd-MM-yyyy'}}</h3>
    

  </div>

<!-- after login -->



<!-- register -->
<div class="row " *ngIf="div2==2">
  <h4 style="margin-top: 10vh;align-items: center;text-align: center;">Registration only for Drivers!</h4 >
    <div class="col-xs-12" id="main" style="display: flex;justify-content: center;">
      
      <form [formGroup]="myFormGroup1" (ngSubmit)="registerFinal(myFormGroup1,!loginButton)" submitted=true
        enctype="multipart/form data" action="/" name="myform" id="myform" class="form-horizontal">


        <div class="form-group">
          <div
            class="col-sm-6 col-xs-6">
            <input type="text" style="color:wheat;width: 20vh;background-color: black;" class="form-control input" placeholder="TN12TN1234"
              formControlName="truckNo" required />
          </div>
        </div>

        <div class="form-group">
          <div
            class="col-sm-6 col-xs-6">
            <input type="text" style="color:wheat;width: 20vh;background-color: black;" class="form-control input" placeholder="Username"
              formControlName="username" required />
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6 col-xs-6">
            <input type="password" style="color:wheat;width: 20vh;background-color: black;" class="form-control input" placeholder="Password"
              formControlName="password" required />
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6 col-xs-6">
            <input type="text" style="color:wheat;width: 20vh;background-color: black;" class="form-control input" placeholder="Confirm Password"
              formControlName="passwordC" required />
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6 col-xs-6">
            <input type="number" style="color:wheat;width: 20vh;background-color: black;" class="form-control input" placeholder="8529275757"
              formControlName="contact" required />
          </div>
        </div>

        <div class="form-group">
          <button type="button" (click)="back()" class="btn btn-success col-sm-12 col-xs-12">
            <i class="material-icons">arrow_back</i>
          </button>
        </div>

        <div class="form-group">
          <button type="button" (click)="registerFinal()" class="btn btn-warning col-sm-12 col-xs-12">
            <i class="material-icons">vpn_key</i>
          </button>
        </div>
        
      </form>
    </div>
  </div>

<!-- register -->




<!-- POD ENTRY -->
<div class="row " *ngIf="div2==3">
  
    <div class="col-xs-12" id="main" style="padding-bottom: 10vh;padding-top:10vh;display: flex;justify-content: center;">
      
     

        <div class="form-group">
          <button type="button" (click)="setPOD('')" class="btn btn-success col-sm-12 col-xs-12">
           Okay
          </button>
        </div>

        <div class="form-group">
          <button type="button" (click)="setPOD('damage')" class="btn btn-danger col-sm-12 col-xs-12">
            Damage
          </button>
        </div>

         <div class="form-group">
          <button type="button" (click)="setPOD('shortage')" class="btn btn-warning col-sm-12 col-xs-12">
            Shortage
          </button>
        </div>
    </div>
  </div>

<!-- POD ENTRY -->




</div>


<div class="footer">
  <p>NITIN ROADWAYS AND CARGO MOVERS<br>
    Since 2004<br>
    
    Safe | Fast | Reliable | Punctual | 24*7 Avaliable</p>
</div>