button{
    border-radius: 100px;
}

.time{
    margin-top:15px;
    color:white;
    text-align: right;
}

.NotificationBell{
    margin-top: 10px;
}

.dropdown-menu{
    background-color: black;
    color: wheat;
}

.well,.container{
    background-color: black;
    color: wheat;
}

button{
    color: black;
}
input{
background-color: black;
color: wheat;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: wheat;
    text-align: center;
 }



  .bbtn {
    margin-bottom: 4vh;
    margin-top: 4vh;
  }