<div class="row">
    <div class="col-sm-4">
        <button class="btn btn-info" (click)="getWhichType(true)">All Truck</button>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-info" (click)="getWhichType(false)">Single</button>
    </div>
</div>

<div *ngIf="whichType">

<div class="well" *ngIf="!show">

    <input type="text" [(ngModel)]="data" (input)="newData()" *ngIf="tableDate">
    <button class="btn btn-danger" (click)="refresh()" *ngIf="tableDate"><i class="material-icons">undo</i></button>
    <table class="table" style="width:100%" align="center" *ngIf="tableDate">

        <thead>
            <tr class="table-header">
                <th>Srno</th>
                <th>TruckNumber-Type-pdr</th>
                <th>Owner Name<br>Pan<br>Aadhar<br>DOB</th>
                <th>License</th>
                <th>Contact</th>
                <th *ngIf="role==1||role==2">Account Details</th>
                <th>Prefer</th>
                <th *ngIf="role==1||role==2">Delete<br>Update</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of ownerdetailslist;let j = index">
                <td>{{j+1}}<br>{{i.srno}}</td>
                <td>{{i.truckno}}-{{i.typeOfVehiclefirst}}<br>
                    <i class="material-icons" *ngIf="i.P" style="color: green;">done</i>
                    <i class="material-icons" *ngIf="!i.P" style="color: red;">close</i>

                    <i class="material-icons" *ngIf="i.d" style="color: green;">done</i>
                    <i class="material-icons" *ngIf="!i.d" style="color: red;">close</i>

                    <i class="material-icons" *ngIf="i.r" style="color: green;">done</i>
                    <i class="material-icons" *ngIf="!i.r" style="color: red;">close</i>

                    


                    <br>{{i.hbl}}-{{i.weight}}
                
                </td>
                <td>
                    <ul>
                        <li>{{i.oname}}</li>
                        <li>{{i.pan}}</li>
                        <li>{{i.aadhar}}</li>
                        <li>{{i.dob|date:'dd-MM-yyyy'}}</li>
                        </ul>
                    </td>
                <td>
                    <ul>
                    <li [ngStyle]="{'background-color': i.rE}" style="color: black;">RC-{{i.regCardExpiry|date:'dd-MM-yyyy'}}</li>
                    <li [ngStyle]="{'background-color': i.dE}" style="color: black;">DL-{{i.drivingLicExpiry|date:'dd-MM-yyyy'}}</li>
                    </ul>
                </td>
                <td>
                    <ul *ngFor="let k of i.contact">
                        <li>{{k}}</li>
                    </ul>
                </td>
                <td *ngIf="role==1||role==2">
                    <ul *ngFor="let k of i.accountDetails">
                        <li>{{k.accountName}} : {{k.bankName}}</li>
                        <li>{{k.accountNumber}}</li>
                        <li>{{k.ifsc}}</li>
                        <hr>
                    </ul>
                </td>
                <td>
                    <ul *ngFor="let j of i.preferences;">
                        <li>{{j}}</li>
                    </ul>
                </td>
                <td  *ngIf="role==1||role==2">
                    <div class="btn-group-xs">                        
                        <i class="material-icons" style="color: red;cursor: pointer;" (click)="deleteOwnerDetails(i._id)">delete_forever</i>
                        <i class="material-icons" style="color: blue;cursor: pointer;" (click)="showDatabyid(i)">edit</i>
                      </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="show">
    <router-outlet></router-outlet>
</div>

</div>

<div *ngIf="!whichType">
<div class="well">
<div>
    <input type="text" [(ngModel)]="editTruck">
    <button class="btn btn-danger" (click)="getSingleTruck()"><i class="material-icons" >send</i></button></div>

    <table class="table" style="width:100%" align="center"  *ngIf="tableDate2">

        <thead>
            <tr class="table-header">
                <th>Srno</th>
                <th>Truck</th>
                <th>Owner Name<br>Pan<br>Aadhar<br>DOB</th>
                <th>Documents</th>
                <th>Contact</th>
                <th *ngIf="role==1||role==2">Account Details</th>
                <th>Prefer</th>
                <th *ngIf="role==1||role==2">Delete<br>Update</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of ownerdetailslist2;let j = index">
                <td>{{j+1}}<br>{{i.srno}}</td>
                <td>{{i.truckno}}-{{i.typeOfVehiclefirst}}
                    <br>{{i.hbl}}-{{i.weight}}
                </td>
                <td>
                    <ul>
                        <li>{{i.oname}}</li>
                        <li>{{i.pan}}
                            <i class="material-icons" *ngIf="i.P" style="color: green;">done</i>
                            <i class="material-icons" *ngIf="!i.P" style="color: red;">close</i>
                        </li>
                        <li>{{i.aadhar}}</li>
                        <li>{{i.dob|date:'dd-MM-yyyy'}}</li>
                        </ul>
                    </td>
                <td>
                    <ul>
                    <li [ngStyle]="{'background-color': i.rE}" style="color: black;">
                        RC-{{i.regCardExpiry|date:'dd-MM-yyyy'}}
                        <i class="material-icons" *ngIf="i.r" style="color: green;">done</i>
                        <i class="material-icons" *ngIf="!i.r" style="color: red;">close</i>
                    </li>
                    <li [ngStyle]="{'background-color': i.dE}" style="color: black;">
                        DL-{{i.drivingLicExpiry|date:'dd-MM-yyyy'}}
                        <i class="material-icons" *ngIf="i.d" style="color: green;">done</i>
                        <i class="material-icons" *ngIf="!i.d" style="color: red;">close</i>
                    </li>
                    </ul>
                </td>
                <td>
                    <ul *ngFor="let k of i.contact">
                        <li>{{k}}</li>
                    </ul>
                </td>
                <td *ngIf="role==1||role==2">
                    <ul *ngFor="let k of i.accountDetails">
                        <li>{{k.accountName}} : {{k.bankName}}</li>
                        <li>{{k.accountNumber}}</li>
                        <li>{{k.ifsc}}</li>
                        <hr>
                    </ul>
                </td>
                <td>
                    <ul *ngFor="let j of i.preferences;">
                        <li>{{j}}</li>
                    </ul>
                </td>
                <td  *ngIf="role==1||role==2">
                    <div class="btn-group-xs">                        
                        <i class="material-icons" style="color: red;cursor: pointer;" (click)="deleteOwnerDetails(i._id)">delete_forever</i>
                        <i class="material-icons" style="color: blue;cursor: pointer;" (click)="showDatabyid(i)">edit</i>
                      </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>