<div class="well container">

  <form [formGroup]="myFormGroup" (ngSubmit)="storeBankDetailsData(myFormGroup)" submitted=true enctype="multipart/form data"
    action="/">


    <!--Name-->
    <div class="form-group row">

      <div class="col-sm-2">
        <label for="Name"> Name </label>
      </div>

      <div class="col-sm-5">
        <select id="Name" class="form-control " formControlName="Name">
          <option> Name</option>
          <option *ngFor="let i of truckbankdetailslist">{{i.accountname}}</option>
        </select>
      </div>

      <div class="col-sm-2">
        <div [hidden]="myFormGroup.controls.Name.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>

    </div>
    <!--Name-->


    <!-- Account Number -->
    <div class="form-group row">

      <div class="col-sm-2">
        <label for="Accno"> Account Number </label>
      </div>


      <div class="col-sm-5">
        <input type="number" id="Accno" class="form-control" name="Accno" formControlName="Accno">
      </div>



      <div class="col-sm-2">
        <div [hidden]="myFormGroup.controls.Accno.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>

    <!-- Account Number -->



    <!--Bank Name-->
    <div class="form-group row">

      <div class="col-sm-2">
        <label for="BankName"> Bank Name </label>
      </div>

      <div class="col-sm-5">
        <select id="BankName" class="form-control " formControlName="BankName" [(ngModel)]="banknameC" (change)="setIFSC()">
          <option> BankName</option>
          <option *ngFor="let i of banknames" value={{i.IFSCode}}>{{i.bankname}}</option>
        </select>
      </div>

      <div class="col-sm-1">
        <div [hidden]="myFormGroup.controls.BankName.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>

    <!--Bank Name-->


    <!--IFSC-->
    <div class="form-group row">

      <div class="col-sm-2">
        <label for="IFSC"> IFSC </label>
      </div>
      <div class="col-sm-5">
        <input type="text" id="IFSC" class="form-control" [(ngModel)]="ifscC" formControlName="IFSC">

      </div>

      <div class="col-sm-1">
        <div [hidden]="myFormGroup.controls.IFSC.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>
    <!--IFSC-->




    <div class="row">
      <div class="form-group" class="col-sm-2"></div>
      <div class="form-group" class="col-sm-2">
        <button type="submit" class="btn btn-primary" [disabled]='!myFormGroup.valid'>
          <i class="material-icons">send</i>
        </button>
      </div>

      <div *ngIf="!submitted" class="col-sm-2">

        <button type="button" value="Reset Form" onClick="this.form.reset()" class="btn btn-danger">
          <i class="material-icons">redo</i>
        </button>
      </div>

      <div *ngIf="submitted" class="col-sm-2">
        <input type="button" value="Add More" onClick="this.form.reset()" (click)="back()" class="btn btn-success" />
      </div>

    </div>
  </form>





</div>