<div class="row">
  <div class="col-sm-1">
    <button class="btn btn-success btn-block" routerLink="BookDisp">Display</button>
    <button class="btn btn-success btn-block" routerLink="BookDispDateWise">DateWise</button>
    <button class="btn btn-success btn-block" routerLink="BookDispTruckWise">TruckWise</button>
    <button class="btn btn-success btn-block" routerLink="BookDispTruckWiseParty">TruckParty</button>
    <button class="btn btn-success btn-block" routerLink="CountByDateDisplay">Count</button>

  </div>
  <div class="col-sm-11">
    <router-outlet></router-outlet>
  </div>
</div>