:host ::-webkit-scrollbar {
    width: 0.3em;
  }
  
  :host ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(172, 172, 172, 0.911);
  }
  
  :host ::-webkit-scrollbar-thumb {
  background-color: #3ABFC8;
  outline: 1px solid rgb(100, 114, 128);
  border-radius: 50px;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .container {
    color: rgb(56, 56, 56);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-left: 200px;
    padding-right: 200px;
  }
  
  mat-expansion-panel {
    width: 750px;
    background-color: white;
  }
  
  .msg-overflow {
    max-height: 75vh;
    overflow-y: auto;
    max-width: 50%;
    margin-left: 39rem;
  }
  
  .expansion-class {
    margin-top: 10px;
    overflow-x: hidden;
  }
  
  .msger-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
  }
  .msger-chat::-webkit-scrollbar {
    width: 6px;
  }
  .msger-chat::-webkit-scrollbar-track {
    background: #ddd;
  }
  .msger-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
  }
  .msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  .msg:last-of-type {
    margin: 0;
  }
  .msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }
  .msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background:#ececec;
  }
  .msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .msg-info-name {
    margin-right: 10px;
    font-weight: bold;
  }
  .msg-info-time {
    font-size: 0.85em;
  }
  
  .left-msg .msg-bubble {
    border-bottom-left-radius: 0;
  }

  .center-msg .msg-bubble {
    border-bottom-left-radius: 0;
    margin-left: 30vh;
  }
  
  .right-msg {
    flex-direction: row-reverse;
  }
  .right-msg .msg-bubble {
    background: #3ABFC8;
    color: #fff;
    border-bottom-right-radius: 0;
  }
  .right-msg .msg-img {
    margin: 0 0 0 10px;
  }
  
  .msger-chat {
    background-color: #fcfcfe;
  }
  
  .pageControls {
    display: block !important;
  }
  
  .filterOptions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 600px;
  }
  
  .filterOptions button {
    margin-bottom: 20px;
  }
  
  .loader {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .msg-info-name{
      font-weight: bold;
  }input,select,table{
    background-color: black;
    color: wheat;
  }
  .well{
    background-color: black;
    color: wheat;
  }
  button{
    color: black;
  }
  
  thead>tr{
    color: black;
  }