<div class="well">

  <form [formGroup]="myFormGroup" (ngSubmit)="testCheck(myFormGroup)" submitted=true enctype="multipart/form data"
    action="/" name="myform" id="myform">
    <!--Name-->
    <div class="form-group row">

      <div class="col-md-6">
        <input type="file" id="FName" class="form-control" formControlName="FName" (change)="incomingFile($event)">
      </div>
    </div>
    <div class="form-group row">

      <div class="col-md-6">
        <input type="text" class="form-control" formControlName="UName" placeholder="Enter your whatsapp userID">
      </div>
    </div>
    <!--Name-->

    <div class="row">
      <div class="form-group" class="col-xs-1">
        <button type="submit" class="btn btn-primary" [disabled]='!myFormGroup.valid' id="buttonUpload">
          <i class="material-icons">send</i>
        </button>
      </div>
    </div>
  </form>
</div>




<div class="msg-overflow">
  <main class="msger-chat" *ngFor="let i of suyash" class="expansion-class">

    <div class="msg left-msg" *ngIf="i.Message[0]!== UserName && i.Message.length!=1">

      <div class="msg-bubble">
        <div class="msg-info">
          <div class="msg-info-time">{{i.Date}}:{{i.Time}}
            <div class="msg-info-name">{{i.Message[0]}}</div>
          </div>

        </div>
        <div class="msg-text">
          {{i.Message[1]}}
        </div>
      </div>

    </div>


    <div class="msg center-msg" *ngIf="i.Message[0]!== UserName &&i.Message.length==1">

      <div class="msg-bubble">
        <div class="msg-info">
          <div class="msg-info-time">{{i.Date}}:{{i.Time}}
            <div class="msg-info-name">{{i.Message[0]}}</div>
          </div>

        </div>
        <div class="msg-text">
          {{i.Message[1]}}
        </div>
      </div>

    </div>




    <div class="msg right-msg" *ngIf="i.Message[0]=== UserName">

      <div class="msg-bubble">
        <div class="msg-info">
          <div class="msg-info-time">{{i.Date}}:{{i.Time}}
            <div class="msg-info-name">{{i.Message[0]}}</div>
          </div>

        </div>
        <div class="msg-text">
          {{i.Message[1]}}
        </div>
      </div>

    </div>


  </main>
</div>
<div>
  <span *ngFor="let i of array" style="text-align: center;">
    <button (click)="textMe(i.value)" *ngIf="i.selected" class="btn btn-warning" value={{i.value}}>{{i.value}}</button>
    <button (click)="textMe(i.value)" *ngIf="!i.selected" class="btn btn-primary" value={{i.value}}>{{i.value}}</button>
  </span>
</div>