.header-head{
  background-color: orange;
  color:white;
  padding: 1%;
      border-radius: 100px;
      text-align: center;
}

button{
    border-radius: 100px;
    margin-left: 5px;
    margin-right: 5px;
}

.well{
    border-color:#f5f5f5;
    box-shadow: none;
}


