<div class="container-fluid" *ngIf="moreDetailsOfTruck">
  <div class="row">
    <div class="form-group col-xs-2" align="center">
      <select class="form-control " [(ngModel)]="truckno" (change)="find()">
        <option selected>Select Names</option>
        <option *ngFor="let own of ownerdetailslist">{{own.truckno}}</option>
      </select>
    </div>
  </div>

  <div class="row" *ngIf="showcount">
    <h1 class="truckName">{{truckno}}</h1>

    <table class="table" style="width:50%" align="center">
      <thead>
        <tr class=table-header>
          <th>Name</th>
          <th>Count</th>
          <th>Check</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of countByDate">
          <td *ngIf="i.count!=0">{{i.name}}</td>
          <td *ngIf="i.count!=0">{{i.count}}</td>
          <td *ngIf="i.count!=0">
            <button mat-raised-button type="button" (click)="showDatabyid(i.name)" class="btn-primary btn-sm btn-just-icon edit">
              <i class="material-icons">edit</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="!moreDetailsOfTruck" class="row">
  <div class="col-lg-12">
    <h2 style="text-align: center;font-weight: bold">{{bookingnamelist[0].nop}}=>{{truckno}}</h2>
    <table class="table" style="width:100%" align="center">

      <thead align="center" style="font-weight: bold">
        <tr class=table-header>
          <th>Srno</th>
          <th>Date</th>
          <th>LRNO</th>
          <th>Hire Amount</th>
          <th>Place</th>
        </tr>
      </thead>

      <tbody align="center">
        <tr *ngFor="let i of bookingnamelist;let j = index">
          <td>{{j+1}}</td>
          <td>{{i.Date|date: 'dd-MM-yyyy'}}</td>
          <td>{{i.lrno}}</td>
          <td>{{i.hamt}}</td>
          <td>{{i.place}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <button class="btn btn-danger" (click)="back()" style="width: 50%;margin-left: 25%;">Back</button>
  </div>

</div>