button{
    border-radius: 100px;
}

.table-header{
  background-color: orange;
  color: white;
  font-weight: bold;
}

.nonzero{
  color:#377BB5;
}

.truckName{
  text-align: center;
  color:orange;
}