<div class="well">

  <form [formGroup]="myFormGroup" (ngSubmit)="storeTruckBankDetailsData(myFormGroup)" submitted=true enctype="multipart/form data"
    action="/">



    <div class="form-group row">
      <div class="col-xs-3">


        <input type="text" id="truckno" class="form-control" formControlName="truckno" placeholder="TN02 AB 2045">
      </div>
      <div class="col-xs-2">
        <div [hidden]="myFormGroup.controls.truckno.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        <input type="text" id="accountname" class="form-control" formControlName="accountname" placeholder="Name">
      </div>
      <div class="col-xs-2">
        <div [hidden]="myFormGroup.controls.accountname.valid">
          <font color="red">
            <span class="glyphicon glyphicon-remove"></span>
          </font>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group" class="col-xs-2"></div>
      <div class="form-group" class="col-xs-1">
        <button type="submit" class="btn btn-primary" [disabled]='!myFormGroup.valid'>
          <i class="material-icons">send</i>
        </button>
      </div>

      <div *ngIf="!submitted" class="col-xs-1">

        <button type="button" value="Reset Form" onClick="this.form.reset()" class="btn btn-danger">
          <i class="material-icons">undo</i>
        </button>
      </div>

      <div *ngIf="submitted" class="col-xs-1">
        <button type="button" value="Add More" onClick="this.form.reset()" (click)="back()" class="btn btn-success">
          <i class="material-icons">add</i>
        </button>
      </div>

    </div>
  </form>





</div>