<div class="container">

  <nav class="navbar navbar-inverse" style="position: fixed;width:100%;z-index:1;"> 
    <div class="container row" style="width: 100%;">
      <div class="col-sm-6">
      <div class="navbar-header">
        <a class="navbar-brand fonthead" routerLink="NRCM_HOME">
          Nitin Roadways And Cargo Movers
        </a>
      </div>
    </div>
    </div>

    <div class="container" *ngIf="sstab">
      <h3>Name : {{data.displayName}}</h3>
      <ul>
        <li>I reside in {{data.city}}</li>
        <li>Blood Group : {{data.bgrp}}</li>
        <li>Contact : {{data.contact}}</li>
        <li>Registration ID : {{data.nrcmid}}</li>
        <li>Employee ID : {{data.empid}}</li>
        <li>If this card is lost please contact +91 8529275757</li>
      </ul>
    </div>

    <div class="container" *ngIf="ss==='q'">
      <h3>Please wait while we direct you to Whatsapp!</h3>
    </div>
    
    <div class="container" *ngIf="ss==='c'">
      <button class="btn btn-warning" (click)="call()">Click to call the driver!</button>
<br><br><br><br>
      We will redirect you to the phone page!
    </div>
    
    <br><br><br><br>
    <!-- <div class="row" style="text-align: center"> -->
      © 2025 NITIN ROADWAYS AND CARGO MOVERS<br>
      Safe | Fast | Reliable | Punctual | 24*7 Avaliable
    <!-- </div> -->


  </nav>



</div>