<div class="row">
  <div class="col-sm-2">
      <button class="btn btn-info" (click)="getWhichType('2')">Get All Transports</button>
  </div>
  <div class="col-sm-2">
    <button class="btn btn-info" (click)="getWhichType('3')">Attach Trucks</button>
</div>

<div class="col-sm-2">
    <button class="btn btn-info" (click)="getWhichType('4')">Envelope Trucks</button>
</div>

</div>





<div *ngIf="whichType==='2'">
    <div class="well">
    <div>
      <input type="text" [(ngModel)]="data" (change)="newData()">
    
      <table class="table" style="width:100%" align="center"  *ngIf="tableDataTF">
    
          <thead>
              <tr class="table-header">
                  <th>Srno</th>
                  <th>Tpt Name</th>
                  <th>Owner Name<br>Pan</th>
                  <th>Address</th>
                  <th>Contact</th>
                  <th>Email</th>
                  <th>TruckNos</th>
                  <th>Attach</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let i of tableData;let j = index">
                  <td>{{j+1}}</td>
                  <td>{{i.tptName}}</td>
                  <td><ul><li>{{i.oname}}</li><li>{{i.pan}}</li></ul></td>
                  <td>
                      <ul>
                      <li>{{i.addr1}}</li>
                      <li>{{i.addr2}}</li>
                      <li>{{i.addr3}}</li></ul>
                  </td>
                  <td>
                      <ul *ngFor="let k of i.contact">
                          <li>{{k}}</li>
                      </ul>
                  </td>
                  <td>{{i.email}}</td>
                 
                  <td>
                      <ul *ngFor="let j of i.trucks;">
                          <li>{{j}}</li>
                      </ul>
                  </td>
                  <td *ngIf="!i.attach"><button class="btn btn-success" (click)="attachToList(i)">Attach!</button></td>
                  <td *ngIf="i.attach"><button class="btn btn-danger" (click)="detachToList(i)">Attach!</button></td>
                 </tr>
          </tbody>
      </table>
    </div>
    </div>
    </div>

    <div *ngIf="whichType==='3'">
        <div class="well">
        <div>
          <table class="table" style="width:100%" align="center"  >
        
              <thead>
                  <tr class="table-header">
                      <th>Srno</th>
                      <th>Tpt Name</th>
                      <th>Owner Name<br>Pan</th>
                      <th>Address</th>
                      <th>Contact</th>
                      <th>Email</th>
                      <th>TruckNos</th>
                      <th>TruckNo</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let i of attachToListA;let j = index">
                      <td>{{j+1}}</td>
                      <td [ngStyle]="{'background-color': i.color }">{{i.tptName}}</td>
                      <td><ul><li>{{i.oname}}</li><li>{{i.pan}}</li></ul></td>
                      <td>
                          <ul>
                          <li>{{i.addr1}}</li>
                          <li>{{i.addr2}}</li>
                          <li>{{i.addr3}}</li></ul>
                      </td>
                      <td>
                          <ul *ngFor="let k of i.contact">
                              <li>{{k}}</li>
                          </ul>
                      </td>
                      <td>{{i.email}}</td>
                     
                      <td>
                          <ul *ngFor="let jj of i.trucks;">
                              <li>{{jj}}</li>
                          </ul>
                      </td>
                      <td><input type="text" id="{{j}}"></td>

                     </tr>
              </tbody>
          </table>
          <div class="col-sm-2">
            <button class="btn btn-info" (click)="sendAllTrucksForAttachment()">Attach Trucks</button>
        </div>
        </div>
        </div>
        </div>

        <div *ngIf="whichType==='4'">
            <div class="well">
            <div>
              <input type="text" [(ngModel)]="trucknodata" (click)="newData()">
              <button class="btn btn-danger" (click)="getsingleTrucks()"><i class="material-icons" >send</i></button>

              <table class="table" style="width:100%" align="center"  *ngIf="tableDataTF4">
            
                  <thead>
                      <tr class="table-header">
                          <th>Srno</th>
                          <th>Truck No</th>
                          <th>Contact</th>
                          <th>Native Place</th>
                          <th>Attach</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let i of tableData4;let j = index">
                          <td>{{j+1}}</td>
                          <td>{{i.truckno}}</td>
                          <td>
                            <input type="text" id="contactO" class="form-control" [(ngModel)]="contactOA"
                            [ngModelOptions]="{standalone: true}" placeholder="9876543211">
                          <button type="button" class="btn btn-primary" (click)="addMoreO(j)">Add</button>


                              <ul *ngFor="let ii of i.contact;let jj =index;">
                                <li>{{ii}} <button type="button" mat-raised-button (click)="deleteOOne(j,jj)"
                                    class="btn-danger btn-sm btn-just-icon">
                                    <i class="material-icons">delete_forever</i>
                                  </button></li>
                              </ul>
                          </td>
                         
                          <td>
                              <ul *ngFor="let kk of i.nativeplaces;let jj=index;">
                                  <li>{{kk}}</li>
                              </ul>
                          

                            <select class="form-control" [(ngModel)]="nA" [ngModelOptions]="{standalone: true}"  (change)="findvillagedetailsN(j)">
                                <option disabled selected>Select Village</option>
                                <option *ngFor="let ii of villagedetails;let jj=index;" value={{ii.village_name}}>{{ii.village_name}}
                                </option>
                              </select>
                              
                            
                              <ul *ngFor="let i of nativeArrayName;let j =index;">
                                <li>{{i}} <button type="button" mat-raised-button (click)="deleteOneN(j,jj)"
                                    class="btn-danger btn-sm btn-just-icon">
                                    <i class="material-icons">delete_forever</i>
                                  </button></li>
                              </ul>


                          </td>
                          <td><button class="btn btn-success" (click)="attachToOwner3(i,j)">Attach!</button></td>
                         </tr>
                  </tbody>
              </table>
            </div>
            </div>
            </div>